.notfound {
    min-height: 100vh;
    padding: 134px 58px;
    background-color: fade(@color1, 33%);
    background-image: linear-gradient(to bottom, rgba(182, 133, 103, 0.33), rgba(182, 133, 103, 0.33)),
    url(../images/required/bg.jpg);
    .bg-img();
    &__title {
        margin-bottom: 16px;
        font-size: 237px;
        font-weight: 500;
        text-align: center;
        color: @color2;
    }
    &__content {
        padding: 36px;
        font-size: 18px;
        background: fade(@color2, 67%);
        border: 1px solid @color2;
        border-radius: 3px;
    }
    &__text {
        margin: 0 0 22px;
        line-height: 1.33;
        color: @color6;
    }
    &__desc {
        span {
            line-height: 1.56;
            color: @color6;
        }
        a {
            margin: 0 8px;
            font-weight: 500;
            text-decoration: underline;
            line-height: 1.28;
            color: @mainColor;
        }
    }
}

@media screen and (min-width: 768px) {
    .notfound {
        padding-right: 78px;
        padding-left: 78px;
        &__content {
            padding-right: 60px;
            padding-left: 60px;
        }
        &__text {
            margin-bottom: 24px;
        }
    }
}
@media screen and (min-width: 1024px) {
   .notfound {
        padding-right: 102px;
        padding-left: 102px;
        &__title {
            text-align: left;
        }
        &__content {
            width: 742px;
        }
   }
}
@media screen and (min-width: 1440px) {
    .notfound {
        padding-right: 0;
        padding-left: 0;
        .main-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title {
            margin-right: 60px;
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 1920px) {
    .notfound {
        background-position: top;
    }
}