.about {
    & .main-header__content {
        min-height: auto;
        padding-top: 136px;
        padding-bottom: 0;
        background-color: @color2;
    }
    & .section-about {
        padding: 60px 24px 110px;
    }
    &__team {
        background-color: @color3;
        & .section-team {
            & .section__title {
                margin-bottom: 60px;
            }
        }
    }
}


// BANNER
.about-banner {
    background-color: @color2;
    &__text {
        padding: 36px 20px;
    }
    &__subtitle {
        margin: 0 0 24px;
        font-size: 15px;
        line-height: 1.87;
        text-align: center;
        color: @color6;
    }
    & .section__title {
        padding: 0;
        font-size: 53px;
        line-height: .92;
    }
    &__video {
        &>div {
            position: relative;
            height: 284px;
        }
        & video, & iframe {
            width: 100%;
            height: 100%;
            box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2);
        }
    }
    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2)),
        url(../images/example/poster.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2);
        & button {
            display: block;
            width: 80px;
            height: 80px;
            background-color: transparent;
            background-image: url(../images/svg/play_calm.svg);
            .bg-img();
            border: none;
            &:hover {
                background-image: url(../images/svg/play_hover.svg);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        & .section-about {
            padding: 320px 20px 110px;
        }
        & .founder-block {
            padding-bottom: 90px;
        }
        &-banner {
            position: relative;
            padding-bottom: 134px;
            &__text {
                padding: 60px 20px;
            }
            &__video {
                position: absolute;
                width: 100%;
                padding: 0 20px;
                &>div {
                    height: 360px;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .about {
        & .section-about {
            padding: 120px 8px 162px;
        }
        & .founder-block {
            padding-bottom: 0;
        }
        &-banner {
            display: flex;
            padding-top: 60px;
            padding-bottom: 80px;
            &__subtitle {
                text-align: left;
            }
            & .section__title {
                font-size: 42px;
                line-height: 0.95;
                text-align: left;
            }
            &__text {
                width: 33%;
                padding: 30px 26px 40px;
            }
            &__video {
                position: relative;
                width: 67%;
                padding: 0;
                &>div {
                    height: 338px;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .about {
        & .section-about {
            padding: 152px 60px 148px;
        }
        &-banner {
            padding-top: 58px;
            padding-bottom: 120px;
            & .section__title {
                font-size: 53px;
                line-height: 0.92;
            }
            &__text {
                width: 480px;
                padding: 32px 52px 0px 60px;
            }
            &__video {
                position: absolute;
                top: 58px;
                right: 0;
                &>div {
                    height: 472px;
                }
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .about {
        & .section-about {
            padding: 362px 60px 184px;
        }
        &-banner {
            padding-top: 60px;
            &__text {
                padding: 30px 0 0 48px;
            }
            &__video {
                top: 60px;
                &>div {
                    height: 632px;
                }
            }
        }
    }
}