.article {
    & .main-header__content {
        position: relative;
        min-height: auto;
        padding-bottom: 0;
        background-color: rgba(255, 255, 255, 0.73);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 0.73)),
        url(../images/example/engagement.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-header {
        padding: 32px 58px 222px;
        &__slogan {
            display: inline-block;
            padding: 8px 18px;
            margin-bottom: 44px;
            font-size: 12px;
            text-transform: uppercase;
            color: @color2;
            background-color: @color1;
        }
        &__title {
            margin-bottom: 36px;
            font-family: @otherFont;
            font-size: 68px;
            line-height: 0.76;
            color: @mainColor;
        }
        &__date {
            font-size: 12px;
            line-height: 1.92;
            color: @color4;
        }
    }
    &__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 24px;
        background-color: @color2;
        & p {
            font-size: 15px;
            line-height: 1.87;
            color: @color6;
        }
        & span {
            margin-left: 4px;
            line-height: 1.53;
            color: @mainColor;
        }
    }
    &-main {
        padding: 62px 24px 68px;
        background-color: #fef5f5;
        background-image: url(../images/required/slogan-back.svg);
        & p {
            margin: 0;
            font-size: 18px;
            line-height: 1.89;
            color: @color6;
        }
        &__about {
            margin-bottom: 36px;
            & p {
                margin-bottom: 36px;
                font-size: 18px;
                line-height: 1.89;
                color: @color6;
            }
            & img {
                display: block;
                margin: 0 -24px;
                width: 100vw;
                height: auto;
            }
        }
        &__interview {
            & p.article-main__title {
                margin-bottom: 16px;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.89;
                color: @mainColor;
            }
            & p.article-main__subtitle {
                margin-bottom: 24px;
                font-size: 21px;
                font-weight: 500;
                line-height: 1.43;
                color: @color4;
            }
            & p:not([class*="article-main"]) {
                margin-bottom: 60px;
            }
            & ins {
                color: @color4;
            }
            & ul {
                padding: 0;
                margin: 0 0 36px;
                list-style: none;
                & li {
                    position: relative;
                    padding-left: 22px;
                    font-size: 18px;
                    line-height: 1.89;
                    color: @color6;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 8px;
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        color: @mainColor;
                        background-color: @mainColor;
                        border-radius: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            & blockquote {
                position: relative;
                padding-left: 60px;
                margin: 0 0 68px;
                font-family: @otherFont;
                font-size: 53px;
                line-height: 0.92;
                color: @mainColor;
                &::before, &::after {
                    position: absolute;
                    display: block;
                    content: ',,';
                    font-family: @quoteFont;
                    font-size: 135px;
                    color: @mainColor;
                }
                &::before {
                    top: 0;
                    left: 0;
                    transform: rotate(180deg);
                }
                &::after {
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &__contacts {
            & span {
                margin-right: 24px;
                font-size: 15px;
                line-height: 1.87;
                color: @color1;
            }
            & a {
                display: inline-block;
                width: 14px;
                height: 14px;
                font-size: 15px;
                line-height: 1.87;
                color: @color1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                &:nth-of-type(n+2) {
                    margin-left: 32px;
                }
                &.facebook {
                    background-image: url(../images/svg/facebook_article.svg);
                }
                &.instagram {
                    background-image: url(../images/svg/instagram_article.svg);
                }
                &.telegram {
                    background-image: url(../images/svg/telegram_article.svg);
                }
            }
        }
    }
    &-testimonial {
        padding: 36px 24px;
        background-color: @color2;
        & .section__title {
            margin-bottom: 36px;
            font-size: 73px;
            line-height: 0.67;
        }
        &__list {
            padding: 0;
            margin: 0 0 24px;
            list-style: none;
        }
        &__item {
            &:not(:last-of-type) {
                margin-bottom: 24px;
                border-bottom: 1px solid @color4;
            }
        }
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 26px 24px 24px;
        background-color: @color3;
        &__btn {
            flex: 0 0;
            position: relative;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.33;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            text-align: center;
            color: @color2;
            background-color: transparent;
            border: none;
            &:hover {
                color: #fff;
                &::after, &::before {
                    background-image: url(../images/svg/link_arrow_article_hover.svg);
                }
            }
            &:nth-of-type(2) {
                flex-basis: auto;
                text-align: center;
                color: @color7;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom-color: @color2;
                }
            }
    
            &::before,
            &::after {
                position: absolute;
                top: 0;
                display: block;
                content: '';
                background-image: url(../images/svg/link_arrow_hover.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
    
            &-prev {
                text-align: left;
                padding-left: 30px;
    
                &::before {
                    left: 0;
                    width: 16px;
                    height: 11px;
                    transform: rotate(180deg) translateY(-50%);
                }
            }
    
            &-next {
                padding-right: 30px;
                text-align: right;
    
                &::before {
                    right: 0;
                    width: 16px;
                    height: 11px;
                    transform: translateY(50%);
                }
            }
        }
    }
    &-aside {
        padding: 60px 24px 0;
        background-color: @color3;
        & .section-news {
            padding-top: 0;
            margin: 0 -24px;
            & .section__title,
            & .section-news__btn {
                display: none;
            }
        }
        &__title {
            margin-bottom: 24px;
            font-size: 28px;
            line-height: 1.54;
            color: @color2;
        }
        &__gallery {
            padding: 36px 0 60px;
        }
    }
}

.testimonial-block {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        & img {
            display: block;
            width: 60px;
            height: 60px;
            border: 3px solid @color4;
            border-radius: 50%;
            object-fit: cover;
        }

        & div {
            margin-left: 24px;
            & p {
                margin: 0 0 4px;
                font-size: 18px;
                line-height: 1.33;
                color: @color4
            }
            & span {
                display: inline-block;
                font-size: 13px;
                line-height: 1.62;
                text-align: center;
                color: rgba(0, 0, 0, 0.47);
            }
        }
    }
    &__content {
        position: relative;
        max-height: 147px;
        margin-bottom: 16px;
        overflow: hidden;
        transition: max-height .3s linear;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 42px;
            background-image: linear-gradient(to bottom,
                rgba(255, 236, 188, 0.4) 0%,
                rgba(255, 236, 188, 1) 100%);
            transition: all .3s linear;
        }
        &.open {
            max-height: 100%;
            &::after {
                background-image: none;
            }
        }
        & p {
            margin: 0;
            font-size: 13px;
            line-height: 1.62;
            color: #000;
            &:not(:last-of-type) {
                margin-bottom: 1em;
            }
        }
    }
    &__btn {
        font-size: 12px;
        text-transform: uppercase;
        color: @color1;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &::before {
            display: inline-block;
            content: 'Показать весь текст';
        }
        &.open::before {
            content: 'спрятать текст';
        }
    }
}

.comments-block {
    padding: 24px 0;
    &__btn {
        font-size: 12px;
        text-decoration: underline;
        color: @color4;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &+div {
            margin-top: 24px;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        & img {
            display: block;
            width: 40px;
            height: 40px;
            border: 2px solid @color4;
            border-radius: 50%;
            object-fit: cover;
        }
        & div {
            margin-left: 16px;

            & p {
                margin: 0 0 4px;
                font-size: 18px;
                line-height: 1.33;
                color: @color4;
            }

            & span {
                display: inline-block;
                font-size: 13px;
                line-height: 1.62;
                text-align: center;
                color: rgba(0, 0, 0, 0.47);
            }
        }
    }
    &__content {
        padding-left: 56px;
        & p {
            margin: 0;
            font-size: 13px;
            line-height: 1.62;
            color: #000;
            &:not(:last-of-type) {
                margin-bottom: 1em;
            }
        }
        & .comments-block__btn {
            margin-top: 24px;
            text-decoration: none;
        }
    }
    &__form {
        display: none;
        img {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 16px;
            background-image: url(../images/svg/photo.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50% 50%;
            border: 2px solid @color4;
            border-radius: 50%;
            object-fit: cover;
        }
        form {
            flex: 0 0 360px;
        }
        input[type="submit"] {
            display: inline-block;
            width: auto;
            padding: 10px 18px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            .button();
            background-color: @mainColor;
        }
        input, & textarea {
            display: block;
            width: 100%;
            padding: 10px 16px;
            margin-bottom: 10px;
            resize: none;
            font-size: 13px;
            line-height: 1.62;
            letter-spacing: -0.2px;
            color: @color1;
            background-color: #fef5f5;
            border: none;
            border-radius: 3px;
            &::placeholder {
                color: @color1;
            }
        }
        &.open {
            display: flex;
            align-items: flex-start;
        }
    }
}

.article-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__title {
        position: relative;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.34;
        color: @color6;
        &::after {
            .icon-after();
            top: unset;
            bottom: 0;
            background-image: url(../images/svg/testimonial.svg);
        }
    }
    &__subtitle {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 1.89;
        color: @color6;
    }

    & div {
        position: relative;
        margin-bottom: 10px;
        &:nth-of-type(-n+2) {
            flex: 0 0 48%;
        }
        &:nth-of-type(n+3) {
            flex: 0 0 100%;
        }
    }

    & input:not([type="submit"]),
    textarea {
        display: block;
        width: 100%;
        padding: 10px 16px;
        font-size: 13px;
        line-height: 1.85;
        color: @color2;
        background-color: @color1;
        border: none;
        border-radius: 3px;

        &::placeholder {
            color: @color2;
        }
    }

    & label {
        position: relative;
        font-size: 12px;
        line-height: 1.92;
        color: @color1;
    }

    & input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        filter: opacity(0);

        &+label {
            padding-left: 22px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                width: 14px;
                height: 14px;
                border-radius: 3px;
                border: 1px solid @color1;
            }
        }

        &:checked+label::before {
            background: url(../images/svg/form_contacts_checked.svg) no-repeat;
            background-position: center;
            background-size: contain;
            border-color: transparent;
        }
    }

    & textarea {
        resize: none;
    }
    & input[type="submit"] {
        width: 100%;
        padding: 18px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: @color4;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
            0 2px 4px 0 rgba(99, 71, 77, 0.2);
    }
}

.article-gallery {
    &__btn {
        margin-bottom: 36px;
        & div {
            display: inline-block;
            padding: 12px 16px;
            margin-right: 24px;
            // margin-bottom: 18px;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            color: @color1;
            background-color: @color2;
            &:nth-of-type(n+5) {
                margin-top: 18px;
            }
        }
    }
    &__img {
        padding: 0 42px;
        & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .article {
        & .main-header__content {
            background-position: left;
        }
        &-header {
            padding: 60px 78px 218px;
            &__slogan {
                margin-bottom: 32px;
            }
            &__title {
                margin-bottom: 60px;
            }
        }
        &__desc {
            right: 0;
            left: unset;
            width: 50%;
            padding: 24px 36px;
        }
        &-main {
            padding: 80px 20px 90px;
            &__about {
                img {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        &-testimonial {
            padding: 60px 20px 36px;
        }
        .testimonial-block {
            &__content, &__btn {
                padding-left: 82px;
            }
        }
        .comments-block {
            padding-left: 82px;
        }
        &-form {
            & div:last-of-type {
                flex-basis: auto;
            }
            input[type="submit"] {
                flex: 0 0 298px;
            }
        }
        &-nav {
            padding-right: 20px;
            padding-left: 20px;
            &__btn:not(:nth-of-type(2)) {
                flex-grow: 1;
            }
        }
        &-aside {
            padding: 90px 20px 0;
            & .section-news {
                margin: 0 -20px;
            }

            &__gallery {
                padding: 60px 0;
            }
        }
        &-gallery {
            display: flex;
            align-items: flex-start;
            &__btn {
                flex: 0 0 50%;
                margin-bottom: 0;
                div:nth-of-type(n+5) {
                    margin-top: 0;
                }
                div:nth-of-type(n+4) {
                    margin-top: 18px;
                }
            }
            &__img {
                flex: 0 0 50%;
                padding: 0;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .article {
        & .main-header__content {
            padding-top: 120px;
        }
        &-header {
            padding: 60px 50px 140px 102px;
            &__slogan {
                margin-bottom: 14px;
            }
            &__title {
                font-size: 95px;
                line-height: 1.01;
            }
        }
        &-main {
            padding: 100px 32px;
            & p, & ul {
                max-width: 640px;
                margin-right: auto;
                margin-left: auto;
            }
            &__contacts {
                max-width: 640px;
                margin: 0 auto;
            }
        }
        &-testimonial {
            display: flex;
            flex-wrap: wrap;
            padding: 100px 26px;

            & .section__title {
                flex: 0 0 100%;
                margin-bottom: 60px;
            }

            &__list {
                flex: 1 0;
                margin-right: 42px;
            }

            &__form {
                flex: 0 0 298px;

                & div:nth-of-type(-n+2) {
                    flex-basis: 100%;
                }

                & input[type="submit"] {
                    flex-basis: 100%;
                }
            }
        }
        &-aside {
            padding: 100px 26px 0;
            & .section-news {
                margin: 0 -26px;
            }
            &__galery {
                padding-bottom: 100;
            }
        }
        &-gallery {
            &__btn {
                flex-basis: 48%;
            }
        }
        &-form {
            & div {
                margin-bottom: 16px;
            }
        }
        &-nav {
            padding-right: 26px;
            padding-left: 26px;
        }
    }
}
@media screen and (min-width: 1440px) {
    .article {
        & .main-header__content {
            padding-top: 150px;
        }
        &-header {
            max-width: 992px;
            padding: 32px 0 142px 142px;
            &__slogan {
                margin-bottom: 40px;
            }
        }
        &__desc {
            width: 33.33%;
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
        }
        &-main {
            flex: 1 0;
            padding: 100px 0 60px;
            &__interview {
                & blockquote {
                    max-width: 775px;
                    padding: 0;
                    margin: 0 auto 95px;
                    &::before {
                        transform: rotate(180deg) translateX(100%);
                    }
                }
            }
        }
        &-testimonial {
            order: 1;
            padding-right: 60px;
            padding-left: 60px;
            &__list {
                margin-right: 120px;
            }
            &__form {
                flex-basis: 360px;
            }
        }
        &-nav {
            flex: 0 0 100%;
            order: 1;
            padding-right: 60px;
            padding-left: 60px;
        }
        &-aside {
            flex: 0 0 33.33%;
            padding: 100px 36px 0;
            & .section-news {
                margin: 0 -36px;
                .news-block {
                    display: block;
                    &__item:nth-of-type(n+3) {
                        display: none;
                    }
                }
            }
            &__nav {
                display: none;
            }
            &__gallery {
                display: block;
            }
        }
        &-gallery {
            &__btn {
                margin-bottom: 64px;
            }
        }
    }
    .testimonial-block {
        &__content {
            max-width: 640px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .article {
        &-header {
            max-width: 66.67%;
            padding: 60px 0 236px 188px;
        }
        &-main {
            padding-bottom: 65px;
            & img {
                max-width: 960px;
                margin-right: auto;
                margin-left: auto;
            }
            & blockquote {
                max-width: 960px;
            }
        }
        &-testimonial {
            justify-content: space-between;
            &__list {
                flex-grow: 0;
                flex-basis: 840px;
            }
        }
    }
}