.blog {
    background-color: @color2;
    & .main-header__content {
        min-height: auto;
        padding-top: 136px;
        padding-bottom: 0;
        background-color: @color2;
    }
    &__header {
        padding: 0 60px;
        .section__title {
            font-size: 95px;
            line-height: 1.01;
            text-align: left;
        }
    }
    &-nav {
        padding: 36px 0;
        &__slag {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0 0 -16px;
            li {
                padding: 12px 16px;
                margin-right: 24px;
                margin-bottom: 16px;
                font-size: 14px;
                text-transform: uppercase;
                list-style: none;
                color: @color2;
                background-color: @color1;
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover {
                    color: rgba(0, 0, 0, 0.47);
                    background-color: #ebebeb;
                }
            }
        }
    }
    &__btn {
        display: block;
        padding: 24px 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        text-align: center;
        color: @color7;
        background-color: @color4;
    }
}

.select-tag {
    margin-top: 16px;
    &__select {
        position: relative;
        width: 300px;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 16px;
        line-height: 1.44;
        border: solid 1px @mainColor;
        border-radius: 3px;
        cursor: pointer;
        &:after {
            position: absolute;
            top: 50%;
            right: 18px;
            z-index: 3;
            display: block;
            content: '';
            width: 10px;
            height: 6px;
            .bg-img();
            background-image: url(../images/svg/select_blog_arrow.svg);
            transform: translateY(-50%);
        }
        &.active {
            background-color: #fef5f5;
            border: none;
            box-shadow: 0 2px 14px 0 rgba(182, 133, 103, 0.5);
            border-radius: 3px 3px 0 0;
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &__option {
        position: relative;
        width: 100%;
        padding: 10px 16px;
        color: @mainColor;
    }
    &__options {
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 2;
        width: 100%;
        max-height: 0px;
        padding: 0;
        margin: 0;
        list-style: none;
        color: @color6;
        background-color: #fef5f5;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 10px 14px -4px rgba(182, 133, 103, 0.5);
        overflow: hidden;
        transform: translateY(100%);
        transition: all .2s ease-in;
        &.active {
            max-height: 1000%;
        }
        li {
            padding: 10px 16px;
            cursor: pointer;
        }
    }
    select {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .blog {
        &-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__slag {
                margin-bottom: 0;
                li {
                    margin-bottom: 0;
                }
            }
        }
    }
    .select-tag {
        margin-top: 0;
    }
}