.calendar {
    background-color: @color2;
    &__wrapper {
        position: relative;
    }
    & .main-header__content {
        min-height: unset;
        padding-top: 150px;
        padding-bottom: 0;
    }
    & ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
    &__header {
        padding: 60px 20px 36px;
        & .section__title {
            margin-bottom: 62px;
            font-size: 73px;
            line-height: 1.01;
            text-align: left;
        }
    }
    &__buttons {
        position: relative;
        z-index: 22;
        text-align: right;
        & button {
            width: 40px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .button();
            &.active {
                width: 60px;
                height: 60px;
            }
        }
        & .list-btn {
            background-image: url(../images/svg/list_calm.svg);
            visibility: hidden;
            &.active {
                background-image: url(../images/svg/list_hover.svg);
            }
        }
        & .grid-btn {
            visibility: hidden;
        }
        & .grid-btn, & .calendar-btn {
            background-image: url(../images/svg/grid_calm.svg);
            &.active {
                background-image: url(../images/svg/grid_hover.svg);
            }
        }
    }
    &-block {
        &__nav {
            overflow: hidden;
        }
        &__tabs {
            position: relative;
            display: flex;
            align-items: center;
            overflow-x: auto;
            // &::after {
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     display: block;
            //     content: '';
            //     width: 160px;
            //     height: 100%;
            //     background-image: linear-gradient(to left, #ffecbc, #ffecbc 16%, rgba(255, 236, 188, 0));
            // }
            li {
                padding: 32px 30px;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                white-space: nowrap;
                color: @mainColor;
                cursor: pointer;
                &.active {
                    color: #fff;
                    background-color: @color4;
                }
            }
        }
        &__filter {
            padding: 16px 30px;
            margin-top: -1px;
            background-color: @color4;
            & .filter-type {
                margin-right: -24px;
                margin-bottom: -24px;
                li {
                    display: inline-block;
                    padding: 12px;
                    margin-right: 24px;
                    margin-bottom: 24px;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    color: @color1;
                    background-color: @color2;
                }
            }
            & .filter-person {
                margin-top: 36px;
                li {
                    display: inline-block;
                    margin-right: 24px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: @color2;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    &-list {
        display: none;
        &.active {
            display: block;
        }
        &__date {
            position: absolute;
            top: 185px;
            left: 0;
            z-index: 21;
            display: none;
            width: 100%;
            height: 740px;
            background-color: #fef5f5;
            background-image: url(../images/required/slogan-back.svg);
            &.active {
                display: block;
            }
        }
        &__tab {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            visibility: hidden;
            z-index: 10;
            &>div {
                &:not(:last-of-type) {
                    & .event-block {
                        border-bottom: 1px solid @color1;
                    }
                }
            }
            &.active {
                position: relative;
                visibility: visible;
                z-index: 20;
            }
        }
    }
    &-grid {
        display: none;
        background-color: #fef5f5;
        background-image: url(../images/required/slogan-back.svg);
        &__tab {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            visibility: hidden;
            z-index: 10;
            &.active {
                position: relative;
                visibility: visible;
                z-index: 20;
            }
        }
        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 55px 26px 44px;
            & .section__title {
                font-size: 73px;
                line-height: 0.67;
                text-align: center;
            }
            & button {
                width: 60px;
                height: 60px;
                .button();
                svg {
                    width: 16px;
                    fill: @mainColor;
                }
                &:hover {
                    background-color: @mainColor;
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        &__table {
            width: 100%;
            border-collapse: collapse;
            th {
                width: 100%/7;
                padding-bottom: 26px;
                font-size: 21px;
                line-height: 1.43;
                text-align: center;
                color: #000;
            }
            td {
                position: relative;
                border: none;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                &:nth-of-type(7n+7) {
                    border-right: none;
                    .grid-item:hover {
                        right: 0;
                        left: unset;
                    }
                }
            }
        }
    }
}

.grid-item {
    position: relative;
    height: 126px;
    background-color: @color2;
    overflow: hidden;
    &-empty {
        background-color: #ebebeb;
        .grid-item__header {
            span:first-of-type {
                background-color: #b4b4b4;
            }
            span:nth-of-type(2) {
                &::after {
                    display: none;
                }
            }
        }
        .grid-item__content {
            &::after {
                display: none;
            }
        }
    }
    &-inactive {
        background-color: #ebebeb;
        .grid-item__header {
            span:first-of-type {
                background-color: #5b5b5b;
            }
            span:nth-of-type(2) {
                color: #fff;
                background-color: #9b9b9b;
                &::after {
                    display: none;
                }
            }
        }
        .grid-item__content {
            &::after {
                background-image: linear-gradient(to bottom, rgba(235, 235, 235, 0), #ebebeb 100%);
            }
        }
    }
    &__header {
        display: flex;
        span:first-of-type {
            display: inline-block;
            padding: 4px 6px;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.53;
            color: #fff;
            background-color: @mainColor;
        }
        span:nth-of-type(2) {
            position: relative;
            flex: 1 0;
            display: inline-block;
            max-width: 116px;
            padding: 6px 12px;
            font-size: 14px;
            text-transform: uppercase;
            white-space: nowrap;
            color: @color2;
            background-color: @color1;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                content: '';
                width: 28px;
                height: 100%;
                background-image: linear-gradient(to right, rgba(182, 133, 103, 0), rgba(182, 133, 103, 0.78) 32%, #b68567);
            }
        }
        span:nth-of-type(3) {
            display: none;
            padding: 8px 12px;
            font-size: 12px;
            text-transform: uppercase;
            color: @color1;
            background-color: @color2;
        }
    }
    &__content {
        position: relative;
        max-height: 96px;
        padding: 6px 8px 4px;
        overflow: hidden;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 25px;
            background-image: linear-gradient(to bottom, rgba(255, 236, 188, 0), rgba(255, 236, 188, 0.77) 31%, #ffecbc);
        }
    }
    &__slag {
        display: none;
        margin-bottom: 8px;
        font-size: 12px;
        text-transform: uppercase;
        color: @color2;
    }
    &__title {
        margin: 0 0 6px;
        font-size: 13px;
        line-height: 1.62;
        color: #000;
    }
    &__text {
        display: none;
        margin: 0 0 8px;
        font-size: 13px;
        line-height: 1.62;
        color: #fff;
    }
    &__info {
        display: none;
        margin-bottom: 25px;
        p {
            margin: 0 4px 0 36px;
            font-size: 12px;
            line-height: 1.92;
            color: @color2;
        }
        span {
            display: inline-block;
            font-size: 12px;
            line-height: 1.92;
            color: @mainColor;
        }
    }
    &__btns {
        display: none;
        button {
            display: block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &:nth-of-type(n+2) {
                margin-left: 36px;
            }
            &:nth-of-type(2) {
                padding: 10px 14px;
                background-color: @mainColor;
                border-radius: 3px;
            }
            &.calendar {
                width: 24px;
                height: 24px;
                background-image: url(../images/svg/google_calengar_grid.svg);
                .bg-img();
            }
        }
    }
    &__counter {
        position: absolute;
        bottom: 0;
        left: 6px;
        z-index: 2;
        font-size: 16px;
        line-height: 1.44;
        color: @mainColor;
    }
    &:hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 40;
        width: 392px;
        height: 268px;
        background-color: rgba(182, 133, 103, 0.85);
        background-image: linear-gradient(to bottom, rgba(182, 133, 103, 0.85), rgba(182, 133, 103, 0.85)),
        url(../images/example/programs-slide-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2),
        0 2px 4px 0 rgba(0, 0, 0, 0.2);
        .grid-item__header {
            span:nth-of-type(2) {
                flex: 0 0 176px;
            }
            span:nth-of-type(3) {
                display: inline-block;
            }
        }
        .grid-item__counter {
            display: none;
        }
        .grid-item__content {
            max-height: unset;
            &::after {
                display: none;
            }
        }
        .grid-item__title {
            font-size: 18px;
            line-height: 1.28;
            color: #fff;
        }
        .grid-item__slag,
        .grid-item__text {
            display: block;
        }
        .grid-item__info, .grid-item__btns {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .calendar {
        &__header {
            & .section__title {
                font-size: 95px
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .calendar {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 58px 5% 58px 60px;
            .section__title {
                margin-bottom: 0;
            }
        }
        &__buttons {
            display: flex;
            align-items: center;
            & .calendar-btn {
                display: none;
                visibility: hidden;
            }
            & .grid-btn, & .list-btn {
                visibility: visible;
            }
            button:nth-of-type(2) {
                margin-left: 26px;
            }
        }
        &-block {
            &__tabs {
                &::after {
                    display: none;
                }
                li {
                    padding: 26px 26px 36px;
                    font-size: 16px;
                }
            }
            &__filter {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 25px 26px 24px;
                & .filter-type {
                    flex: 0 0 55%;
                    margin-right: -16px;
                    margin-bottom: -16px;
                    li {
                        padding: 8px;
                        margin-right: 16px;
                        margin-bottom: 16px;
                        font-size: 12px;
                    }
                }
                & .filter-person {
                    margin-top: 0;
                }

            }
        }
        &-list {
            &__date {
                position: relative;
                top: 0;
                z-index: 0;
                display: block;
                height: 435px;
            }
        }
        &-grid {
            &.active {
                display: block;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .calendar {
        &-block {
            &__tabs {
                li {
                    padding: 34px 40px;
                    font-size: 18px;
                }
            }
            &__filter {
                align-items: center;
                padding-right: 5%;
                padding-left: 36px;
                .filter-type {
                    flex-basis: auto;
                    margin: 0;
                    li {
                        padding: 12px;
                        margin: 0 24px 0 0;
                        font-size: 14px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &-list {
            flex-direction: row-reverse;
            &.active {
                display: flex;
            }
            &__date {
                position: relative;
                flex: 0 0 33.33%;
                height: auto;
            }
            &__content {
                flex: 0 0 66.67%;
            }
            &__tab {
                &>div {
                    position: relative;
                    height: 205px;
                }
            }
        }
        &-grid {
            &__heading {
                padding: 40px 50px 44px;
            }
        }
    }
    .grid-item {
        height: 178px;
        &__header {
            span:nth-of-type(2) {
                max-width: 176px;
            }
        }
        &__content {
            max-height: 148px;
            padding: 16px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .calendar {
        &-block {
            &__tabs {
                li {
                    padding: 34px 82px;
                }
            }
        }
        &-grid {
            &__heading {
                width: 1338px;
                padding: 55px 0 25px;
                margin: 0 auto;
            }
        }
    }
    .grid-item {
        height: 236px;
        &__header {
            span:nth-of-type(2) {
                max-width: 244px;
            }
        }
        &__content {
            max-height: 206px;
        }
    }
}