.contact {
  background-color: @color2;
  .main-header__content {
    min-height: unset;
    padding-top: 150px;
    padding-bottom: 0;
  }
  &-block {
    padding: 0 24px;
    &__text {
      margin: 0 0 24px;
      font-size: 15px;
      line-height: 1.87;
      color: @color6;
      span {
        margin-left: 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.53;
        color: @mainColor;
      }
    }
    &__content {
      margin-bottom: 36px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 1.33;
      color: @color6;
    }
    &__position {
      margin-bottom: 14px;
      font-size: 13px;
      line-height: 1.77;
      color: @mainColor;
    }
    &__desc {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.28;
      color: @mainColor;
    }
    &__address {
      margin-bottom: 36px;
    }
    &__btn {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1;
      color: @color4;
      .button();
    }
    &__links {
      display: flex;
      padding: 0;
      margin: 0;
      & li {
        list-style: none;
        margin-right: 36px;
        &:last-of-type {
          margin-right: 0;
        }
      }
      & a {
        font-size: 15px;
        line-height: 0.87;
        color: @color4;

        &::before {
          content: '';
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-right: 12px;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .email {
        a::before {
          background-image: url(../images/svg/mail_contacts.svg);
        }
        &:hover a {
          color: @color3;
          &::before {
            background-image: url(../images/svg/mail_contacts_hover.svg);
          }
        }
      }
      .phone a::before {
        background-image: url(../images/svg/phone_contacts.svg);
      }
      .fb a::before {
        margin-right: 0;
        background-image: url(../images/svg/facebook_contacts.svg);
      }
      .instagram a::before {
        margin-right: 0;
        background-image: url(../images/svg/insta_contacts.svg);
      }
    }
  }
}

.contacts {
  padding-top: 36px;
  .section__title {
    padding: 0 24px;
    margin-bottom: 24px;
    font-size: 68px;
    line-height: 1.12;
    text-align: left;
  }
  &__item {
    margin-bottom: 60px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__map {
    width: 100%;
    height: 575px;
    position: relative;
    margin-top: 50px;
    //&::after {
    //  position: absolute;
    //  top: 44%;
    //  left: 50%;
    //  display: block;
    //  content: '';
    //  width: 70px;
    //  height: 89px;
    //  background-image: url(../images/svg/placeholder.svg);
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-size: cover;
    //  transform: translate(-50%, -50%);
    //}
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 60px;
    .section__title {
      padding: 0 18px;
      margin-bottom: 36px;
      font-size: 95px;
      line-height: 1.01;
    }
  }

  .contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 24px 0 18px;
    &__text {
      flex: 0 0 100%;
    }
    &__content {
      flex: 0 0 50%;
    }
    &__links {
      flex-wrap: wrap;
      .phone {
        order: 1;
        margin-top: 16px;
      }
    }
    &__address {
      flex: 0 0 50%;
    }
    &__form {
      flex: 0 0 50%;
      .comment-form {
        div:nth-of-type(-n+2) {
          flex-basis: 100%;
        }
        input[type="submit"] {
          flex-basis: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .contacts {
    padding-top: 98px;
    .section__title {
      padding: 0 26px;
    }
    &__item {
      &-address {
        display: flex;
        align-items: flex-start;
        .contact-block {
          flex: 0 0 33.4%;
        }
      }
    }
    &__map {
      flex: 0 0 66.6%;
      margin-top: 0;
      iframe {
        height: 573px;
      }
    }
  }

  .contact-block {
    padding: 0 26px;
    &__address {
      flex-basis: 100%;
      margin-bottom: 60px;
    }
    &__form {
      flex-basis: 100%;
    }
    &__links {
      max-width: 325px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .contacts {
    padding-top: 56px;
    .section__title {
      padding: 0 60px;
    }
  }

  .contact-block {
    padding: 0 60px;
    &__content {
      margin-bottom: 0;
      &:nth-of-type(n+3) {
        margin-top: 36px;
      }
    }
    &__address {
      margin-bottom: 44px;
    }
    &__links {
      max-width: unset;
      .phone {
        order: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .contacts {
    padding-top: 60px;
    .section__title {
      padding: 0 48px;
    }
  }

  .contact-block {
    justify-content: flex-start;
    padding: 0 16px 0 48px;
    &__content {
      flex-basis: 32.33%;
      &:nth-of-type(n+3) {
        margin-top: 0;
      }
      &:nth-of-type(n+4) {
        margin-top: 36px;
      }
    }
    &__form {
      .comment-form {
        div:nth-of-type(-n+2) {
          flex-basis: 48.6%;
        }
      }
    }
  }
}
