.main {
  &-header {
    &__content {
      padding-top: 200px;
      // padding-top: 2.5%;
      padding-bottom: 88px;
      position: relative;
      min-height: 738px;

      &__image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        //transition: transform 0.25s linear ;
        will-change: transform;
        background-image: url(../images/required/main-bg.jpg);
        background-size: cover;
        background-attachment: fixed;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: rgba(255, 255, 255, 0.73)
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 1;
          //transition: transform 0.25s linear ;
          will-change: transform;
          transform-origin: center center;
          transition: transform 0.2s ease;
        }

      }
    }

  }

  .founder-block {
    &__container {
      background-color: @color3;
      padding-bottom: 100px;
    }

    .section__title {
      font-family: @font-family;
      font-size: 20px;
      padding: 0;
      text-transform: uppercase;
    }
  }

  .section-about {
    padding-bottom: 120px;
  }

  .section-news {
    padding-top: 120px;
  }
}

.head-slider {
  margin: 0;
  .swiper-slide {
    opacity: 0;
    transition: opacity @commonTransition;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  &__container {
    position: relative;
    padding-right: 24px;
    padding-left: 58px;
  }

  &__tags {
    margin-bottom: 45px;
    margin-top: 10px;
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;

      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          background-color: @color2;
          padding: 6px 12px;
          text-transform: uppercase;
          font-size: 12px;
          color: @color1;
          &:hover {
            color: @color2;
            background-color: @color1;
          }
        }
      }
    }
  }

  &__title {
    font-size: 68px;
    font-family: @otherFont;
    line-height: 0.76;
    color: @mainColor;
    margin-bottom: 36px;
    width: 1100px;
    max-width: 100%;
  }

  &__additional {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    line-height: 1.62;
    margin-bottom: 8px;

    &__title {
      color: @color4;
      min-width: 145px;
      margin-right: 8px;
    }

    &__text {
      color: @mainColor;
      font-weight: 500;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 16px;
    max-width: 100%;
  }

  &__descr {
    font-size: 12px;
    margin-bottom: 36px;

    mark {
      background-color: transparent;
      color: @mainColor;
    }
  }

  &__btn {
    width: 260px;
    height: 60px;
    background-color: @color4;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    border-radius: 3px;
    box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2), 0 2px 4px 0 rgba(99, 71, 77, 0.2);
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: @color3;
      box-shadow: 0 0 24px 0 rgba(195, 92, 47, 0.46),
      0 2px 4px 0 rgba(234, 155, 103, 0.45);
    }
  }

  .swiper-wrapper {
    margin-bottom: 90px;
  }

  .swiper-pagination {
    text-align: left;

    &-bullet {
      background-color: #fff;
      opacity: 1;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      cursor: pointer;

      &-active {
        opacity: 1;
        background-color: @mainColor;
      }
    }
  }
}

.programs-slider {
  .swiper-container-vertical>.swiper-wrapper {
    max-height: 1440px;
  }
  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 360px;
    padding: 24px;
    background-color: @color1;
    overflow: hidden;
    &:hover {
      .programs-slider {
        &__content {
          margin-bottom: 50px;
        }

        &__image {
          &:before {
            opacity: 0;
          }

          &:after {
            background-color: rgba(182, 133, 103, 0.85);
          }
        }

        &__actions {
          transform: translateY(0%);
        }

        &__title {
          font-size: 14px;
        }

        &__text {
          font-size: 21px;
        }

        &__about {
          display: block;
        }

        &__other {
          display: none;
        }

        &__descr {
          display: none;
        }
      }
    }
  }

  &__image {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 1;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9));
      transition: @commonTransition;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      background-color: rgba(182, 133, 103, 0);
      transition: @commonTransition;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    padding: 16px 24px;
    transition: @commonTransition;
  }

  &__tag {
    font-size: 12px;
    color: @color1;
    background-color: @color2;
    padding: 6px 16px;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 10;
  }

  &__title {
    color: @color2;
    margin-bottom: 12px;
    font-size: 14px;
    text-transform: uppercase;

    span {
      margin-right: 20px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #fff;
  }

  &__about {
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.87;
    font-size: 15px;
    display: none;
    max-height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__other {
    color: @mainColor;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 2;
  }

  &__descr {
    color: @color2;
    font-size: 16px;
    line-height: 2;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 16px 24px;
    transform: translateY(100%);
    transition: @commonTransition;
    z-index: 30;

    .btn {
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;

      &:last-of-type {
        margin-right: 0;
      }

      &-white {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: uppercase;
      }

      &-red {
        background-color: @mainColor;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        padding: 6px 14px;
        text-transform: uppercase;
      }
    }
  }

  &__link {
    width: 100%;
    display: block;
    height: 70px;
    background-color: @color4;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 4.1;
    letter-spacing: 1px;
    span {

    }
  }
}

.slogan {
  background-color: #fef5f5;
  background-image: url(../images/required/back-layout.svg);
  background-repeat: repeat;
  text-align: center;
  padding: 60px 0;

  &__content {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
  }

  &__title {
    max-width: 492px;
    margin: 0 auto 16px;
    font-size: 28px;
    font-weight: 300;
    color: @mainColor;
  }

  &__text {
    padding: 0 24px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.62;
    color: @mainColor;
    margin-bottom: 16px;
  }

  &__other {
    font-family: @otherFont;
    font-size: 53px;
    line-height: 0.92;
    color: @mainColor;
  }
}

.events {
  width: 100%;
  @slideHeight: 825px;
  @bottomHeight: 60px;

  &__list {
    background-color: @color3;
    padding: 39px 0 0;
    position: relative;
    padding-bottom: @bottomHeight;

    &__title {
      font-size: 73px;
      line-height: 0.67;
      margin-bottom: 36px;
      padding: 0 48px;
      color: @color2;
      font-family: @otherFont;
    }

    &__tabs {
      border-bottom: solid 7px @color4;

      ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        // overflow-x: auto;

        li {
          list-style: none;
          display: inline-block;
          padding: 22px 24px 16px;
          color: @mainColor;
          font-size: 18px;
          text-transform: uppercase;
          white-space: nowrap;
          cursor: pointer;

          &.active {
            color: #fff;
            background-color: @color4;
          }
        }
      }
    }

    &__tabs-content {
      position: relative;
      width: 100%;
      height: 360px;
      .tab-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        visibility: hidden;
        z-index: 10;
        &.active {
          visibility: visible;
          z-index: 20;
        }
      }
    }

    &__slide {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 360px;
      padding: 24px;

      &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__content {
        width: @slideHeight;
        max-width: 100%;
      }

      &__tag {
        margin-bottom: 24px;

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            display: inline-block;
            vertical-align: top;

            a {
              display: inline-block;
              padding: 13px 16px;
              font-size: 14px;
              text-transform: uppercase;
              color: @color2;
              background-color: transparent;
              &.active {
                color: @color1;
                background-color: @color2;
              }
            }
          }
        }

      }

      &__title {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.34;
        margin-bottom: 12px;
        color: #fff;
      }

      &__text {
        color: #fff;
        font-size: 13px;
        line-height: 1.61;
      }
      &__other {
        display: none;
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.44;
        color: @mainColor;
      }

      &__descr {
        display: none;
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.44;
        color: @color2;
        mark {
          margin-left: 6px;
        }
      }
      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(182, 133, 103, 0.85);
      }
      &__btn {
        display: none;
        margin-top: 36px;
        a {
          display: inline-block;
          padding: 10px 0;
          margin-right: 36px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.7px;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          border-bottom: 1px solid #fff;
        }
        button {
          display: inline-block;
          padding: 10px 14px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.7px;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          .button();
          background-color: @color3;
          border-radius: 3px;
          box-shadow: 0 0 24px 0 rgba(142, 24, 28, 0.5),
          0 2px 4px 0 rgba(99, 71, 77, 0.2);
        }
      }
    }

    &__bottom-content {
      padding: 0 48px;
      height: @bottomHeight;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: @color4;
    }

    &__link {
      color: @color2;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;

      svg {
        margin-right: 16px;
        width: 16px;
        height: 11px;
      }
    }

    &__slider {
      &__nav {
        display: flex;
      }

      &-btn {
        width: 60px;
        height: 60px;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;

        svg {
          display: inline-block;
          width: 10px;
          height: 16px;
        }
      }

      &-prev {
        color: @color2;
        background-color: transparent;
      }

      &-next {
        color: @color4;
        background-color: @color2;
      }
    }
  }

  &__closest {
    position: relative;
    background-color: @color2;
    padding: 36px 24px 0;

    &__title {
      font-size: 73px;
      line-height: 0.67;
      margin-bottom: 24px;
      color: @mainColor;
      font-family: @otherFont;
    }

    &__date-section {
      padding: 24px 0;
      border-top: 1px solid @color4;
      border-bottom: 1px solid @color4;
    }

    &__event-section {
      padding: 30px 0 36px;
    }

    &__calendar-section {
      position: relative;
      height: 60px;
      display: flex;
      align-items: center;
      border-top: 1px solid @color4;
      width: 100%;
    }

    &__date {
      font-size: 42px;
      color: @color1;
      line-height: 1;
      font-weight: 300;
      margin-bottom: 16px;
    }

    &__date-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__time {
      font-size: 28px;
      line-height: 1.5;
      color: @color1;
    }

    &__loc {
      font-size: 21px;
      font-weight: 500;
      color: @color4;
      line-height: 1.4;
    }

    &__tags {
      margin-bottom: 16px;

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          margin-right: 16px;
          display: inline-block;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            font-size: 14px;
            display: inline-block;
            padding: 10px 16px;
            color: @color2;
            background-color: @color1;
            &:hover {
              background-color: @color3;
            }
          }
        }
      }
    }

    &__theme {
      display: -webkit-box;
      max-height: calc(32px * 1.34 * 3);
      color: @text;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.34;
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__level {
      font-size: 18px;
      line-height: 1.28;
      color: @mainColor;
    }

    &__user {
      display: flex;
      align-items: center;
      margin-bottom: 36px;

      &-photo {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid @mainColor;
        margin-right: 24px;
        transition: border .3s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-name {
        font-size: 21px;
        line-height: 1.43;
        font-weight: 500;
        color: @mainColor;
      }
      &-link {
        position: relative;
        display: block;
        padding-left: 32px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: @color2;
        opacity: 0;
        max-height: 0;
        transition: 0.3s ease;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          content: '';
          width: 16px;
          height: 12px;
          background: url(../images/svg/link_arrow_hover.svg) no-repeat;
          background-size: contain;
          transform: translateY(50%);
        }
      }
    }

    &__btn {
      height: 81px;
      width: 100%;
      border-radius: 3px;
      background-color: @color4;
      color: @color7;
      // box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2), 0 2px 4px 0 rgba(99, 71, 77, 0.2);
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      border: none;
      outline: none;
      transition: background-color 0.3s ease;
    }

    &__calendar-link {
      font-size: 16px;
      font-weight: 500;
      color: @color4;

      span {
        display: inline-block;
        vertical-align: middle;
      }

      .arrow {
        width: 16px;
        height: 11px;
        display: inline-block;
        vertical-align: middle;
        background: url(../images/svg/icon-arrow.svg) no-repeat;
        background-size: cover;
        margin-right: 16px;
      }
    }

    &__slide {
      margin-bottom: 36px;
      background-color: @color2;
      padding: 0 5px;
    }

    &__slider {
      &__nav {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
      }

      &-btn {
        width: 60px;
        height: 60px;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;

        svg {
          display: inline-block;
          width: 10px;
          height: 16px;
        }
      }

      &-prev {
        color: @color4;
        background-color: @color2;
      }

      &-next {
        color: @color2;
        background-color: @color4;
      }
    }
  }
}

.video-about-school {
  &__container {
    padding: 60px 24px;
    background-color: @color2;
  }

  &__title {
    font-size: 53px;
    font-family: @otherFont;
    line-height: 0.92;
    text-align: center;
    color: @mainColor;
  }

  &__video {
    height: 284px;
    margin: 0 -24px;
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2);
    background-color: @color2;
    position: relative;

    video {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    margin-bottom: 60px;
  }

  &__btn {
    width: 100%;
    text-align: center;
    padding-top: 60px;

    button {
      width: 500px;
      height: 80px;
      box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2), 0 2px 4px 0 rgba(99, 71, 77, 0.2);
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.6px;
      background-color: @color4;
      text-transform: uppercase;
      color: @color7;
      border-radius: 3px;
      &:hover {
        background-color: @color3;
        box-shadow: 0 0 24px 0 rgba(195, 92, 47, 0.46),
        0 2px 4px 0 rgba(234, 155, 103, 0.45);
      }
    }
  }
}

.parthners {
  padding-top: 63px;
  padding-bottom: 120px;
  background: url(../images/required/back-layout.svg) repeat;

  &__title {
    color: @mainColor;
    margin-bottom: 76px;
    line-height: 0.94;
    text-align: center;
    font-size: 85px;
    font-family: @otherFont;
  }

  &__slide {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #d8d8d8;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider {
    padding: 0 112px;
    position: relative;
    width: 100%;

    &__btn {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: @mainColor;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: @mainColor;
        color: #fff;
      }
    }

    &__prev {
      left: 48px;
    }

    &__next {
      right: 48px;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    &-header {
      &__content {
        min-height: 715px;
      }
    }
  }
  .head-slider {
    &__container {
      padding-right: 50px;
      padding-left: 76px;
    }
    &__tags {
      margin-bottom: 32px;
    }
    &__title {
      margin-bottom: 48px;
    }
    &__text {
      width: 640px;
    }
  }
  .slogan {
    &__text {
      padding-right: 18px;
      padding-left: 18px;
    }
  }
  .events {
    &__list {
      &__tabs-content {
        height: 480px;
      }
      &__slide {
        height: 480px;
        padding-right: 18px;
        padding-left: 18px;
        &__title {
          font-size: 32px;
        }
        &__text {
          font-size: 18px;
        }
        &__other {
          display: block;
        }
        &__descr {
          display: block;
        }
      }
    }
    &__closest {
      padding-right: 18px;
      padding-left: 18px;
    }
  }
  .programs-slider {
    &__slide {
      height: 240px;
      padding: 12px 18px;
    }
    &__title {
      font-size: 12px;
    }
    &__other {
      font-size: 12px;
    }
    &__descr {
      font-size: 12px;
    }
  }
  .video-about-school {
    &__container {
      padding-right: 18px;
      padding-left: 18px;
    }
    &__video {
      height: 360px;
      margin: 0;
    }
  }
  .parthners {
    &__slider {
      padding-right: 96px;
      padding-left: 96px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .head-slider {
    max-width: 780px;
    &__container {
      padding-right: 0;
      padding-left: 10%;
    }

    &__tags {
      margin-bottom: 14px;
    }
    &__title {
      margin-bottom: 24px;
      font-size: 95px;
      line-height: 1.01;
    }
  }
  .slogan {
    padding-top: 90px;
    padding-bottom: 90px;
    &__title {
      max-width: unset;
    }

    &__text {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .events {
    display: flex;
    &__list {
      width: 66.666%;
      &__tabs-content {
        height: 428px;
      }
      &__slide {
        height: 428px;
        padding-right: 36px;
        padding-left: 36px;
        &__title {
          font-size: 18px;
        }
        &__text {
          font-size: 13px;
        }
      }
    }
    &__closest {
      display: flex;
      flex-direction: column;
      width: 33.333%;
      padding: 39px 26px 0;
      &__slider {
        flex: 1 0;
      }
      &__date {
        font-size: 30px;
      }
      &__time {
        font-size: 22px;
      }
      &__theme {
        max-height: calc(18px * 1.34 * 3);
        margin-bottom: 12px;
        font-size: 18px;
      }
      &__event-section {
        padding: 16px 0;
      }
      &__user {
        margin-bottom: 24px;
        &-photo {
          width: 60px;
          height: 60px;
        }
      }
      &__btn {
        height: 60px;
      }
    }
  }
  .programs-slider {
    &__slide {
      height: 213px;
      padding: 12px 16px;
    }
    &__title {
      margin-bottom: 8px;
    }

    &__text {
      margin-bottom: 4px;
      font-size: 15px;
    }
    &__other {
      margin-bottom: 6px;
    }
  }
  .video-about-school {
    &__container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 60px;
    }
    &__title {
      text-align: left;
    }
    &__video {
      top: -50px;
      width: 66.666%;
      height: 337px;
    }
    &__content {
      width: 33.333%;
      padding: 60px 26px;
      margin-bottom: 0;
    }
    &__btn {
      padding-top: 0;
    }
  }
  .parthners {
    &__slider {
      padding-right: 112px;
      padding-left: 112px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .head-slider {
    max-width: 993px;
  }
  .main {
    &-header {
      &__content {
        min-height: 768px;
      }
    }
  }
  .events {
    &__list {
      &__tabs-content {
        height: 600px;
      }
      &__slide {
        height: 600px;
        &:hover {
          align-items: flex-start;
          .events__list__slide__overlay {
            display: block;
          }
          .events__list__slide__btn {
            display: block;
          }
        }
        &__title {
          font-size: 32px;
        }

        &__text {
          font-size: 18px;
        }
      }
    }
    &__closest {
      padding-right: 36px;
      padding-left: 36px;
      &__date {
        font-size: 42px;
      }
      &__time {
        font-size: 28px;
      }
      &__theme {
        max-height: calc(32px * 1.34 * 3);
        font-size: 32px;
      }
      &__event-section {
        padding-top: 30px;
        padding-bottom: 36px;
      }
      &__user {
        margin-bottom: 30px;
        border-radius: 54px;
        transition: background, 0.3s ease;

        &-photo {
          width: 98px;
          height: 98px;
        }

        &:hover {
          background-color: @color3;

          .events__closest__user-photo {
            border-color: transparent;
          }

          .events__closest__user-name {
            color: #fff;
          }

          .events__closest__user-link {
            opacity: 1;
            pointer-events: all;
            max-height: 30px;
          }
        }
      }
      &__btn {
        height: 81px;
        &:hover {
          background-color: @color3;
          box-shadow: 0 0 24px 0 rgba(195, 92, 47, 0.46),
          0 2px 4px 0 rgba(234, 155, 103, 0.45);
        }
      }
    }
  }
  .programs-slider {
    &__slide {
      height: 225px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .video-about-school {
    &__content {
      padding-right: 36px;
      padding-left: 36px;
    }
    &__video {
      height: 473px;
    }
  }
  .parthners {
    &__slider {
      padding-right: 150px;
      padding-left: 150px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .head-slider {
    max-width: 1088px;
  }
  .events {
    &__list {
      &__tabs-content {
        height: 800px;
      }
      &__slide {
        height: 800px;
        padding-right: 48px;
        padding-left: 48px;
      }
    }
    &__closest {
      padding-right: 48px;
      padding-left: 48px;
      &__title {
        margin-bottom: 36px;
      }
      &__event-section {
        height: 385px;
        padding-top: 36px;
      }
      &__tags {
        margin-bottom: 36px;
      }
      &__theme {
        margin-bottom: 16px;
      }
      &__user {
        margin-bottom: 90px;
      }
    }
  }
  .programs-slider {
    &__slide {
      height: 300px;
      padding: 16px 24px;
    }
  }
  .video-about-school {
    &__content {
      padding-right: 48px;
      padding-left: 48px;
    }

    &__video {
      height: 630px;
    }
  }
  .parthners {
    &__slider {
      padding-right: 264px;
      padding-left: 264px;
    }
  }
}
