.master {
    & .main-header__content {
        height: auto;
        min-height: auto;
        padding-top: 136px;
        background-color: @color2;
    }
    & .header {
        background-color: @color2;
    }
    &-about {
        padding: 0 24px 60px;
        background-color: @color2;
        &__subtitle {
            margin: 0 0 15px;
            font-size: 14px;
            color: @color1;
        }
        &__title {
            margin: 0 0 36px;
            font-family: @otherFont;
            font-size: 68px;
            line-height: .76;
            color: @mainColor;
        }
        &__text {
            margin: 0;
            font-size: 18px;
            line-height: 1.89;
            color: @color6;
        }
        & img {
            display: block;
            width: 388px;
            height: auto;
            margin: 0 auto 36px;
            box-shadow: @imgShadow;
        }
    }

    &-desc {
        padding: 64px 0 60px;
        background: url(../images/required/slogan-back.svg) no-repeat;
        background-size: cover;
        &__quote {
            position: relative;
            width: 80.6%;
            margin: 0 auto 60px;
            font-family: @otherFont;
            font-size: 53px;
            line-height: 0.92;
            color: @mainColor;
            &::before,
            &::after {
                position: absolute;
                display: block;
                content: ',,';
                font-family: @quoteFont;
                font-size: 135px;
                color: @mainColor;
            }
            &::before {
                top: 0;
                left: 0;
                transform: rotate(180deg) translateX(100%);
            }
            &::after {
                top: 0;
                right: 0;
                transform: translateX(50%);
            }
        }
        & img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 60px;
            box-shadow: @imgShadow;
        }
        &__info {
            max-width: 1244px;
            padding: 0 88px 0 24px;
            margin: 0 auto;
            & p {
                margin: 0;
                font-size: 18px;
                line-height: 1.89;
                color: @color6;
                &:nth-of-type(n+2) {
                    margin-top: 12px;
                }
            }
        }
        &__contacts {
            margin: 35px 0 0;
            padding: 0;
            list-style: none;
            & li {
                &:nth-last-of-type(n+2) {
                    margin-bottom: 24px;
                }
            }
            & a {
                font-size: 13px;
                line-height: 1;
                color: @color4;
                &:before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 12px;
                    height: 12px;
                    margin-right: 12px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .email a:before {
                background-image: url(../images/svg/icon-mail.svg);
            }
            .phone a:before {
                background-image: url(../images/svg/icon-phone.svg);
            }
            .fb:before {
                background-image: url(../images/svg/icon-fb.svg);
            }
            .instagram:before {
                background-image: url(../images/svg/icon-insta.svg);
            }
        }
    }
    &-programs {
        background-color: @color3;
        & .section__title {
            padding: 60px 24px 36px;
            font-size: 73px;
            line-height: 0.67;
            color: @color2;
        }
    }
    &-team {
        & .section-team {
            background-color: #fff;
        }
        & .section__title {
            padding: 90px 0 60px;
            font-size: 73px;
            line-height: 0.67;
            color: @mainColor;
            background: url(../images/required/slogan-back.svg) no-repeat;
            background-size: cover;
        }
    }
}

@media screen and (min-width: 768px) {
    .master {
        &-about {
            display: flex;
            align-items: flex-start;
            padding: 60px 20px;
            & img {
                width: 365px;
                order: 1;
            }
            & div {
                padding-top: 30px;
                margin-right: 36px;
            }
        }
        &-desc {
            padding: 64px 20px 90px;
            &__info {
                margin: 0;
            }
        }
        &-programs {
            & .section__title {
                padding: 60px 26px;
            }
        }
        &-team {
            & .section__title {
                padding: 100px 0 60px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .master {
        & .main-header__content {
            padding-bottom: 60px;
        }
        &-about {
            position: relative;
            padding: 0 26px 62px;
            & img {
                position: absolute;
                top: 0;
                right: 26px;
                z-index: 1;
                width: 404px;
                height: 552px;
                margin-bottom: 0;
            }
            & div {
                max-width: 47.5%;
                padding-top: 38px;
                margin-right: 0;
            }
        }
        &-desc {
            padding: 195px 26px 90px;
            &__quote {
                flex: 0 0 100%;
                max-width: 775px;
            }
            &__content {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
            }
            & img {
                width: 47.5%;
                margin-bottom: 0;
            }
            &__info {
                flex: 0 0 52.5%;
                padding: 26px 0 0 26px;
            }
        }
        &-programs {
            & .section__title {
                max-width: 715px;
                padding: 102px 0 60px;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .master {
        &-about {
            padding: 0px 60px 86px;
            & img {
                right: unset;
                left: 54%;
            }
            & div {
                padding-top: 24px;
            }
        }
        &-desc {
            padding: 212px 60px 90px;
            &__quote {
                margin-bottom: 105px;
            }
            &__content {
                justify-content: flex-end;
                position: relative;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .master {
        &-about {
            padding: 0 48px 120px;
            & img {
                left: 56%;
            }
        }

        &-desc {
            padding-top: 216px;
            &__content {
                max-width: 1244px;
                margin: 0 auto;
            }
            & img {
                width: 640px;
            }
            &__info {
                flex-basis: ~'calc(100% - 640px)';
            }
        }
    }
}