.privacy-policy {
    background-color: #fef5f5;
    background-image: url(../images/required/slogan-back.svg);
    .main-header__content {
        min-height: unset;
        padding-top: 150px;
        padding-bottom: 0;
    }
}

.policy {
    padding: 62px 24px 68px;
    .section__title {
        margin-bottom: 60px;
    }
    &__content {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            line-height: 1.31;
            color: @color4;
        }
        h3 {
            font-size: 32px;
        }
        p {
            margin: 0 0 36px;
            font-size: 15px;
            line-height: 1.87;
            color: @color6;
            &.policy__slogan {
                font-size: 16px;
                line-height: 2;
                color: @mainColor;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        a {
            padding: 0 4px;
            font-size: 15px;
            line-height: 1.87;
            color: @color4;
        }
        & ul {
            padding: 0;
            margin: 0 0 16px;
            & li {
                position: relative;
                padding-left: 58px;
                font-size: 15px;
                line-height: 2.27;
                list-style: none;
                color: @color6;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 36px;
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    color: @mainColor;
                    background-color: @mainColor;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 60px;
        }
    }
}

@media screen and (min-width: 768px) {
    .policy {
        padding: 80px 20px 90px;
    }
}
@media screen and (min-width: 1024px) {
    .policy {
        padding: 60px 192px 90px;
        &__content {
            max-width: 640px;
        }
    }
}
@media screen and (min-width: 1440px) {
    .policy {
        padding-right: 320px;
        padding-left: 320px;
        &__content {
            img {
                width: 960px;
                margin-right: -80px;
                margin-left: -80px;
            }
        }
    }
}