.programms-events {
    background-color: @color2;
    & .main-header__content {
        min-height: auto;
        padding-top: 150px;
        padding-bottom: 0;
        background-color: @color2;
    }
    &__header {
        padding: 36px 24px;

        & .section__title {
            margin-bottom: 24px;
            font-size: 68px;
            line-height: 1.12;
            text-align: left;
        }

        .tabs__buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .list-btn,
            & .grid-btn {
                visibility: visible;
            }
        }
    }
    &__subtitle {
        margin: 0 0 50px;
        font-size: 18px;
        line-height: 1.89;
        color: @color6;
    }
    &__container {
        .tabs-grid {
            background-color: @color2;
        }
        .tabs-list {
            background-color: #fef5f5;
        }
    }
    &-grid {
        .events__list__slide {
            width: auto;
            &__content {
                width: auto;
            }
        }
        &.programs-slider {
            .programs-slider__slide:nth-of-type(n+3) {
                display: none;
            }
        }
    }
}

.programs-list {
    border-bottom: 1px solid @color1;
    &:last-of-type {
        border-bottom: none;
    }
    img {
        display: none;
        width: 384px;
        height: 240px;
    }
    &__content {
        position: relative;
        padding: 46px 24px 24px;
    }
    &__slag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        span {
            display: inline-block;
            padding: 8px 16px;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            color: @color1;
            &.type {
                background-color: @color2;
            }
        }
    }
    &__title {
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 1.5;
        color: @color6;
    }
    &__text {
        margin-bottom: 16px;
        font-size: 15px;
        line-height: 1.87;
        color: @color6;
    }
    &__level {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 1.92;
        color: @mainColor;
    }
    &__time {
        margin-bottom: 24px;
        font-size: 12px;
        line-height: 1.92;
        color: @color6;
        span {
            margin-left: 4px;
            color: @mainColor;
        }
    }
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            margin: 0;
            font-size: 13px;
            line-height: 1.62;
            color: @color4;
            span {
                display: block;
                color: @mainColor;
            }
        }
        button {
            display: block;
            padding: 22px 50px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-align: center;
            color: @mainColor;
            .button();
            background-color: @color2;
            border-radius: 3px;
            box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
            0 2px 4px 0 rgba(99, 71, 77, 0.2);
        }
    }
}

@media screen and (min-width: 768px) {
    .programms-events {
        &__header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 60px 5% 60px 18px;

            & .section__title {
                flex: 0 0 100%;
                margin-bottom: 36px;
                font-size: 95px;
                line-height: 1.01;
            }
        }
        &__subtitle {
            flex: 0 0 548px;
            margin-bottom: 0;
        }
        &-grid {
            display: flex;
            flex-wrap: wrap;
            &--first {
                display: flex;
                flex-wrap: wrap;
            }
            .events__list__slide {
                flex: 0 0 100%;
                &+.programs-slider {
                    flex: 0 0 100%;
                    display: flex;
                }
            }
            .programs-slider__slide {
                flex: 0 0 50%;
            }
        }
    }
    .programs-list {
        img {
            display: block;
            float: left;
            margin-right: 36px;
        }
        &__content {
            padding: 46px 36px 24px 18px;
        }
        &__slag {
            left: 384px;
        }
        &__title {
            margin-bottom: 130px;
        }
        &__level {
            display: inline-block;
            margin-right: 36px;
        }
        &__time {
            display: inline-block;
        }
        &__action {
            max-width: 590px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .programms-events {
        &__header {
            padding-top: 98px;
            padding-left: 26px;
        }
        &__subtitle {
            flex-basis: 674px;
        }
        &-grid {
            .events__list__slide {
                flex-basis: ~'calc(100% / 3 * 2)';
                &+.programs-slider {
                    flex-basis: 100%/3;
                    display: block;
                }
            }
            .programs-slider__slide {
                flex-basis: 100%/3;
            }
            &.programs-slider {
                .programs-slider__slide:nth-of-type(n+3) {
                    display: flex;
                }
            }
        }
    }
    .programs-list {
        display: flex;
        align-items: flex-start;
        img {
            float: none;
            width: 373px;
            height: 232px;
            margin-right: 0;
        }
        &__content {
            padding: 40px 24px 24px 36px;
        }

        &__slag {
            left: 0;
        }

        &__title {
            margin-bottom: 8px;
            &:hover {
                font-weight: 500;
                text-decoration: underline;
                line-height: 1.7;
            }
        }
        &__text {
            margin-bottom: 8px;
        }
        &__level {
            display: block;
            margin-right: 0;
            margin-bottom: 8px;
        }

        &__time {
            display: block;
            margin-bottom: 16px;
        }
        &__action {
            button:hover {
                color: @color2;
                background-color: @mainColor;
                box-shadow: 0 0 24px 0 rgba(141, 27, 31, 0.68),
                    0 2px 4px 0 rgba(99, 71, 77, 0.2);
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .programms-events {
        &__header {
            padding-top: 58px;
            padding-left: 60px;
        }
        .programs-slider__slide {
            height: 300px;
        }
    }
    .programs-list {
        &__content {
            display: flex;
            align-items: flex-start;
            padding-right: 36px;
            padding-bottom: 32px;
        }
        &__inner {
            flex: 0 0 640px;
            margin-right: 90px;
        }
        &__level {
            display: inline-block;
            margin-right: 36px;
            margin-bottom: 0;
        }

        &__time {
            display: inline-block;
            margin-bottom: 0;
        }
        &__action {
            flex: 1 0;
            display: block;
            max-width: unset;
            button {
                margin-top: 12px;
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .programms-events {
        &__header {
            padding-top: 60px;
            padding-left: 48px;
        }
        .programs-slider__slide {
            height: 400px;
        }
    }
    .programs-list {
        align-items: center;
        &__action {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                &:nth-of-type(n+2) {
                    margin-left: 22px;
                }
                span {
                    display: inline-block;
                    margin-left: 8px;
                }
            }
            button {
                margin-top: 0;
                margin-left: 58px;
            }
        }
    }
}