.programs {
  &__header {
    &__content {
      padding-bottom: 0;

      &__image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        // background-image: url(../images/required/main-bg.jpg);
        background-size: cover;
        background-attachment: fixed;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: rgba(255, 255, 255, 0.73)
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 1;
        }

      }

      .head-slider__container {
        padding-bottom: 36px;
        margin-right: 0;
        margin-left: 0;
        .head-slider__text {
          display: none;
        }
      }
    }
  }

  &__info {
    background-color: @color2;
    padding: 24px;
    flex-shrink: 0;
    position: relative;

    &__list {
      display: flex;
      align-items: flex-start;
      &>div {
        flex: 0 0 49%;
        &:first-of-type {
          margin-right: 22px;
        }
      }
    }

    &__item {
      font-size: 15px;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__title {
      color: @color6;
      display: inline-block;
      vertical-align: top;
      margin-right: 6px;
      line-height: 1.87;
    }

    &__info {
      display: inline-block;
      vertical-align: top;
      color: @mainColor;
      font-weight: 500;
      line-height: 1.87;
    }

    &__descr {
      font-weight: 500;
      color: @mainColor;
      line-height: 1.53;
    }

    &__link {
      margin-top: 9px;
      text-transform: uppercase;
      color: @color4;
      display: block;

      a {
        color: @color4;
        &:hover {
          border-bottom: 1px solid @color4;
        }
      }
    }

    &__user {
      &__photo {
        width: 78px;
        height: 78px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid @color4;
        margin-right: 18px;
        display: inline-block;
        vertical-align: middle;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__name {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        color: @color4;
        display: inline-block;
        vertical-align: middle;
      }
      &__link {
        position: relative;
        display: none;
        padding-left: 32px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: @color2;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          content: '';
          width: 16px;
          height: 12px;
          background: url(../images/svg/link_arrow_hover.svg) no-repeat;
          background-size: contain;
          transform: translateY(50%);
        }
      }
      &:hover {
        border-radius: 54px;
        background-color: @color3;
        .programs__info__user__photo {
          border-color: transparent;
        }
        .programs__info__user__name {
          color: #fff;
        }
        .programs__info__user__link {
          display: block;
        }
      }
    }
  }

  &__course {
    padding: 62px 24px 60px;
    background: url(../images/required/back-layout.svg) repeat;

    &__title {
      text-align: center;
      color: @mainColor;
      font-family: @otherFont;
      font-size: 85px;
      margin-bottom: 60px;
      line-height: 0.94;
    }

    &__list {
      counter-reset: section;

      &__item {
        margin-bottom: 60px;
        position: relative;

        //&:before {
        //  position: absolute;
        //  left: -45px;
        //  top: 0;
        //  display: inline-block;
        //  vertical-align: middle;
        //  font-size: 32px;
        //  color: @color4;
        //  line-height: 1.31;
        //  counter-increment: section;
        //  content: counter(section)'.';
        //}

        p {
          color: @color6;
          font-size: 18px;
          line-height: 1.89;
        }

        ul {
          font-size: 18px;
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            margin-bottom: 30px;
            position: relative;
            padding-left: 20px;

            &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              left: 0;
              top: 8px;
              border-radius: 50%;
              background-color: @mainColor;
            }
          }
        }


      }

      &__title {
        font-size: 32px;
        color: @color4;
        line-height: 1.31;
        margin-bottom: 24px;
      }

      &__text {
        color: @mainColor;
        font-size: 16px;
        line-height: 2;
      }
    }
  }

  &__title-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 85px;
    color: @color2;
    line-height: 0.75;
    font-family: @otherFont;
    background-color: @color3;
  }
  &__lessons {
    &__slider {
      background-color: @color2;
    }
    &__slide {
      width:~'calc(100% - 60px)' !important;
      height: 634px;
      margin-right: 60px;
      padding: 36px 32px 0 24px;
      background-color: @color2;
      overflow-y: auto;
      &.swiper-slide-active {
        background-color: @color4;
        padding-bottom: 36px;
        .programs__lessons__title {
          font-weight: 400;
          color: #fff;
        }
        .programs__lessons__content {
          ul {
            li {
              color: #fff;
              &::before {
                background-color: @color2;
              }
            }
          }
        }
      }
    }
    &__title {
      position: relative;
      margin-bottom: 36px;
      font-size: 32px;
      font-weight: 30;
      line-height: 1.34;
      color: @color6;
      &::after {
        .icon-after();
        background-image: url(../images/svg/notepad.svg);
      }
    }
    &__content {
      ul {
        padding: 0;
        margin: 0;
        li {
          position: relative;
          padding-left: 24px;
          font-size: 18px;
          line-height: 1.89;
          list-style: none;
          color: @color6;
          &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: @mainColor;
            border-radius: 50%;
            transform: translateY(50%);
          }
          &:nth-of-type(n+2) {
            margin-top: 16px;
          }
        }
      }
    }
  }
  &__registration {
    padding: 78px 22px 60px;
    background-color: #fef5f5;
    background-image: url(../images/required/slogan-back.svg);
    &__descr {
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 1.28;
      text-align: center;
      color: @mainColor;
    }
    blockquote {
      position: relative;
      padding-left: 60px;
      margin: 0 0 76px;
      font-family: @otherFont;
      font-size: 53px;
      line-height: 0.92;
      color: @mainColor;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: ',,';
        font-family: @quoteFont;
        font-size: 135px;
        color: @mainColor;
      }

      &::before {
        top: 0;
        left: 0;
        transform: rotate(180deg);
      }

      &::after {
        right: 0;
        bottom: -50%;
      }
    }
    p {
      margin: 0;
      margin-bottom: 16px;
      font-size: 18px;
      text-align: center;
      line-height: 1.28;
      color: @color6;
      span {
        margin-left: 8px;
        font-weight: 500;
        color: @mainColor;
      }
      &:nth-of-type(2) {
        font-size: 15px;
      }
    }
    button {
      display: block;
      padding: 30px 102px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-align: center;
      text-transform: uppercase;
      color: @color7;
      .button();
      background-color: #c35c2f;
      border: 1px solid transparent;
      border-radius: 3px;
      box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
      0 2px 4px 0 rgba(99, 71, 77, 0.2);
    }
  }
  &__offer {
    .section__title {
      padding: 60px 24px 36px;
      font-size: 73px;
      line-height: 0.67;
      text-align: center;
      color: @color2;
      background-color: @color3;
    }
  }
}


@media screen and (min-width: 768px) {
  .programs {
    .head-slider__container {
      padding-bottom: 128px;
    }
    &__info {
      position: absolute;
      right: 0;
      bottom: -172px;
      width: 50%;
      padding-right: 36px;
      padding-left: 38px;
      &__list {
        display: block;
      }
    }
    &__course {
      padding: 232px 30px 66px 18px;
      &__title {
        margin-bottom: 66px;
      }
      p {
        padding-left: 36px;
      }
      ul {
        padding-left: 36px;
      }
      &__list {
        &__title {
          margin-bottom: 36px;
        }
        &__text {
          max-width: 640px;
        }
      }
    }
    &__lessons {
      &__slide {
        padding-right: 36px;
        padding-left: 18px;
      }
    }
    &__registration {
      padding: 100px 0;
      &>div {
        width: 640px;
        padding-right: 42px;
        padding-left: 42px;
        margin: 0 auto;
      }
    }
    &__offer {
      .section__title {
        padding: 60px 26px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .programs {
    &__header {
      &__content {
        .head-slider__container {
          padding-bottom: 60px;
        }
      }
    }
    &__info {
      bottom: -200px;
    }
    &__course {
      padding: 272px 0 90px;
      &__title {
        margin-bottom: 84px;
      }
      &__list {
        max-width: 800px;
        margin: 0 auto;
      }
    }
    &__lessons {
      &__slider {
        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 2;
          display: block;
          width: 186px;
          height: 100%;
          background-image: linear-gradient(to left, #ffecbc, rgba(254, 234, 187, 0.84) 45%, rgba(253, 232, 185, 0));
        }
      }
      &__slide {
        width: 66.7%!important;
        padding-left: 60px;
        margin-right: 0;
        &.swiper-slide-active {
          padding-bottom: 60px;
          &:nth-of-type(n+2) {
            margin-left: 33.3%;
          }
          .programs__lessons__content {
            padding-left: 0;
          }
        }
      }
      &__content {
        padding-left: 28px;
      }
      .team-block__nav {
        right: ~'calc(33.3% - 60px)';
        bottom: 60px;
      }
    }
    &__offer {
      .section__title {
        padding-top: 102px;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .programs {
    &__header {
      &__content {
        .head-slider__container {
          .head-slider__text {
            display: block;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .programs {
    &__header {
      &__content {
        .head-slider__container {
          padding-bottom: 32px;
        }
      }
    }
    &__course {
      padding-top: 100px;
      padding-bottom: 60px;
    }
  }
}
