.thanks {
    min-height: 100vh;
    padding-top: 130px;
    background-color: fade(@color1, 78%);
    background-image: linear-gradient(to bottom, rgba(182, 133, 103, 0.78), rgba(182, 133, 103, 0.78)),
    url(../images/required/bg.jpg);
    .bg-img();
    &__content {
        width: 85%;
        padding: 123px 60px 60px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 1.61;
        background-color: fade(@color2, 20%);
        border: 1px solid @color2;
        border-radius: 3px;
        p {
            margin: 0 0 16px;
            color: #fff;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &__date {
        margin-bottom: 8px;
        &:last-of-type {
            margin-bottom: 36px;
        }
        span {
            &:first-of-type {
                color: @color2;
            }
            &:last-of-type {
                margin-left: 8px;
                font-weight: 500;
                color: @mainColor;
            }
        }
    }
    a {
        display: inline-block;
        margin-top: 60px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: @color2;
        svg {
            transform: rotate(180deg);
        }
        span {
            margin-left: 16px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .thanks {
        &__content {
            width: 825px;
        }
    }
}