.header.js-header
    .header__logo
            a(href="index.html")
            .header__logo__image.js-logo-image
                svg(xmlns='http://www.w3.org/2000/svg', width='105', height='105', viewBox='0 0 105 105')
                    g(fill='none', fill-rule='evenodd')
                        g(transform='translate(0 1)')
                            g(fill='#CB2026')
                                path(d='M78.717 23.968c.18-.18.359-.24.598-.24s.418.06.598.24c.179.18.239.358.239.598 0 .239-.06.418-.24.597a.767.767 0 0 1-.597.24.767.767 0 0 1-.598-.24.767.767 0 0 1-.239-.597c0-.24.06-.419.24-.598zM79.674 78.538c.179.18.239.359.239.598s-.06.418-.24.597a.767.767 0 0 1-.597.24.767.767 0 0 1-.598-.24.767.767 0 0 1-.239-.597c0-.24.06-.419.24-.598.178-.18.358-.24.597-.24s.478.12.598.24zM25.283 79.733a.767.767 0 0 1-.598.24.767.767 0 0 1-.598-.24.767.767 0 0 1-.239-.597c0-.24.06-.419.24-.598.179-.18.358-.24.597-.24.24 0 .418.06.598.24s.239.359.239.598-.12.418-.24.597zM24.625 25.163a.767.767 0 0 1-.239-.597c0-.24.06-.419.24-.598.179-.18.358-.24.597-.24.24 0 .418.06.598.24.179.18.239.358.239.598 0 .239-.06.418-.24.597a.767.767 0 0 1-.597.24.797.797 0 0 1-.598-.24zM29.945 20.501c.06 0 .06-.06.06-.06h.06c.06.18.358.897.358.957v.06l-2.152 1.673h-.06c0-.06 0 0-.06-.06v-.06l.12-.119.12-.12c.06-.06.06-.12.06-.179 0-.06 0-.12-.06-.18l-1.136-2.45v-.06-.06l-.06-.06h-.12c-.059 0-.059 0-.178.06-.06 0-.06.06-.12.06h-.06c0-.06 0 0-.06-.06v-.06l1.136-.896h.06c0 .06 0 0 .06.06v.06l-.12.12c-.06.06-.12.119-.12.179-.06.06-.06.12-.06.18 0 .059 0 .119.06.178l1.017 2.272c0 .06.06.12.06.12 0 .059.06.059.06.119.059.06.119.12.179.06.06 0 .179-.12.358-.24.12-.06.18-.179.299-.239.12-.12.18-.179.18-.239 0-.12.06-.299.06-.478v-.478c.059 0 .059-.06.059-.06z')
                                path(fill-rule='nonzero', d='M32.097 18.529c.12.179.179.358.239.538.06.179.06.418.06.597 0 .18-.06.419-.18.598-.12.18-.239.359-.478.478-.24.18-.478.18-.717.12a.95.95 0 0 1-.598-.478c-.12-.18-.18-.359-.24-.598-.059-.18-.059-.418-.059-.598s.12-.358.18-.538c.119-.179.239-.299.418-.418.239-.18.478-.24.717-.18.299.06.478.24.658.479zm-.479.179c-.12-.18-.239-.359-.418-.359a.368.368 0 0 0-.418.06c-.12.06-.18.18-.24.299-.06.12-.06.299-.06.538 0 .18.06.299.12.478.06.18.12.299.24.419.119.179.298.358.418.418s.299.06.418-.06c.12-.06.24-.18.24-.358.059-.12.059-.3.059-.479s-.06-.298-.12-.478c-.06-.12-.179-.299-.239-.478z')
                                path(d='M34.308 16.676c.12.239.24.478.299.717.06.299.06.538.06.777 0 .24-.06.478-.18.658-.12.179-.239.358-.478.478-.18.12-.358.12-.538.12-.179-.06-.299-.18-.418-.36 0-.06-.06-.06-.06-.119 0-.06 0-.06-.06-.12l-.179-.836c0-.06-.06-.12-.06-.18s-.06-.119-.06-.179l-.12-.12c-.059 0-.119 0-.178.06-.06 0-.06.06-.12.06l-.06.06h-.06v-.06-.06c.06-.12.18-.179.24-.239l.179-.179c.12-.06.239-.06.299-.06s.18.06.239.18c0 0 .06.06.06.12 0 .059.06.119.06.178l.238.957c0 .06.06.12.06.179 0 .06.06.12.06.12.06.06.12.12.12.179.06.06.12.06.179.06h.12c.06 0 .119-.06.119-.06.12-.06.18-.12.239-.24.06-.119.12-.238.12-.418v-.478c0-.179-.06-.358-.18-.478-.06-.06-.12-.18-.179-.18-.06-.059-.12-.059-.18-.059s-.119-.06-.119-.06c-.06 0-.12-.06-.12-.18a.182.182 0 0 1 0-.238c.06-.06.06-.12.12-.18s.18-.06.24 0c.179-.06.238 0 .298.18z')
                                path(fill-rule='nonzero', d='M36.699 15.6c.06.18.12.299.06.478-.06.18-.18.299-.3.478-.119.12-.238.24-.358.3-.12.119-.299.178-.418.298.12.24.239.418.418.478.18.06.299.06.478 0 .18-.06.3-.18.359-.299.06-.12.12-.299.18-.478 0 0 0-.06.059-.06h.12c.06 0 .06.06.06.06-.06.24-.12.419-.24.598-.12.18-.299.358-.478.418-.299.12-.538.12-.717.06-.24-.06-.359-.239-.538-.538-.12-.18-.12-.418-.18-.598 0-.179 0-.418.06-.597.06-.18.12-.359.24-.538a.93.93 0 0 1 .478-.359c.239-.12.418-.12.538-.12 0 .18.12.3.179.419zm-.478.12c0-.06-.06-.12-.12-.12s-.06-.06-.12-.06h-.119c-.06 0-.06 0-.12.06-.179.06-.298.24-.358.538-.06.299-.06.598.06.896.12-.06.239-.12.358-.239.12-.12.24-.179.3-.239.119-.12.178-.239.178-.358.06-.18 0-.3-.06-.478zM40.943 13.15c.06.179.06.358.06.537-.06.18-.12.359-.18.479-.12.179-.24.298-.418.418-.18.12-.359.18-.538.299l-.419.12.12 1.135v.12c0 .06 0 .06.06.06 0 0 .06.059.12.059h.178c.06 0 .12 0 .18-.06h.06v.18l-1.375.478h-.06v-.06c0-.06 0-.06.06-.06s.06-.06.12-.06c.06-.06.119-.06.119-.06.06-.06.06-.119.12-.119v-.18l-.3-2.689v-.06-.06c0-.06 0-.06-.06-.06-.059 0-.059-.059-.119-.059h-.299-.06v-.06c0-.06.06-.06.06-.06l1.495-.478c.299-.12.538-.12.717-.06.12-.06.299.06.359.3zm-.538.896c.06-.12.06-.24.06-.359 0-.12-.06-.239-.06-.298 0-.06-.06-.12-.12-.18s-.12-.12-.18-.12c-.059-.06-.119-.06-.238-.06-.06 0-.18 0-.3.06l-.298.12.18 1.674.298-.12c.18-.06.359-.18.478-.239.06-.18.12-.299.18-.478z')
                                path(d='M45.963 12.731v.18c0 .06 0 .119-.06.119 0 .06-.06.12-.06.12-.06.06-.06.06-.119.06h-.239l-.12-.12v-.18c0-.06 0-.12.06-.179 0 0-.06 0-.12.06-.059 0-.119.06-.179.12l-.179.179c-.06.06-.12.179-.239.299l-.06 1.793s0 .06-.12.12c-.119 0-.179.059-.298.059-.12 0-.06-.06-.06-.06l.06-1.614v-.179-.18c0-.119-.06-.179-.06-.179h-.18c-.059 0-.059 0-.119.06-.06 0-.06 0-.06.06h-.06v-.06c0-.06 0-.06.06-.06.12-.06.18-.12.3-.179.119-.06.179-.06.238-.12.12 0 .24 0 .3.06.059.06.119.18.119.3.12-.18.299-.36.358-.42.12-.059.18-.119.3-.179h.179c.06 0 .12 0 .12.06.059 0 .059.06.119.12.06-.18.06-.12.12-.06zM47.756 12.372l-.538.06-.12 2.152c0 .359-.119.717-.358.956-.239.3-.478.419-.717.478-.12 0-.24 0-.359-.06-.06-.06-.12-.119-.12-.179s0-.12.06-.179c.06-.06.12-.12.18-.12h.12c.06 0 .06.06.119.06a210509.77 210509.77 0 0 0 .24.24c.119 0 .238-.12.298-.3.06-.179.12-.418.12-.717l.179-2.211-.419.06s-.06 0-.06-.06v-.12c0-.06.06-.06.06-.06l.419-.06v-.179c0-.179.06-.358.12-.538.06-.179.119-.298.238-.418.12-.12.18-.24.359-.299.12-.06.24-.12.359-.12.12 0 .239 0 .358.06.06.06.12.12.12.18s0 .12-.06.179c-.06.06-.12.12-.18.12h-.119c-.06 0-.06-.06-.12-.06l-.119-.12c0-.06-.06-.06-.12-.12-.119 0-.179.12-.298.3-.06.179-.12.418-.12.777v.298l.538-.06s.06 0 .06.06v.12c-.06-.12-.12-.12-.12-.12zM51.462 14.464c-.299 0-.538-.06-.717-.239-.18-.179-.24-.418-.299-.717 0-.239 0-.418.06-.598.06-.179.12-.358.239-.538.12-.179.239-.298.418-.358.18-.12.359-.18.598-.18s.418.06.538.12c.12.12.18.24.18.359 0 .12 0 .239-.06.298-.06.12-.12.12-.24.12s-.179 0-.179-.06c-.06-.06-.06-.12-.06-.179 0-.06 0-.12.06-.24.06-.119.06-.178.06-.238s-.06-.06-.12-.12h-.18c-.238 0-.417.12-.597.419-.18.298-.239.597-.239 1.016 0 .239.06.418.18.597.119.12.239.18.418.18.18 0 .299-.06.418-.12.12-.06.24-.18.359-.358 0 0 .06-.06.06 0l.06.06c.06 0 0 .06 0 .06-.12.178-.24.298-.419.477-.12.18-.299.24-.538.24zM53.434 14.464c-.179 0-.298-.06-.358-.12a.457.457 0 0 1-.12-.298v-.12-.12l.478-1.673h-.358s-.06 0-.06-.06 0-.06.06-.119c0-.06.06-.06.06-.06h.418l.18-.717h.477l-.179.717h.658s.06 0 .06.06 0 .06-.06.12c0 .06-.06.06-.06.06h-.658l-.358 1.374c0 .06-.06.12-.06.18v.179c0 .12 0 .179.06.179.06.06.12.06.239.06h.358s.06 0 0 .06v.12c0 .059-.06.059-.06.059-.119.06-.179.06-.298.12h-.419z')
                                path(fill-rule='nonzero', d='M55.766 14.285c.06 0 .06 0 0 0v.12c0 .06-.06.06-.06.06-.12.06-.24.06-.359.119h-.239c-.12 0-.239-.06-.299-.12s-.12-.179-.06-.239v-.12c0-.059 0-.119.06-.179l.359-1.075c0-.06.06-.12.06-.18s0-.12.06-.179c0-.12 0-.18-.06-.18 0-.06-.12-.06-.18-.06h-.239s-.06 0-.06-.059v-.06c0-.06.06-.06.06-.06.12-.06.24-.06.299-.119h.24c.119 0 .238.06.298.12s.06.179.06.298v.12c0 .06 0 .12-.06.18l-.359 1.075c0 .06-.06.12-.06.18s0 .119-.06.179c0 .12 0 .18.06.18.06.059.12.059.18.059h.12c.179-.06.239-.06.239-.06zm.478-3.228c0 .12-.06.18-.12.24s-.12.12-.239.12c-.06 0-.18-.06-.239-.12-.06-.06-.06-.18-.06-.24 0-.12.06-.179.12-.239s.12-.12.239-.06c.12 0 .18.06.239.12.06 0 .06.06.06.18zM58.694 13.329c0 .179-.06.418-.18.597-.119.18-.238.36-.358.479-.179.12-.299.239-.538.298-.179.06-.418.06-.657.06a1.18 1.18 0 0 1-.658-.358c-.12-.18-.179-.479-.179-.777.06-.24.12-.419.18-.598.119-.18.239-.359.358-.478.12-.12.299-.24.538-.3.18-.059.418-.059.598-.059.299.06.538.18.657.359.24.239.299.478.24.777zm-.478-.18a.75.75 0 0 0-.06-.538c-.06-.119-.179-.179-.358-.239-.12 0-.3 0-.419.06-.12.06-.239.18-.358.359-.12.12-.18.299-.24.478-.06.18-.119.359-.119.478a.75.75 0 0 0 .06.538c.06.12.18.24.358.24.12 0 .3 0 .419-.06.12-.06.239-.18.358-.3.12-.119.18-.298.24-.478.06-.12.06-.298.12-.538z')
                                path(d='M61.503 15.241v.12c0 .06-.06.06-.06.06-.119 0-.238.06-.358.06h-.239c-.12 0-.24-.06-.299-.18-.06-.06-.06-.18-.06-.299 0-.06 0-.06.06-.12 0-.059.06-.119.06-.119l.418-.896c.06-.06.06-.12.06-.18s.06-.12.06-.12v-.298c-.06-.06-.12-.12-.24-.12h-.358c-.12.06-.299.12-.418.24l-.777 1.673s0 .06-.12.06c-.06 0-.239-.06-.299-.06s0-.12 0-.12l.658-1.434c0-.06.06-.12.06-.18.06-.059.06-.119.06-.179v-.179c0-.06-.06-.06-.18-.06h-.239s-.06 0 0-.06c0-.06 0-.06.06-.06 0-.059.06-.059.06-.059.119 0 .239-.06.298-.06h.24c.119 0 .239.06.239.18.06.06.06.179 0 .298.239-.12.418-.179.537-.239.12-.06.3-.06.479 0s.298.12.358.24c.06.119.06.239.06.418 0 .06 0 .06-.06.18 0 .059-.06.119-.12.238l-.358.777c0 .06-.06.12-.06.18-.06.06-.06.12-.06.179v.18c.06.059.12.059.18.119h.12c.179-.18.179-.18.238-.18zM63.894 16.317c-.18-.06-.358-.12-.478-.239-.12-.12-.239-.18-.299-.299l-.18.12h-.059c-.06 0-.06 0-.12-.06-.06 0 0-.06 0-.06l.598-1.016s0-.06.06 0c.06 0 .06 0 .12.06.06 0 .06.06.06.06-.06.12-.06.239-.06.358 0 .12 0 .24.06.359.06.12.119.24.179.299.06.12.239.18.358.239.24.06.478.06.658 0 .18-.06.299-.24.418-.478.06-.12.06-.24 0-.359 0-.12-.12-.239-.18-.299-.119-.06-.178-.179-.298-.239s-.18-.18-.299-.239a.963.963 0 0 1-.239-.418.66.66 0 0 1 0-.478c.06-.18.12-.3.24-.419.119-.12.238-.18.358-.239.12-.06.299-.06.478-.06.18 0 .359 0 .478.06.12.06.299.12.419.18s.239.239.298.298c0 .06.06 0 .06 0l.12-.06h.06c.06 0 .06 0 .119.06.06 0 0 .06 0 .06l-.598.956s0 .06-.06 0c-.06 0-.06 0-.119-.06-.06 0-.06-.06 0-.06.06-.119.06-.238.06-.358v-.358c0-.12-.06-.24-.12-.3-.06-.059-.18-.179-.358-.179a.581.581 0 0 0-.538.06c-.18.06-.3.24-.359.419-.06.12-.06.239-.06.298 0 .12.06.18.18.3.06.119.179.179.298.238.12.06.18.18.3.24.179.119.238.298.298.478a.66.66 0 0 1 0 .478c-.06.18-.12.299-.299.418-.12.12-.239.24-.418.299-.18.06-.359.12-.538.12-.24-.06-.418-.12-.598-.18zM70.11 18.648c.06 0 .06 0 0 0 0 .06 0 .06-.06.12h-.06c-.119 0-.238 0-.358-.06-.06 0-.18-.06-.239-.06a.467.467 0 0 1-.239-.239v-.299c0-.06.06-.06.06-.12 0-.059.06-.059.12-.119l.657-.717c.06-.06.12-.12.12-.18.06-.06.06-.06.06-.119.059-.12.059-.18.059-.299 0-.06-.06-.12-.18-.179-.119-.06-.239-.06-.358-.06-.12 0-.299.06-.478.12l-1.196 1.434s-.06.06-.12 0c-.059-.06-.178-.06-.238-.12-.06-.059 0-.119 0-.119l2.092-2.51c0-.06.06-.06.06-.06l.06-.06c0-.06.059-.12.059-.12 0-.059 0-.059-.06-.119 0 0-.06-.06-.12-.06-.059 0-.059-.06-.119-.06v-.06l.06-.059h.06c.12.06.777.359.837.359.06 0 .06.06 0 .06l-1.136 1.374c.18-.06.418-.06.538-.06.18 0 .299.06.478.12.12.06.239.18.299.299.06.12 0 .239-.06.418 0 0-.06.06-.06.12-.06.06-.12.12-.12.18l-.537.657c-.06.06-.06.12-.12.12-.06.059-.06.119-.12.119-.059.06-.059.179-.059.179 0 .06.06.12.18.12 0 0 .059.06.119.06.06-.06.12 0 .12 0z')
                                path(fill-rule='nonzero', d='M73.159 18.947c-.12.18-.24.299-.419.478-.18.12-.358.24-.538.3-.179.059-.418.119-.597.059-.18 0-.419-.06-.598-.18a.95.95 0 0 1-.478-.597c-.06-.24 0-.478.179-.777.12-.18.24-.359.418-.478.18-.12.36-.24.538-.3.18-.059.359-.059.598-.059.18 0 .418.06.598.18.239.179.418.358.478.597.06.24 0 .538-.18.777zm-.359-.358c.12-.18.18-.36.18-.538 0-.12-.06-.24-.24-.359-.12-.06-.239-.12-.418-.12-.18 0-.299.06-.478.18-.12.12-.24.179-.359.358-.12.12-.239.3-.299.419a.964.964 0 0 0-.18.538c0 .179.06.239.24.358.12.06.24.12.418.06.18 0 .3-.06.419-.18.12-.059.239-.179.418-.358.06-.06.18-.18.299-.358zM75.49 20.56c-.12.18-.24.3-.419.42-.179.119-.358.238-.538.238-.179.06-.418.06-.597.06-.18 0-.419-.12-.598-.239-.24-.18-.359-.359-.418-.598-.06-.239 0-.478.179-.777.12-.179.299-.358.478-.478.18-.12.359-.18.538-.239.18-.06.359-.06.598 0 .179.06.418.12.597.24a.98.98 0 0 1 .419.657c0 .239-.06.478-.24.717zm-.359-.358c.12-.179.18-.358.18-.538 0-.12-.06-.239-.18-.358a.864.864 0 0 0-.418-.12c-.18 0-.3.06-.479.18-.12.06-.298.179-.418.298-.12.12-.239.24-.299.359-.12.18-.239.359-.239.538 0 .18.06.299.18.359.119.06.239.12.418.12.18 0 .299-.06.418-.12.12-.06.3-.18.419-.3.179-.119.298-.298.418-.418z')
                                path(d='M78.299 19.844l-2.45 1.972c-.06.06-.12.06-.18.12s-.12.06-.12.12c-.06.059-.06.119-.06.178 0 .06.06.12.12.18 0 0 .06.06.12.06s.06.06.12.06v.06l-.06.059h-.06c-.12-.06-.24-.06-.3-.12-.059-.06-.178-.06-.238-.12a.329.329 0 0 1-.18-.298c0-.12 0-.18.06-.299 0-.06.06-.06.06-.06.06 0 .06-.06.12-.12l2.151-1.733.06-.06.06-.06c.06-.059.06-.119.06-.119v-.12c0-.059-.06-.059-.06-.119l-.12-.12v-.059l.06-.06h.06c.12.12.717.478.717.538.06.06.06.12.06.12z')
                                path(fill-rule='nonzero', d='M43.393 13.389c.06.179.06.358-.06.478-.06.179-.179.299-.418.418-.12.12-.299.18-.418.24-.12.059-.3.178-.479.238.06.24.18.419.3.538.119.12.298.12.477.12.18-.06.3-.12.419-.24.12-.119.18-.238.239-.418 0 0 0-.06.06 0 0 0 .06 0 .12.06.059 0 0 .06 0 .06a.87.87 0 0 1-.36.538c-.179.179-.358.299-.537.358-.3.06-.538.06-.718-.06a1.057 1.057 0 0 1-.418-.657c-.06-.18-.06-.418-.06-.598 0-.179.06-.418.12-.597a.93.93 0 0 1 .358-.478c.18-.12.359-.24.538-.3.24-.06.419-.06.538 0 .18.06.3.12.3.3zm-.418.06c0-.06-.06-.12-.06-.12 0-.06-.06-.06-.12-.06h-.239c-.179.06-.358.18-.478.478-.12.24-.12.538-.12.897l.36-.18c.119-.06.238-.12.298-.239.12-.12.18-.239.24-.358.119-.12.119-.3.119-.419zM50.087 12.372c0 .18 0 .359-.12.479-.119.12-.238.239-.477.358-.18.06-.3.12-.479.18s-.358.119-.537.119c0 .24.12.478.179.598.12.12.239.18.478.18.18 0 .299-.06.418-.18.12-.12.24-.24.3-.359h.059l.06.06c.06 0 0 .06 0 .06-.12.179-.24.358-.419.478s-.418.239-.597.239c-.3 0-.538-.06-.718-.18a.896.896 0 0 1-.298-.717c0-.239 0-.418.06-.597.06-.18.119-.359.238-.538.12-.18.24-.3.419-.419.18-.12.358-.179.598-.179.239 0 .418 0 .538.12.239.06.298.179.298.298zm-.478 0c0-.06 0-.12-.06-.179 0-.06-.06-.06-.06-.06h-.239c-.179 0-.358.12-.537.359-.18.239-.24.538-.24.837.12 0 .24-.06.419-.12l.359-.18a.72.72 0 0 0 .298-.298c.06-.06.12-.18.06-.359z')
                                path(d='M66.405 17.274c-.3-.12-.479-.3-.538-.538-.12-.24-.06-.479.06-.777.06-.18.179-.359.358-.538a.93.93 0 0 1 .478-.359c.18-.12.359-.12.538-.18.18 0 .419 0 .598.12.239.12.358.24.418.359a.51.51 0 0 1 0 .418c-.06.12-.12.18-.18.24-.059.06-.178.06-.298 0-.06-.06-.12-.06-.18-.12v-.18c0-.06.06-.119.12-.179l.18-.18c0-.059 0-.119-.06-.119-.06-.06-.12-.06-.18-.12-.239-.119-.478-.059-.717.12-.239.18-.478.419-.597.777-.12.24-.12.419-.06.598.06.18.12.299.299.359s.299.06.478.06c.12 0 .299-.06.418-.18h.06c0 .06 0 .06.06.06v.06c-.18.12-.359.179-.598.239-.239.18-.418.12-.657.06z')
                                g
                                    path(d='M83.499 29.706c0 .06.06.06.06.06v.06c-.18.06-.897.358-.957.358h-.06l-1.673-2.212v-.06c.06 0 0 0 .06-.06h.06l.119.12.12.12c.06.06.12.06.179.06.06 0 .12 0 .18-.06l2.45-1.076h.12l.06-.06v-.12c0-.059 0-.119-.06-.179 0-.06-.06-.06-.06-.12v-.059c.06 0 0 0 .06-.06h.06l.836 1.136v.06h-.12l-.12-.12c-.059-.06-.119-.12-.179-.12-.06-.06-.12-.06-.179-.06-.06 0-.12 0-.18.06l-2.27 1.017c-.06 0-.12.06-.12.06-.06 0-.06.06-.12.06-.06.06-.119.119-.06.179 0 .06.12.179.24.358.06.06.18.18.239.3.12.119.18.178.239.178.12 0 .299.06.478.06h.478l.12.12z')
                                    path(fill-rule='nonzero', d='M85.471 31.857c-.179.12-.358.18-.538.24-.179.06-.418.06-.597.06-.18 0-.419-.12-.598-.18-.18-.12-.359-.24-.478-.478-.18-.24-.18-.478-.12-.717a.95.95 0 0 1 .478-.598c.18-.12.359-.18.598-.24.18-.059.418-.059.598 0 .18 0 .358.12.538.18.179.12.299.24.418.419.18.239.24.478.12.717 0 .239-.18.418-.419.597zm-.179-.478c.18-.12.359-.239.418-.418a.368.368 0 0 0-.06-.418c-.06-.12-.179-.18-.298-.24-.12-.06-.3-.06-.538-.06-.18 0-.3.06-.478.12-.18.06-.3.12-.479.24-.179.119-.358.238-.418.418-.06.12-.06.299.06.418.06.12.18.24.358.24.12.059.3.059.479.059s.298-.06.478-.12c.12-.06.299-.12.478-.239z')
                                    path(d='M87.324 34.129c-.239.12-.478.239-.717.299-.299.06-.538.06-.777.06-.24 0-.478-.06-.658-.18-.179-.12-.358-.239-.478-.478-.12-.18-.12-.359-.12-.538.06-.18.18-.299.36-.418.06 0 .06-.06.119-.06.06 0 .06 0 .12-.06l.836-.18c.06 0 .12-.06.18-.06s.119-.059.179-.059l.12-.12c0-.06 0-.119-.06-.179 0-.06-.06-.06-.06-.12l-.06-.059v-.06h.12c.12.06.179.18.239.24l.179.179c.06.12.06.239.06.298 0 .06-.06.18-.18.24-.06 0-.06.06-.12.06-.059 0-.119.06-.178.06l-.957.238c-.06 0-.12.06-.179.06-.06 0-.12.06-.12.06-.06.06-.12.06-.179.12-.06.059-.06.119-.06.179v.12c0 .059.06.119.06.119.06.12.12.179.24.239.119.06.238.12.418.12.179 0 .298.059.478 0 .179 0 .358-.06.478-.18a.74.74 0 0 0 .18-.12c.059-.06.059-.12.059-.179 0-.06.06-.12.06-.12 0-.06.06-.119.18-.119.059-.06.178-.06.238 0s.12.06.18.12.06.179 0 .239c.06.06-.06.179-.18.239z')
                                    path(fill-rule='nonzero', d='M88.34 36.52c-.18.06-.299.06-.478.06-.18-.06-.299-.18-.478-.3-.12-.12-.24-.239-.299-.358-.12-.12-.18-.299-.299-.478-.239.12-.418.239-.478.418-.06.12-.12.299 0 .478.06.18.18.3.299.359.12.06.299.12.478.18 0 0 .06 0 .06.059v.12c0 .06-.06.06-.06.06-.239-.06-.418-.12-.598-.24-.179-.12-.358-.299-.418-.478-.12-.299-.12-.538-.06-.717.06-.24.299-.359.538-.538.18-.06.419-.12.598-.18.18 0 .418 0 .598.06.179.06.358.12.537.24a.93.93 0 0 1 .36.478c.119.239.119.418.119.537-.18.06-.3.18-.419.24zm-.12-.479c.06 0 .12-.06.12-.12 0-.059.06-.059.06-.119v-.12c0-.059 0-.059-.06-.119-.06-.18-.239-.299-.538-.358-.299-.06-.597-.06-.896.06.06.119.12.238.239.358.12.12.18.24.239.299.12.12.239.18.359.18.179.059.298 0 .478-.06zM90.79 40.763c-.179.06-.358.06-.537.06-.18-.06-.359-.12-.478-.18-.18-.119-.3-.238-.419-.418-.12-.179-.179-.358-.239-.538l-.12-.418-1.135.12h-.06-.06c-.06 0-.06 0-.06.06 0 0-.059.059-.059.119v.18c0 .059 0 .119.06.178v.06h-.18l-.478-1.375v-.06h.06c.06 0 .06 0 .06.06s.06.06.06.12c.06.06.06.12.06.18l.119.119h.18l2.689-.24h.12c.06 0 .06 0 .06-.059 0 0 .059-.06.059-.12v-.179-.12s0-.06.06-.06h.06c.06 0 .06.06.06.06l.477 1.495c.12.299.12.538.06.717-.12 0-.239.18-.418.24zm-.956-.538c.12.06.24.06.36.06.119 0 .238 0 .298-.06.06 0 .12-.06.18-.12.059-.059.119-.119.119-.179.06-.06.06-.12.06-.239 0-.06 0-.179-.06-.298l-.12-.3-1.673.18.12.299c.059.18.119.358.238.478.24.06.359.12.478.18z')
                                    path(d='M91.09 45.784h-.18c-.06 0-.12 0-.12-.06-.059 0-.119-.06-.119-.06-.06-.06-.06-.06-.06-.12 0-.059 0-.178.06-.238l.12-.12h.18c.059 0 .119 0 .178.06 0 0 0-.06-.06-.12 0-.06-.06-.12-.119-.179l-.18-.18c-.059-.059-.179-.119-.298-.238l-1.793-.06s-.12 0-.12-.12-.06-.179-.06-.298c0-.12.06-.06.06-.06l1.614.06h.359c.12 0 .179-.06.179-.06v-.18c0-.06 0-.06-.06-.119 0-.06 0-.06-.06-.06v-.06h.06c.06 0 .06 0 .06.06.06.12.12.18.18.299.06.12.06.18.119.24 0 .119 0 .238-.06.298s-.18.12-.299.12c.18.119.359.298.419.358.06.12.12.18.179.299v.18c0 .06 0 .119-.06.119 0 .06-.06.06-.12.12.18.06.12.119 0 .119zM91.448 47.637l-.06-.538-2.151-.18c-.359-.06-.717-.179-.957-.358-.298-.24-.418-.478-.478-.717 0-.12 0-.24.06-.359.06-.06.12-.12.18-.12s.119 0 .179.06.12.12.12.18v.12c0 .059-.06.059-.06.119l-.12.12-.12.119c0 .12.12.239.3.299.179.06.418.12.716.12l2.212.178-.06-.418s0-.06.06-.06h.12c.06 0 .06.06.06.06l.059.418h.18c.179 0 .358.06.537.12.18.06.3.12.419.24.12.119.239.178.299.358.06.12.12.239.12.358 0 .12 0 .24-.06.359-.06.06-.12.12-.18.12s-.12 0-.18-.06-.119-.12-.119-.18v-.12c0-.059.06-.059.06-.119l.12-.12c.06 0 .06-.059.119-.119 0-.12-.12-.18-.299-.299-.18-.06-.418-.12-.777-.12h-.299l.06.539s0 .06-.06.06h-.12c-.059 0 .12-.06.12-.06zM89.297 51.283c0-.3.06-.538.239-.717.179-.18.418-.24.717-.24.239 0 .418 0 .598.12.179.06.358.18.538.24.179.119.298.238.358.417.12.18.12.36.18.598 0 .24-.06.419-.12.538-.12.12-.24.18-.359.18-.12 0-.239 0-.299-.06s-.12-.12-.12-.24c0-.119 0-.179.06-.179.06-.06.12-.06.18-.06s.12 0 .239.06c.12.06.18.06.24.06.059 0 .059-.06.119-.12 0-.06.06-.12 0-.179 0-.239-.12-.418-.419-.598-.299-.179-.597-.239-1.016-.239-.239 0-.418.06-.598.18-.12.12-.179.239-.179.418 0 .18.06.299.12.418.06.12.179.24.358.36 0 0 .06.059 0 .059l-.06.06c0 .06-.06 0-.06 0-.179-.12-.298-.24-.418-.419-.179-.239-.298-.418-.298-.657zM89.297 53.195c0-.179.06-.298.12-.358.059-.06.178-.12.298-.12h.239l1.674.478v-.358s0-.06.06-.06.06 0 .119.06c.06 0 .06.06.06.06v.418l.717.239v.478l-.717-.18v.658s0 .06-.06.06-.06 0-.12-.06c-.06 0-.06-.06-.06-.06v-.657l-1.374-.359c-.06 0-.12-.06-.18-.06h-.179c-.12 0-.18 0-.18.06-.059.06-.059.12-.059.24v.299s0 .06-.06 0h-.12c-.059 0-.059-.06-.059-.06-.06-.12-.06-.18-.12-.3v-.418z')
                                    path(fill-rule='nonzero', d='M89.476 55.586s0 .06 0 0h-.12c-.06 0-.06-.06-.06-.06-.06-.12-.06-.239-.06-.358v-.24c0-.119.06-.238.12-.298s.18-.06.3-.06h.119c.06 0 .12 0 .179.06l1.076.359c.06 0 .12.06.18.06.059 0 .119.059.179.059h.179c.06 0 .06-.12.06-.18v-.119-.12s0-.06.06-.06h.06c.059 0 .059.06.059.06.06.12.06.24.06.3v.239c0 .12-.06.239-.12.298-.06.06-.18.06-.299.06h-.12c-.059 0-.119 0-.179-.06l-1.075-.358c-.06 0-.12-.06-.18-.06s-.12-.06-.18-.06c-.119 0-.178 0-.178.06-.06.06-.06.12-.06.18v.299zm3.227.538c-.12 0-.179-.06-.239-.12s-.12-.119-.06-.238c0-.06.06-.18.12-.24s.18-.06.24-.06c.119 0 .179.06.238.12.06.06.12.12.06.24 0 .119-.06.179-.12.238-.06 0-.179.06-.239.06zM90.372 58.515c-.179 0-.418-.12-.597-.18-.18-.119-.359-.238-.478-.358-.12-.18-.24-.299-.3-.538-.06-.18-.06-.418-.06-.657.06-.3.18-.479.36-.658.179-.12.478-.18.777-.18.239.06.418.12.597.18.18.12.359.24.478.359.12.12.24.299.3.538.059.179.059.418.059.597-.06.3-.18.538-.359.658-.239.239-.478.299-.777.239zm.18-.478c.239.06.418 0 .538-.06.12-.06.179-.18.239-.359 0-.12 0-.298-.06-.418s-.18-.24-.359-.359c-.12-.12-.299-.179-.478-.239-.18-.06-.358-.12-.478-.12a.75.75 0 0 0-.538.06c-.12.06-.239.18-.239.36 0 .119 0 .298.06.418s.18.239.299.358c.12.12.298.18.478.24.18.059.358.119.538.119z')
                                    path(d='M88.46 61.264c0 .06 0 .06 0 0h-.12c-.06 0-.06-.06-.06-.06 0-.119-.06-.238-.06-.358v-.24c.06-.119.06-.238.18-.298.06-.06.18-.06.299-.06.06 0 .06 0 .12.06.06 0 .119.06.119.06l.896.478c.06.06.12.06.18.06s.12.06.12.06h.298c.06-.06.12-.12.18-.24v-.358c-.06-.12-.12-.299-.18-.419l-1.673-.836s-.06 0-.06-.12c0-.06.06-.239.06-.299s.12 0 .12 0l1.434.717c.06 0 .12.06.179.06.06.06.12.06.18.06h.179c.06 0 .06-.06.12-.18v-.119-.06s0-.06.059 0c.06 0 .06 0 .06.06.06 0 .06.06.06.06 0 .12.06.239.06.299v.239c-.06.12-.06.239-.18.239-.06.06-.18.06-.299 0 .12.239.18.418.24.538.059.12.059.299 0 .478-.06.18-.12.299-.24.359s-.239.06-.418.06c-.06 0-.06 0-.18-.06-.06 0-.12-.06-.239-.12l-.777-.418c-.06 0-.12-.06-.18-.06-.059 0-.119-.06-.178-.06h-.18c-.06.06-.06.12-.12.18v.298zM87.324 63.655c.06-.18.18-.358.24-.478.119-.12.179-.24.298-.299l-.12-.18v-.059c0-.06 0-.06.06-.12 0-.06.06 0 .06 0l1.016.598s.06 0 0 .06c0 .06 0 .06-.06.12 0 .06-.06.06-.06.06-.119-.06-.238-.06-.358-.06s-.24 0-.359.06c-.12.06-.239.119-.298.179-.12.06-.18.239-.24.358-.06.24-.06.478 0 .658.06.179.24.299.479.418.12.06.239.06.358 0 .12 0 .24-.12.3-.18.119-.119.178-.179.238-.298.06-.12.18-.18.24-.299.119-.12.238-.18.418-.239a.66.66 0 0 1 .478 0c.18.06.299.12.418.24.12.119.18.238.24.358.059.12.059.299.059.478 0 .18 0 .359-.06.478-.06.12-.12.299-.179.359-.06.12-.24.239-.299.299-.06 0 0 .06 0 .06l.06.119v.06c0 .06-.06.12-.06.12 0 .059-.06 0-.06 0l-.956-.599s-.06 0 0-.06c0-.06 0-.06.06-.119 0-.06.06 0 .06 0 .12.06.239.06.358.06h.359c.12 0 .239-.06.299-.12s.179-.179.239-.358a.581.581 0 0 0-.06-.538c-.06-.18-.24-.299-.418-.359-.12-.06-.24-.06-.3-.06-.119 0-.179.06-.298.12-.12.06-.18.18-.24.299-.059.12-.179.18-.238.239-.18.18-.3.239-.478.299a.66.66 0 0 1-.479 0c-.179-.06-.298-.18-.418-.3-.12-.119-.24-.238-.24-.418-.059-.179-.119-.358-.119-.537-.06 0 0-.18.06-.419zM84.993 69.871c0 .06-.06.06 0 0-.06 0-.06 0-.12-.06v-.06c0-.119 0-.238.06-.358 0-.06.06-.18.06-.239.06-.12.12-.18.24-.24h.298c.06 0 .06.06.12.06s.06.06.12.12l.716.658c.06.06.12.12.18.12.06.059.06.059.12.059.119.06.179.06.298.06.06 0 .12-.06.18-.18.06-.119.06-.239.06-.358 0-.12-.06-.299-.12-.478l-1.375-1.196s-.06-.06 0-.12c.06-.059.06-.179.12-.238.06-.06.119 0 .119 0l2.51 2.092c.06 0 .06.06.06.06l.06.06c.06 0 .12.059.12.059.06 0 .06 0 .119-.06 0 0 .06-.06.06-.12s.06-.06.06-.119h.06l.059.06v.06c-.06.12-.359.777-.359.836h-.06l-1.374-1.135c.06.18.06.418.06.538 0 .179-.06.299-.12.478a.72.72 0 0 1-.299.299c-.12.06-.239 0-.418-.06 0 0-.06-.06-.12-.06-.06-.06-.12-.12-.179-.12l-.657-.537c-.06-.06-.12-.06-.12-.12-.06-.06-.12-.06-.12-.12-.06-.06-.179-.06-.179-.06-.06 0-.12.06-.12.18 0 0-.06.06-.06.12-.059.06-.059.12-.059.12z')
                                    path(fill-rule='nonzero', d='M84.634 72.92c-.179-.12-.298-.24-.478-.419-.12-.18-.239-.358-.299-.538-.06-.18-.06-.418-.06-.597 0-.18.06-.419.24-.598.12-.24.358-.359.597-.419.24-.06.479 0 .777.18.18.12.36.239.479.418.12.18.239.359.299.538.06.18.06.359.06.598 0 .18-.06.418-.18.597-.18.24-.359.419-.598.479-.358 0-.597-.06-.837-.24zm.36-.36c.178.12.358.18.537.18.12 0 .24-.06.359-.239.06-.12.12-.239.12-.418 0-.18-.06-.3-.18-.478-.06-.12-.18-.24-.359-.359-.12-.12-.299-.24-.418-.299a.964.964 0 0 0-.538-.18c-.18 0-.299.06-.359.24-.06.12-.12.239-.06.418 0 .12.06.3.18.419.06.12.18.299.358.418.06.06.18.18.36.299zM82.96 75.25c-.178-.119-.298-.239-.417-.418-.12-.18-.18-.358-.24-.538-.06-.18-.06-.418-.06-.597.06-.18.12-.419.24-.598.18-.24.358-.359.597-.419.24-.06.479.06.777.24.18.12.36.298.419.478.12.179.18.358.239.538.06.179.06.358 0 .597-.06.18-.12.419-.24.598-.178.24-.418.359-.657.418-.12-.06-.418-.12-.657-.298zm.42-.358c.179.12.358.239.537.239.12 0 .3-.06.359-.18.06-.119.12-.238.12-.418 0-.179-.06-.299-.18-.478-.06-.12-.18-.299-.299-.418l-.358-.359c-.18-.12-.359-.239-.538-.239-.12 0-.3.06-.359.18-.06.119-.12.238-.12.418s.06.299.12.418c.06.12.18.299.299.419.12.179.239.298.418.418z')
                                    path(d='M83.678 78.06l-1.912-2.45c-.06-.06-.06-.12-.12-.18s-.06-.12-.12-.12c-.06-.06-.12-.06-.179-.06-.06 0-.12.06-.18.12 0 0-.059.06-.059.12s-.06.06-.06.12h-.06l-.06-.06v-.06c.06-.12.06-.24.12-.3.06-.059.06-.179.12-.238.06-.12.18-.18.299-.18.12 0 .179 0 .299.06.06 0 .06.06.06.06 0 .06.06.06.119.12l1.673 2.151.06.06.06.06c.06.06.12.06.12.06h.119c.06 0 .06-.06.12-.06l.12-.12h.059l.06.06v.06c-.12.12-.479.717-.538.717-.06.06-.12.06-.12.06z')
                                    path(fill-rule='nonzero', d='M90.492 43.274c-.18.06-.359 0-.478-.06-.18-.06-.3-.24-.419-.419-.12-.12-.179-.298-.239-.418s-.12-.299-.239-.478c-.239.06-.418.18-.538.299-.12.12-.12.299-.12.478.06.18.12.299.24.418.12.12.239.18.418.24 0 0 .06 0 0 .06 0 0 0 .059-.06.119 0 .06-.06 0-.06 0a.87.87 0 0 1-.537-.359 1.411 1.411 0 0 1-.359-.538c-.06-.299-.06-.538.06-.717.12-.18.359-.359.657-.419.18-.06.419-.06.598-.06.18 0 .418.06.598.18.18.06.358.18.478.359s.239.358.299.538c.06.239.06.418 0 .537-.06.06-.12.18-.299.24zm-.06-.479c.06 0 .12-.06.12-.06.06 0 .06-.06.06-.119v-.12-.119c-.06-.18-.18-.359-.479-.478-.239-.12-.538-.12-.896-.12l.18.359c.059.12.119.239.238.299.12.12.24.18.359.239.12.12.299.12.418.12zM91.389 49.908c-.18 0-.36 0-.479-.12-.12-.119-.239-.239-.358-.478-.06-.179-.12-.299-.18-.478-.06-.18-.12-.358-.12-.538-.238 0-.477.06-.597.18s-.18.239-.18.478c0 .179.06.299.18.418.06.12.24.24.359.299v.06l-.06.06c0 .06-.06 0-.06 0-.18-.12-.358-.24-.478-.419-.12-.18-.239-.418-.239-.598 0-.298.06-.538.18-.717a.896.896 0 0 1 .717-.299c.239 0 .418 0 .597.06.18.06.359.12.538.24.18.119.299.238.419.418.12.179.179.358.179.597 0 .24 0 .419-.12.538 0 .24-.12.299-.298.299zm.06-.418c.059 0 .119 0 .179-.06.06 0 .06-.06.06-.06v-.12-.119c0-.18-.12-.359-.36-.538-.238-.18-.537-.239-.836-.239 0 .12.06.24.12.418l.179.359c.06.12.18.24.299.299.06 0 .179.06.358.06z')
                                    path(d='M86.368 66.225c.12-.299.299-.478.538-.538.239-.06.478-.06.777.06.18.06.358.18.538.359a.93.93 0 0 1 .358.478c.12.18.12.359.18.538 0 .18 0 .418-.12.598-.12.239-.239.358-.359.418a.51.51 0 0 1-.418 0c-.12-.06-.18-.12-.239-.18-.06-.06-.06-.179 0-.298.06-.06.06-.12.12-.18h.179c.06 0 .12.06.18.12l.178.18c.06 0 .12 0 .12-.06.06-.06.06-.12.12-.18.12-.239.06-.418-.12-.717a2.158 2.158 0 0 0-.777-.657c-.24-.12-.418-.12-.598-.06-.179.06-.299.12-.358.299-.06.179-.06.298-.06.478 0 .12.06.299.18.418v.06c-.06 0-.06 0-.06.06h-.06c-.12-.18-.18-.359-.24-.598a.46.46 0 0 1-.06-.598z')
                                g
                                    path(d='M73.995 83.44c-.06 0-.06.059-.06.059h-.06c-.059-.18-.358-.897-.358-.956v-.06l2.152-1.674h.06c0 .06 0 0 .06.06v.06l-.12.12-.12.119c-.06.06-.06.12-.06.18 0 .059 0 .119.06.178l1.076 2.451v.12l.06.06h.12c.06 0 .12 0 .179-.06.06 0 .06-.06.12-.06h.06c0 .06 0 0 .059.06v.06l-1.136.836h-.06c0-.06 0 0-.06-.06v-.06l.12-.119c.06-.06.12-.12.12-.18.06-.06.06-.119.06-.179s0-.12-.06-.179l-1.016-2.271c0-.06-.06-.12-.06-.12 0-.06-.06-.06-.06-.12-.06-.059-.12-.119-.179-.059-.06 0-.18.12-.359.24-.06.059-.179.178-.299.238-.12.12-.179.18-.179.24 0 .119-.06.298-.06.477v.479c.06.06.06.06 0 .12z')
                                    path(fill-rule='nonzero', d='M71.903 85.411c-.12-.179-.179-.358-.239-.537-.06-.18-.06-.419-.06-.598 0-.18.06-.419.18-.598.12-.18.239-.358.478-.478.24-.18.478-.18.717-.12.24.06.478.24.598.479.12.179.18.358.24.597.059.18.059.419 0 .598 0 .18-.12.359-.18.538-.12.18-.24.299-.419.418-.239.18-.478.24-.717.18a.95.95 0 0 1-.598-.479zm.479-.239c.12.18.239.359.418.359.12.06.299.06.418-.06.12-.06.18-.179.24-.299s.06-.298.06-.538c0-.179-.06-.298-.12-.478a.963.963 0 0 0-.24-.418c-.119-.18-.238-.359-.418-.418a.368.368 0 0 0-.418.06c-.12.06-.24.179-.24.358-.059.12-.059.299-.059.478 0 .18.06.299.12.478.06.18.12.359.239.478z')
                                    path(d='M69.632 87.264c-.12-.239-.239-.478-.299-.717-.06-.299-.06-.538-.06-.777s.06-.478.18-.657c.12-.18.239-.359.478-.479.18-.12.359-.12.538-.12.18.06.299.18.418.36 0 .06.06.06.06.12 0 .059 0 .059.06.119l.18.836c0 .06.059.12.059.18s.06.12.06.179l.12.12c.06 0 .119 0 .179-.06.06 0 .06-.06.12-.06l.059-.06h.06v.12c-.06.12-.18.18-.24.239l-.179.18c-.12.059-.239.059-.299.059s-.179-.06-.239-.18c0-.06-.06-.06-.06-.119 0-.06-.06-.12-.06-.18l-.238-.956c0-.06-.06-.119-.06-.179s-.06-.12-.06-.12c-.06-.06-.12-.119-.12-.179-.06-.06-.119-.06-.179-.06h-.12c-.059 0-.119.06-.119.06-.12.06-.179.12-.239.24-.06.119-.12.238-.12.418s-.06.299 0 .478c0 .18.06.359.18.478.06.06.12.18.18.18.059.06.119.06.179.06s.12.059.12.059c.059 0 .119.06.119.18.06.06.06.179 0 .238-.06.06-.06.12-.12.18s-.18.06-.239 0c-.12 0-.239-.06-.299-.18z')
                                    path(fill-rule='nonzero', d='M67.241 88.28c-.06-.179-.06-.298-.06-.478.06-.179.18-.299.3-.478.119-.12.239-.239.358-.299.12-.12.299-.179.418-.299-.12-.239-.239-.418-.418-.478a.66.66 0 0 0-.478 0 .612.612 0 0 0-.359.3c-.06.119-.12.298-.179.477 0 0 0 .06-.06.06h-.12c-.06 0-.06-.06-.06-.06.06-.239.12-.418.24-.597.12-.18.299-.359.478-.419.299-.12.538-.12.717-.06.24.06.359.3.538.538.12.18.12.419.18.598 0 .18 0 .418-.06.598s-.12.358-.24.538a.93.93 0 0 1-.477.358c-.24.12-.419.12-.538.12 0-.18-.12-.24-.18-.419zm.479-.12c0 .06.06.12.12.12.059 0 .059.06.119.06h.12c.059 0 .059 0 .119-.06.179-.06.299-.239.358-.537.06-.3.06-.598-.06-.897-.119.06-.239.12-.358.24-.12.119-.24.178-.299.238-.12.12-.18.24-.18.359-.059.18 0 .299.06.478zM62.998 90.731c-.06-.18-.06-.359-.06-.538.06-.18.12-.359.18-.478.119-.18.238-.299.418-.418.179-.12.358-.18.538-.24l.418-.12-.12-1.135v-.06-.06c0-.059 0-.059-.06-.059 0 0-.06-.06-.119-.06h-.18c-.059 0-.119 0-.179.06h-.06v-.12-.06l1.375-.477h.06v.06c0 .06 0 .06-.06.06s-.06.059-.12.059c-.059.06-.119.06-.178.06l-.12.12v.178l.299 2.69v.12c0 .06 0 .06.06.06 0 0 .06.06.12.06h.358v.059c0 .06-.06.06-.06.06l-1.494.478c-.3.12-.538.12-.717.06-.06 0-.24-.12-.3-.359zm.538-.897c-.06.12-.06.24-.06.36 0 .119 0 .238.06.298 0 .06.06.12.12.18.059.059.119.119.178.119.06.06.12.06.24.06.06 0 .179 0 .298-.06l.3-.12-.18-1.673-.299.12c-.18.059-.359.119-.478.238-.06.18-.12.3-.18.478z')
                                    path(d='M57.977 91.09v-.18c0-.06 0-.12.06-.179 0-.06.06-.12.06-.12.06-.06.06-.06.12-.06h.238l.12.12v.18c0 .06 0 .12-.06.179 0 0 .06 0 .12-.06.06 0 .119-.06.179-.12l.18-.179c.059-.06.119-.179.238-.299l.06-1.793s0-.06.12-.12c.119 0 .179-.059.298-.059.12 0 .06.06.06.06l-.06 1.614v.359c0 .119.06.178.06.178h.18c.06 0 .06 0 .119-.06.06 0 .06 0 .06-.059h.06v.06c0 .06 0 .06-.06.06-.12.06-.18.119-.3.179-.119.06-.178.06-.238.12-.12 0-.24 0-.299-.06a.457.457 0 0 1-.12-.3c-.12.18-.298.36-.358.42-.06.059-.18.119-.3.178h-.178c-.06 0-.12 0-.12-.06-.06 0-.06-.06-.12-.119-.06.299-.06.24-.119.12zM56.184 91.448l.538-.06.18-2.151c0-.359.178-.717.358-.957.239-.298.478-.418.717-.478.12 0 .24 0 .359.06.06.06.12.12.12.18s0 .119-.06.179-.12.12-.18.12h-.12c-.06 0-.06-.06-.119-.06l-.12-.12-.12-.12c-.119 0-.238.12-.298.3-.06.179-.12.418-.12.716l-.179 2.212.419-.06s.06 0 .06.06v.12c0 .06-.06.06-.06.06l-.419.059v.18c0 .179-.06.358-.12.537a.963.963 0 0 1-.238.419c-.12.12-.18.239-.359.299-.12.06-.24.12-.359.12-.12 0-.239 0-.358-.06-.06-.06-.12-.12-.12-.18s0-.12.06-.18.12-.119.18-.119h.119c.06 0 .06.06.12.06l.119.12c0 .06.06.06.12.119.119 0 .179-.12.298-.299.06-.18.12-.418.12-.777v-.299l-.538.06s-.06 0-.06-.06v-.12c0 .12.06.12.06.12zM52.478 89.356c.299 0 .538.06.717.24.18.179.24.418.3.717 0 .239 0 .418-.06.597-.06.18-.12.359-.24.538-.12.18-.239.3-.418.359-.18.12-.359.18-.598.18s-.418-.06-.538-.12c-.12-.12-.179-.24-.179-.359 0-.12 0-.239.06-.299s.12-.12.239-.12c.12 0 .18 0 .18.06.059.06.059.12.059.18s0 .12-.06.239c-.06.12-.06.18-.06.239 0 .06.06.06.12.12h.18c.238 0 .418-.12.597-.419.18-.299.24-.598.24-1.016 0-.24-.06-.418-.18-.598a.543.543 0 0 0-.419-.18c-.179 0-.298.06-.418.12s-.24.18-.359.36c0 0-.06.059-.06 0l-.06-.06c-.059 0 0-.06 0-.06.12-.18.24-.3.42-.479.119-.179.358-.239.537-.239zM50.566 89.356c.179 0 .298.06.358.12s.12.18.12.299v.239l-.478 1.673h.358s.06 0 .06.06 0 .06-.06.12c0 .06-.06.06-.06.06h-.418l-.24.717h-.477l.179-.718h-.657s-.06 0-.06-.06 0-.06.06-.119c0-.06.06-.06.06-.06h.657l.358-1.374c0-.06.06-.12.06-.18v-.179c0-.12 0-.18-.06-.18-.06-.06-.12-.06-.239-.06h-.359s-.059 0 0-.059v-.12c0-.06.06-.06.06-.06.12-.059.18-.059.3-.119h.478z')
                                    path(fill-rule='nonzero', d='M48.175 89.536s-.06 0 0 0v-.12c0-.06.06-.06.06-.06.119-.06.239-.06.358-.06h.24c.119 0 .238.06.298.12s.12.18.06.24v.119c0 .06 0 .12-.06.179l-.359 1.076c0 .06-.06.12-.06.18 0 .059-.06.119-.06.179 0 .119 0 .179.06.179 0 .06.12.06.18.06h.239s.06 0 .06.06v.06c0 .059-.06.059-.06.059-.12.06-.239.06-.299.06h-.239c-.12 0-.239-.06-.299-.12s-.06-.18-.06-.299v-.12c0-.059 0-.119.06-.179l.359-1.075c0-.06.06-.12.06-.18s0-.12.06-.18c0-.119 0-.178-.06-.178-.06-.06-.12-.06-.18-.06h-.12c-.179.06-.238.06-.238.06zm-.478 3.227c0-.12.06-.18.12-.239.059-.06.119-.12.238-.06.06 0 .18.06.24.12.059.06.059.18.059.239 0 .12-.06.18-.12.24-.06.059-.12.119-.239.059-.12 0-.179-.06-.239-.12s-.06-.179-.06-.239zM45.246 90.432c0-.18.06-.418.18-.598.119-.179.238-.358.358-.478.18-.12.299-.239.538-.299.18-.06.418-.06.657-.06.3.06.478.18.658.36.12.179.18.477.18.776-.06.24-.12.419-.18.598-.12.18-.24.359-.359.478-.12.12-.299.24-.538.299-.18.06-.418.06-.597.06-.3-.06-.538-.18-.658-.359-.239-.239-.299-.478-.239-.777zm.478.18a.75.75 0 0 0 .06.537c.06.12.18.18.359.24.12 0 .298 0 .418-.06s.239-.18.359-.359c.06-.12.179-.299.239-.478.06-.18.12-.359.12-.478a.75.75 0 0 0-.06-.538.404.404 0 0 0-.36-.24c-.179 0-.298 0-.418.06s-.239.18-.358.3c-.12.119-.18.298-.24.478-.06.179-.06.358-.119.537z')
                                    path(d='M42.497 88.52c-.06 0-.06 0 0 0v-.12c0-.06.06-.06.06-.06.119 0 .238-.06.358-.06h.239c.12 0 .24.06.299.18.06.06.06.18.06.299 0 .06 0 .06-.06.12 0 .059-.06.119-.06.119l-.478.896c-.06.06-.06.12-.06.18s-.06.12-.06.12v.298c.06.06.12.12.24.12h.358c.12-.06.299-.12.418-.24l.778-1.673s0-.06.119-.06c.06 0 .24.06.299.06.06 0 0 .12 0 .12l-.717 1.434c0 .06-.06.12-.06.18-.06.059-.06.119-.06.178v.18c0 .06.06.06.18.12h.239s.06 0 0 .06c0 .059 0 .059-.06.059 0 .06-.06.06-.06.06-.12 0-.24.06-.299.06h-.239c-.12 0-.239-.06-.239-.18-.06-.06-.06-.18 0-.299-.24.12-.418.18-.538.24-.12.06-.299.06-.478 0-.18-.06-.299-.12-.359-.24s-.06-.239-.06-.418c0-.06 0-.06.06-.18 0-.06.06-.119.12-.239l.358-.777c0-.06.06-.12.06-.179 0-.06.06-.12.06-.18v-.178c-.06-.06-.12-.06-.18-.12h-.119c-.06.12-.12.12-.12.12zM40.106 87.444c.18.06.358.179.478.239.12.12.239.18.299.299l.18-.12h.059c.06 0 .06 0 .12.06.06 0 0 .06 0 .06l-.598 1.016s0 .06-.06 0c-.06 0-.06 0-.12-.06-.06 0-.06-.06-.06-.06.06-.12.06-.239.06-.358 0-.12 0-.24-.06-.36-.06-.119-.119-.238-.179-.298-.06-.12-.239-.18-.358-.239-.24-.06-.478-.06-.658 0-.18.06-.299.24-.418.478-.06.12-.06.24 0 .359 0 .12.12.239.18.299.119.12.178.179.298.239s.18.179.299.239c.12.12.18.239.239.418a.66.66 0 0 1 0 .478.963.963 0 0 1-.24.419c-.119.12-.238.179-.358.239s-.299.06-.478.06c-.18 0-.359 0-.478-.06-.12-.06-.299-.12-.359-.18-.12-.06-.239-.239-.299-.298 0-.06-.06 0-.06 0l-.119.06h-.06c-.06 0-.12 0-.12-.06-.059 0 0-.06 0-.06l.598-.956s0-.06.06 0c.06 0 .06 0 .12.06.06 0 0 .06 0 .06-.06.119-.06.238-.06.358v.358c0 .12.06.24.12.3.06.059.179.178.358.178.18.06.359.06.538-.06.18-.059.299-.238.359-.418.06-.12.06-.239.06-.299 0-.12-.06-.179-.18-.298-.06-.12-.18-.18-.299-.24-.12-.06-.179-.179-.299-.239-.179-.12-.239-.298-.298-.478a.66.66 0 0 1 0-.478c.06-.18.12-.299.298-.418.12-.12.24-.24.419-.24.18-.06.359-.119.538-.119.12 0 .299.06.538.12zM33.83 85.113c0-.06 0-.06.06-.12h.06c.119 0 .239 0 .358.06.12 0 .18.06.24.06.119.06.178.12.238.239v.299c0 .06-.06.06-.06.12 0 .059-.06.059-.12.119l-.657.717c-.06.06-.12.12-.12.18-.059.059-.059.059-.059.119-.06.12-.06.18-.06.299 0 .06.06.12.18.179.12.06.239.06.358.06.12 0 .3-.06.478-.12l1.196-1.434s.06-.06.12 0 .179.06.238.12c.06.059 0 .119 0 .119l-2.091 2.51c0 .06-.06.06-.06.06l-.06.06c0 .06-.06.12-.06.12 0 .059 0 .059.06.119 0 0 .06.06.12.06s.06.06.119.06v.059l-.06.06h-.06c-.119-.06-.777-.359-.836-.359-.06 0-.06-.06 0-.06l1.135-1.374c-.179.06-.418.06-.538.06-.179 0-.298-.06-.478-.12a.72.72 0 0 1-.299-.299c-.06-.12 0-.239.06-.418 0 0 .06-.06.06-.12.06-.06.12-.12.12-.18l.537-.657c.06-.06.06-.12.12-.12.06-.059.06-.119.12-.119.06-.06.06-.179.06-.179 0-.06-.06-.12-.18-.12 0 0-.06-.06-.12-.06h-.12z')
                                    path(fill-rule='nonzero', d='M30.782 84.814c.12-.18.239-.3.418-.478.18-.12.359-.24.538-.3.18-.059.418-.119.598-.059.179 0 .418.06.597.24.24.119.419.358.419.597.06.239 0 .478-.18.777-.12.18-.239.358-.418.478-.18.12-.359.239-.538.299-.18.06-.359.06-.598.06-.179 0-.418-.06-.597-.18-.24-.179-.419-.358-.478-.597.06-.359.12-.598.239-.837zm.418.299a.964.964 0 0 0-.18.538c0 .12.06.239.24.358.12.06.239.12.418.12.18 0 .299-.06.478-.18.12-.12.24-.179.359-.358.12-.12.239-.299.299-.419.12-.179.18-.358.18-.538 0-.12-.06-.239-.24-.358-.12-.06-.24-.12-.418-.06-.12 0-.3.06-.419.18-.12.06-.239.179-.418.358-.12.06-.18.24-.299.359zM28.45 83.14c.12-.18.24-.299.419-.418.18-.12.359-.24.538-.24.18-.059.418-.059.598-.059.179.06.418.12.597.24.24.178.359.358.419.597s-.06.478-.24.777a1.82 1.82 0 0 1-.478.478c-.179.12-.358.18-.537.239-.18.06-.36.06-.598 0-.18-.06-.419-.12-.598-.24a.98.98 0 0 1-.418-.657c.06-.239.12-.478.299-.717zm.36.419c-.12.179-.18.358-.24.538 0 .12.06.239.18.358.119.06.239.12.418.12.18 0 .299-.06.478-.18.12-.06.299-.179.418-.298l.359-.36c.12-.178.24-.358.24-.537 0-.18-.06-.299-.18-.359a.864.864 0 0 0-.419-.12c-.179 0-.298.06-.418.12s-.299.18-.418.3c-.18.119-.3.238-.419.418z')
                                    path(d='M25.701 83.857l2.45-1.912c.06-.06.12-.06.18-.12s.12-.06.12-.12c.06-.059.06-.119.06-.179s-.06-.12-.12-.179c0 0-.06-.06-.12-.06s-.06-.06-.12-.06v-.06l.06-.059h.06c.12.06.24.06.3.12.059.06.178.06.238.12.12.059.18.178.18.298s0 .18-.06.24c0 .059-.06.059-.06.059-.06 0-.06.06-.12.12l-2.151 1.733-.06.06-.06.06c-.06.059-.06.119-.06.119v.12c0 .06.06.06.06.119l.12.12v.06l-.06.059h-.06c-.12-.12-.717-.478-.717-.538-.12-.06-.12-.12-.06-.12z')
                                    path(fill-rule='nonzero', d='M60.547 90.492c-.06-.18-.06-.359.06-.478.06-.18.18-.3.418-.419.12-.12.3-.179.419-.239.12-.06.299-.12.478-.239-.06-.239-.18-.418-.299-.538-.12-.12-.299-.12-.478-.12a.963.963 0 0 0-.419.24c-.12.12-.179.239-.239.418 0 0 0 .06-.06 0 0 0-.06 0-.119-.06-.06 0 0-.06 0-.06a.87.87 0 0 1 .359-.537c.179-.18.358-.3.538-.359.298-.06.538-.06.717.06.18.12.358.359.418.657.06.18.06.419.06.598 0 .18-.06.418-.12.598a.93.93 0 0 1-.358.478c-.18.12-.359.239-.538.299-.24.06-.418.06-.538 0-.18-.06-.299-.18-.299-.299zm.478-.06c0 .06.06.12.06.12 0 .06.06.06.12.06h.239c.179-.06.358-.18.478-.479.12-.239.12-.538.12-.896l-.36.18c-.119.059-.238.119-.298.238-.12.12-.18.24-.24.359-.178.12-.178.239-.119.418zM53.853 91.448c0-.179 0-.358.12-.478.119-.12.238-.239.478-.359.179-.06.298-.119.478-.179.179-.06.358-.12.538-.12 0-.238-.12-.478-.18-.597-.12-.12-.239-.18-.478-.18-.18 0-.299.06-.418.18-.12.06-.24.239-.299.359h-.06l-.06-.06c-.06 0 0-.06 0-.06.12-.18.24-.359.419-.478.18-.12.418-.24.598-.24.298 0 .537.06.717.18.18.18.299.359.299.717 0 .24 0 .419-.06.598-.06.18-.12.359-.24.538-.119.18-.238.299-.418.418-.179.12-.358.18-.597.18-.24 0-.419 0-.538-.12-.24-.06-.3-.18-.3-.299zm.478 0c0 .06 0 .12.06.18 0 .06.06.06.06.06.06 0 .06 0 .12.06h.119c.179 0 .358-.12.538-.36.179-.239.239-.537.239-.836-.12 0-.24.06-.419.12l-.358.179a.72.72 0 0 0-.3.298c-.059 0-.059.12-.059.3z')
                                    path(d='M37.536 86.487c.298.12.478.3.538.538.06.24.06.478-.06.777-.06.18-.18.359-.359.538a.93.93 0 0 1-.478.359c-.18.12-.359.12-.538.18-.18 0-.418 0-.598-.12-.239-.12-.358-.24-.418-.359a.51.51 0 0 1 0-.418c.06-.12.12-.18.18-.24s.179-.06.298 0c.06.06.12.06.18.12v.18c0 .06-.06.119-.12.179l-.18.179c0 .06 0 .12.06.12.06.06.12.06.18.12.239.119.478.059.717-.12.239-.18.478-.419.598-.777.12-.24.12-.419.06-.598-.06-.18-.12-.299-.3-.359-.179-.06-.298-.06-.478-.06-.12 0-.298.06-.418.18h-.06c0-.06 0-.06-.06-.06v-.06c.18-.12.36-.18.598-.239.24-.18.478-.12.658-.06z')
                                g
                                    path(d='M20.382 73.995c0-.06-.06-.06-.06-.06v-.06c.18-.059.896-.358.956-.358h.06l1.614 2.212v.06c-.06 0 0 0-.06.06h-.06l-.12-.12-.119-.12c-.06-.06-.12-.06-.18-.06-.059 0-.119 0-.179.06l-2.45 1.076h-.06-.06l-.06.06v.12c0 .06 0 .119.06.179 0 .06.06.06.06.12v.059c-.06 0 0 0-.06.06h-.06l-.836-1.136v-.06c.06 0 0 0 .06-.06h.06l.119.12c.06.06.12.12.18.12.059.06.119.06.179.06s.12 0 .179-.06l2.271-1.016c.06 0 .12-.06.12-.06.06 0 .06-.06.12-.06.059-.06.119-.12.059-.18 0-.059-.12-.179-.24-.358-.059-.12-.178-.18-.238-.299-.12-.12-.18-.18-.24-.18-.119 0-.298-.059-.477-.059h-.479c0-.06-.06-.06-.06-.06z')
                                    path(fill-rule='nonzero', d='M18.41 71.844c.179-.12.358-.18.537-.24.18-.06.419-.06.598-.06.18 0 .418.12.598.18.179.12.358.24.478.478.179.24.179.478.12.718a.95.95 0 0 1-.479.597c-.18.12-.418.18-.598.24-.179.06-.418.06-.597 0-.18 0-.359-.12-.538-.18-.18-.12-.3-.24-.419-.418-.179-.24-.239-.479-.12-.718.06-.239.18-.418.42-.597zm.238.478c-.179.12-.358.239-.418.418-.06.12-.06.3.06.419.06.12.179.179.299.239.119.06.298.06.537.06.18 0 .3-.06.479-.12s.298-.12.418-.24c.18-.119.359-.238.418-.418a.368.368 0 0 0-.06-.418.404.404 0 0 0-.358-.239c-.12-.06-.299-.06-.478-.06-.18 0-.299.06-.478.12-.12.06-.3.18-.419.239z')
                                    path(d='M16.616 69.572c.24-.12.478-.239.717-.239.3-.06.538-.06.777-.06.24 0 .479.12.658.18.18.12.358.239.478.478.12.18.12.359.06.538-.06.18-.18.299-.359.418-.06 0-.06.06-.12.06s-.06 0-.119.06l-.837.18c-.06 0-.12.059-.179.059-.06 0-.12.06-.18.06-.06.06-.119.06-.119.12s0 .119.06.179c0 .06.06.06.12.12l.06.059v.06h-.12c-.12-.06-.18-.18-.24-.24l-.179-.179c-.06-.12-.06-.239-.06-.299s.12-.179.18-.239c.06 0 .06-.06.12-.06s.119-.06.179-.06l.956-.238c.06 0 .12-.06.18-.06.059 0 .119-.06.119-.06.06-.06.12-.06.18-.12.059-.06.059-.119.059-.179v-.12c0-.059-.06-.119-.06-.119a.467.467 0 0 0-.239-.239c-.12-.06-.239-.12-.418-.12-.18 0-.3-.06-.479 0-.179 0-.358.06-.478.18a.74.74 0 0 0-.179.12c-.06.06-.06.119-.06.119 0 .06-.06.12-.06.12 0 .06-.06.12-.179.12-.06.059-.18.059-.239 0-.06-.06-.12-.06-.18-.12a.182.182 0 0 1 0-.24c-.059-.06.06-.119.18-.239z')
                                    path(fill-rule='nonzero', d='M15.6 67.182c.18-.06.299-.06.478-.06.18.06.299.18.478.299.12.12.24.239.3.358.119.12.178.3.298.478.24-.12.418-.239.478-.358.12-.12.12-.299 0-.478a.612.612 0 0 0-.299-.359c-.12-.06-.299-.12-.478-.18 0 0-.06 0-.06-.059v-.12c0-.06.06-.06.06-.06.24.06.419.12.598.24.18.12.358.299.418.478.12.299.12.538.06.717-.06.24-.299.359-.538.538-.18.06-.418.12-.598.18-.179 0-.418 0-.597-.06-.18-.06-.359-.12-.538-.24a.93.93 0 0 1-.359-.478c-.12-.239-.12-.418-.06-.538.12-.12.18-.239.359-.298zm.12.478c-.06 0-.12.06-.12.12s-.06.06-.06.119v.12c0 .06 0 .06.06.119.06.18.24.299.538.359.299.06.598.06.896-.06-.06-.12-.12-.24-.239-.359-.12-.12-.179-.239-.239-.299-.12-.12-.239-.179-.358-.179-.18-.06-.359 0-.478.06zM13.15 62.938c.179-.06.358-.06.537-.06.18.06.359.12.479.18.179.119.298.239.418.418.12.18.18.358.239.538l.12.418 1.135-.12h.12c.06 0 .06 0 .06-.06 0 0 .06-.059.06-.119v-.179c0-.06 0-.12-.06-.18v-.06h.179l.478 1.376v.06h-.06c-.06 0-.06 0-.06-.06s-.06-.06-.06-.12c-.06-.06-.06-.12-.06-.18-.059-.059-.119-.059-.119-.119h-.179l-2.69.24h-.06-.06c-.059 0-.059 0-.059.06 0 0-.06.059-.06.119v.299s0 .06-.06.06h-.06c-.059 0-.059-.06-.059-.06l-.478-1.495c-.06-.299-.12-.538-.06-.717.12-.06.24-.18.418-.24zm.956.538c-.12-.06-.24-.06-.359-.06-.12 0-.239 0-.299.06-.06 0-.12.06-.179.12-.06.06-.12.119-.12.179-.06.06-.06.12-.06.239 0 .06 0 .18.06.299l.12.298 1.674-.179-.12-.299c-.06-.179-.12-.358-.24-.478-.119-.12-.358-.12-.477-.18z')
                                    path(d='M12.85 57.917h.18c.06 0 .12 0 .12.06.06 0 .119.06.119.06.06.06.06.06.06.12 0 .119 0 .179-.06.238l-.12.12h-.179c-.06 0-.12 0-.18-.06 0 0 0 .06.06.12 0 .06.06.12.12.179l.18.18c.06.06.179.119.298.238l1.793.06s.06 0 .12.12c0 .12.06.179.06.299s-.06.06-.06.06l-1.614-.06h-.358c-.12 0-.18.06-.18.06 0 .06-.06.119 0 .179 0 .06 0 .06.06.12 0 .059 0 .059.06.059v.06h-.06c-.06 0-.06 0-.06-.06-.06-.12-.12-.18-.18-.299-.059-.12-.059-.18-.119-.239 0-.12 0-.239.06-.299s.18-.12.299-.12c-.18-.119-.359-.298-.418-.358-.06-.12-.12-.18-.18-.299v-.18c0-.059 0-.119.06-.119 0-.06.06-.06.12-.12-.12-.059-.06-.119 0-.119zM12.552 56.064l.06.538 2.151.18c.359.06.717.179.957.358.298.24.418.478.478.717 0 .12 0 .24-.06.36-.06.059-.12.119-.18.119s-.119 0-.179-.06-.12-.12-.12-.18v-.119c0-.06.06-.06.06-.12l.12-.12.12-.119c0-.12-.12-.239-.3-.298a2.23 2.23 0 0 0-.716-.12l-2.212-.18.06.42s0 .059-.06.059h-.12c-.06 0-.06-.06-.06-.06l-.059-.418h-.18c-.179 0-.358-.06-.537-.12a.963.963 0 0 1-.419-.239c-.12-.12-.239-.18-.299-.359-.06-.12-.12-.239-.12-.358 0-.12 0-.24.06-.359.06-.06.12-.12.18-.12s.12 0 .18.06.119.12.119.18v.12c0 .06-.06.06-.06.119l-.12.12c-.06 0-.06.06-.119.119 0 .12.12.239.299.299.18.06.418.12.777.12h.299l-.06-.539s0-.06.06-.06h.12c-.12 0-.12.06-.12.06zM14.644 52.418c0 .3-.06.538-.24.718-.179.179-.418.239-.717.239-.239 0-.418 0-.597-.12-.18-.06-.359-.18-.538-.239-.18-.12-.3-.239-.359-.418-.12-.18-.12-.359-.12-.598 0-.24.06-.418.12-.538.12-.12.24-.18.359-.18.12 0 .239 0 .299.06.12.06.12.12.12.24s0 .179-.06.179c-.06.06-.12.06-.18.06s-.12 0-.239-.06c-.12-.06-.18-.06-.24-.06-.059 0-.059.06-.119.12 0 .06-.06.12-.06.179 0 .24.12.418.419.598.299.179.598.239 1.016.239.24 0 .418-.06.598-.18.12-.12.239-.239.18-.418 0-.18-.06-.299-.12-.418-.06-.12-.18-.24-.36-.359 0 0-.059-.06 0-.06 0-.06.06-.06.06-.06 0-.06.06 0 .06 0 .18.12.3.24.419.479.239.179.299.358.299.597zM14.703 50.446c0 .18-.06.299-.12.359-.059.06-.178.12-.298.12h-.239l-1.674-.479v.359s0 .06-.06.06-.06 0-.119-.06c-.06 0-.06-.06-.06-.06v-.419l-.717-.239v-.478l.717.18.06-.658s0-.06.06-.06.06 0 .12.06c.06 0 .06.06.06.06l-.06.657 1.374.419c.06 0 .12.06.18.06h.179c.12 0 .18 0 .18-.06.059-.06.059-.12.059-.24v-.179-.179s0-.06.06 0h.12c.059 0 .059.06.059.06.06.12.06.179.12.299-.06.179 0 .298 0 .418z')
                                    path(fill-rule='nonzero', d='M14.524 48.115c0-.06 0-.06 0 0h.12c.06 0 .06.06.06.06.06.12.06.239.06.358v.24c0 .119-.06.238-.12.298s-.18.06-.3.06h-.119c-.06 0-.12 0-.179-.06l-1.076-.358c-.06 0-.12-.06-.18-.06-.059 0-.119-.06-.179-.06h-.179c-.06 0-.06.12-.06.18v.239s0 .06-.06.06h-.06c-.059 0-.059-.06-.059-.06-.06-.12-.06-.24-.06-.3v-.238c0-.12.06-.24.12-.3s.18-.06.299-.06h.12c.059 0 .119 0 .179.06l1.075.36c.06 0 .12.06.18.06s.12 0 .18.059c.119 0 .178 0 .178-.06.06-.06.06-.12.06-.18v-.119-.18zm-3.227-.538c.12 0 .179.06.239.12s.12.179.06.239c0 .06-.06.179-.12.239s-.18.06-.24.06c-.119 0-.179-.06-.238-.12-.06-.06-.12-.12-.06-.24 0-.119.06-.178.12-.238s.179-.06.239-.06zM13.628 45.126c.179.06.418.12.597.18.18.12.359.239.478.358.12.18.24.3.3.538.06.18.06.419.06.658a1.18 1.18 0 0 1-.36.657c-.179.12-.478.18-.777.18-.239-.06-.418-.12-.597-.18-.18-.12-.359-.239-.478-.358-.12-.12-.24-.3-.3-.538-.059-.18-.059-.419-.059-.598.06-.299.18-.538.359-.657.239-.18.478-.24.777-.24zm-.18.538a.75.75 0 0 0-.538.06c-.12.06-.239.18-.239.359 0 .12 0 .299.06.418.06.12.18.24.359.359.12.12.299.18.478.239.18.06.358.12.478.12.24.06.418 0 .538-.06.12-.06.239-.18.239-.359 0-.12 0-.299-.06-.418-.06-.12-.18-.24-.299-.359-.12-.12-.298-.18-.478-.24-.18-.059-.358-.119-.538-.119z')
                                    path(d='M15.54 42.437c0-.06 0-.06 0 0h.12c.06 0 .06.06.06.06 0 .12.06.239.06.358v.24c-.06.119-.06.238-.18.298-.06.06-.18.06-.299.06-.06 0-.06 0-.12-.06-.06 0-.119-.06-.119-.06l-.896-.478c-.06-.06-.12-.06-.18-.06s-.12-.06-.12-.06h-.298c-.06.06-.12.12-.18.24v.358c.06.12.12.3.18.419l1.673.837s.06 0 .06.119c0 .06-.06.24-.06.299 0 .06-.12 0-.12 0l-1.374-.717c-.06 0-.12-.06-.18-.06-.059-.06-.119-.06-.178-.06h-.18c-.06 0-.06.06-.12.18v.179s0 .06-.06 0c-.059 0-.059 0-.059-.06-.06 0-.06-.06-.06-.06 0-.12-.06-.239-.06-.299v-.239c.06-.12.06-.239.18-.239.06-.06.18-.06.299 0-.12-.239-.18-.418-.24-.538-.06-.12-.06-.299 0-.478.06-.18.12-.299.24-.359s.239-.06.418-.06c.06 0 .06 0 .18.06.06 0 .119.06.239.12l.777.418c.06 0 .12.06.179.06.06 0 .12.06.18.06h.178c.06-.06.06-.12.12-.18v-.119c-.06-.12-.06-.18-.06-.18zM16.676 40.046c-.06.18-.18.359-.24.478-.119.12-.179.24-.298.299l.12.18v.06c0 .059 0 .059-.06.119 0 .06-.06 0-.06 0l-1.016-.598s-.06 0 0-.06c0-.06 0-.06.06-.12 0-.06.06-.06.06-.06.119.06.238.06.358.06s.24 0 .359-.06c.12-.059.239-.119.298-.178.12-.06.18-.24.24-.36.06-.238.06-.477 0-.657-.06-.179-.24-.298-.479-.418a.381.381 0 0 0-.358 0c-.12 0-.24.12-.3.18-.119.119-.178.179-.238.298-.06.12-.18.18-.24.299-.119.12-.238.18-.418.24a.66.66 0 0 1-.478 0c-.18-.06-.299-.12-.358-.24-.12-.12-.18-.239-.24-.359s-.06-.298-.06-.478c0-.179 0-.358.06-.478s.12-.299.18-.359c.06-.12.239-.239.299-.298.06 0 0-.06 0-.06l-.12-.12v-.06c0-.06.06-.119.06-.119 0-.06.06 0 .06 0l.956.598s.06 0 0 .06c0 .06 0 .06-.06.119 0 .06-.06 0-.06 0-.12-.06-.239-.06-.358-.06-.12 0-.24-.06-.359 0-.12 0-.239.06-.299.12a.83.83 0 0 0-.24.897c.061.179.24.298.42.358.12.06.239.06.299.06.12 0 .179-.06.298-.12.12-.06.18-.18.24-.299.06-.12.179-.179.239-.239.179-.179.298-.239.478-.299a.66.66 0 0 1 .478 0c.18.06.299.18.418.3.12.119.24.238.24.418.06.179.119.358.06.538.178 0 .119.179.059.418zM19.067 33.83c0-.06.06-.06 0 0 .06 0 .06 0 .12.06v.06c0 .119 0 .239-.06.358 0 .06-.06.18-.06.24-.06.119-.12.178-.24.238-.119 0-.179 0-.298-.06 0-.06 0-.06-.06-.12-.06 0-.06-.059-.12-.119l-.717-.657c-.06-.06-.12-.12-.18-.12-.059-.06-.059-.06-.119-.06-.12-.06-.179-.06-.299-.06-.06 0-.179.06-.179.18-.06.12-.06.24-.06.359 0 .12.06.299.12.478l1.375 1.195s.06.06 0 .12-.12.18-.12.239c-.06.06-.12 0-.12 0l-2.45-2.092c-.06 0-.06-.06-.06-.06l-.06-.06c-.06 0-.12-.06-.12-.06-.059 0-.059 0-.119.06 0 0-.06.06-.06.12s-.06.06-.06.12h-.059l-.06-.06v-.06c.06-.12.359-.777.359-.837 0-.06.06 0 .06 0l1.374 1.136c-.06-.18-.06-.419-.06-.538 0-.18.06-.299.12-.478a.72.72 0 0 1 .299-.3c.12-.059.24 0 .418.06 0 0 .06.06.12.06.06.06.12.12.18.12l.597.538c.06.06.12.06.12.12.06.06.119.06.119.119.06.06.18.06.18.06.06 0 .119-.06.119-.18 0 0 .06-.06.06-.12 0 .06 0 0 0 0z')
                                    path(fill-rule='nonzero', d='M19.425 30.782c.18.12.3.239.478.418.12.18.24.359.3.538.06.18.06.418.06.598 0 .179-.06.418-.24.597-.12.24-.359.359-.598.419s-.478 0-.777-.18c-.179-.12-.358-.239-.478-.418-.12-.18-.239-.359-.299-.538-.06-.18-.06-.359-.06-.598 0-.179.12-.418.18-.597.18-.24.358-.419.598-.478.358 0 .597.06.836.239zm-.358.358a.964.964 0 0 0-.538-.18c-.12 0-.24.06-.359.24-.06.12-.12.24-.12.418 0 .18.06.3.18.479.12.12.18.239.359.358.119.12.298.24.418.299.18.12.359.18.538.18.12 0 .299-.06.358-.24.06-.12.12-.239.06-.418 0-.12-.06-.299-.18-.419-.059-.12-.178-.298-.298-.418-.12-.06-.239-.18-.418-.299zM21.099 28.45c.18.12.299.24.418.419.12.18.18.359.24.538.06.18.06.418 0 .598-.06.179-.12.418-.24.597-.18.24-.358.359-.597.419-.24.06-.479-.06-.777-.24-.18-.119-.36-.298-.419-.478-.12-.179-.18-.358-.239-.537-.06-.18-.06-.36 0-.598.06-.18.12-.419.24-.598.178-.239.418-.359.657-.418.239.06.478.12.717.299zm-.419.36c-.179-.12-.358-.24-.537-.24-.12 0-.3.06-.36.18-.059.179-.059.298-.059.478 0 .179.06.298.18.478.06.12.179.299.298.418l.359.359c.18.12.359.239.538.239.18 0 .299-.06.358-.18.12-.119.12-.239.12-.418 0-.18-.06-.299-.12-.418-.06-.12-.179-.3-.298-.419-.18-.239-.3-.358-.479-.478z')
                                    path(d='M20.382 25.641l1.912 2.451c.06.06.06.12.12.18.06.059.06.119.12.119.06.06.119.06.179.06s.12-.06.179-.12c0 0 .06-.06.06-.12s.06-.06.06-.119h.06l.059.06v.06c-.06.119-.06.239-.12.298-.06.06-.06.18-.119.24-.06.119-.18.179-.299.179-.12 0-.18 0-.299-.06-.06 0-.06-.06-.06-.06 0-.06-.06-.06-.12-.12l-1.673-2.151-.06-.06-.06-.06c0-.06-.059-.12-.119-.12h-.12c-.059 0-.059.06-.119.06l-.12.12h-.06l-.059-.06v-.06c.12-.119.478-.717.538-.717h.12z')
                                    path(fill-rule='nonzero', d='M13.448 60.428c.18-.06.359 0 .478.06.18.06.3.238.419.418.12.12.18.299.239.418.06.12.12.299.239.478.24-.06.418-.179.538-.299.12-.12.12-.298.12-.478a.963.963 0 0 0-.24-.418.963.963 0 0 0-.418-.24s-.06 0 0-.059c0 0 0-.06.06-.12 0-.06.06 0 .06 0 .239.06.418.18.537.36.18.178.3.358.36.537.059.299.059.538-.06.717-.12.18-.36.359-.658.419-.18.06-.419.06-.598.06-.18 0-.418-.06-.598-.18a.93.93 0 0 1-.478-.358c-.12-.18-.239-.36-.299-.538-.06-.24-.06-.419 0-.538.06-.12.18-.18.3-.24zm.06.478c-.06 0-.12.06-.12.06-.06 0-.06.06-.06.12v.239c.06.178.18.358.479.477.239.12.538.12.896.12l-.179-.359a1.25 1.25 0 0 0-.239-.358 1.25 1.25 0 0 0-.359-.24c-.12-.119-.239-.119-.418-.06zM12.552 53.733c.179 0 .358.06.478.12.12.12.239.239.359.478.06.18.119.299.179.478.06.18.12.359.12.538.238 0 .478-.06.597-.18.12-.119.18-.238.18-.477 0-.18-.06-.3-.18-.419-.12-.12-.239-.239-.359-.299v-.06l.06-.06c0-.059.06 0 .06 0 .18.12.359.24.478.42.12.179.24.418.24.597 0 .299-.06.538-.18.717a.896.896 0 0 1-.717.3c-.24 0-.419 0-.598-.06-.18-.06-.359-.12-.538-.24-.18-.12-.299-.239-.418-.418a1.01 1.01 0 0 1-.18-.598c0-.239 0-.418.12-.538.06-.18.18-.239.299-.299zm0 .478c-.06 0-.12 0-.18.06-.06 0-.06.06-.06.06 0 .06 0 .06-.06.12v.12c0 .178.12.358.36.537.239.18.537.24.836.24 0-.12-.06-.24-.12-.42l-.179-.358a.72.72 0 0 0-.298-.299c0-.06-.18-.06-.3-.06z')
                                    path(d='M17.692 37.476c-.12.299-.299.478-.538.538-.24.06-.478.06-.777-.06-.18-.06-.359-.18-.538-.359a.93.93 0 0 1-.359-.478c-.12-.18-.12-.358-.179-.538 0-.179 0-.418.12-.597.12-.24.239-.359.358-.419a.51.51 0 0 1 .419 0c.12.06.179.12.239.18s.06.179 0 .298c-.06.06-.06.12-.12.18h-.18c-.059 0-.119-.06-.178-.12l-.18-.18c-.06 0-.12 0-.12.06-.059.06-.059.12-.119.18-.12.239-.06.418.12.717.18.24.418.478.777.658.239.12.418.12.597.06.18-.06.3-.12.36-.3.059-.119.059-.298.059-.478 0-.12-.06-.298-.18-.418v-.06c.06 0 .06 0 .06-.06h.06c.12.18.18.36.24.598.178.18.119.419.059.598z')
                            path(d='M69.871 53.733c0 9.564-7.77 17.334-17.333 17.334-9.563 0-17.333-7.77-17.333-17.334 0-9.563 7.77-17.333 17.333-17.333 9.563-.06 17.333 7.71 17.333 17.333z')
                            g.js-logo-image-circle.logo-image-circle
                                circle(cx='52.06', cy='44.17', r='1.972', fill='#CB2026')
                                path(d='M52.598 36.46h-.478c-8.548 0-15.48 6.933-15.48 15.48s6.932 15.48 15.48 15.48h.12-.42c-4.123-.179-7.351-3.586-7.351-7.71a7.755 7.755 0 0 1 7.77-7.77 7.755 7.755 0 0 0 7.77-7.77c-.12-4.124-3.347-7.53-7.411-7.71z')
                                path(fill='#CB2026', fill-rule='nonzero', d='M66.823 45.724c-.777-1.913-1.972-3.586-3.407-5.08-1.494-1.495-3.168-2.63-5.08-3.407a15.826 15.826 0 0 0-6.216-1.255c-2.152 0-4.244.418-6.217 1.255-1.912.777-3.586 1.972-5.08 3.407-1.494 1.494-2.63 3.167-3.407 5.08a15.826 15.826 0 0 0-1.255 6.216c0 2.152.418 4.244 1.255 6.216.777 1.913 1.973 3.587 3.407 5.08 1.494 1.495 3.168 2.63 5.08 3.408a15.826 15.826 0 0 0 6.217 1.255c2.151 0 4.243-.419 6.216-1.255 1.912-.777 3.586-1.973 5.08-3.407 1.494-1.494 2.63-3.168 3.407-5.08a15.826 15.826 0 0 0 1.255-6.217c0-2.151-.418-4.243-1.255-6.216zM52.418 67.421h0zm.419 0h0zm.358-.06h0zm-1.135-5.738a1.99 1.99 0 0 1-1.973-1.972 1.99 1.99 0 0 1 1.973-1.973 1.99 1.99 0 0 1 1.972 1.973 1.99 1.99 0 0 1-1.972 1.972zm1.554 5.738h.18-.18zm.358-.06h.18-.18zm.419-.06h.18-.18zm.358-.06h.18-.18zm.419-.06c.06 0 .12 0 .18-.059-.12.06-.18.06-.18.06zm.358-.059c.06 0 .12 0 .18-.06-.06 0-.12 0-.18.06zm.36-.12c.059 0 .119 0 .178-.06-.06.06-.12.06-.179.06zm.358-.119c.06 0 .12-.06.179-.06-.06.06-.12.06-.18.06zm.358-.06c.06 0 .12-.06.18-.06-.06 0-.12 0-.18.06zm.359-.12c.06 0 .12-.06.18-.06-.06 0-.12 0-.18.06zm.359-.119c.06 0 .12-.06.179-.06-.06 0-.12 0-.18.06zm.358-.18c.06 0 .12-.059.18-.059-.06.06-.12.06-.18.06zm.359-.119c.06 0 .12-.06.18-.06-.06 0-.12.06-.18.06zm.358-.12c.06 0 .12-.059.18-.059-.12 0-.12 0-.18.06zm.3-.179c.059 0 .119-.06.179-.06-.06 0-.12.06-.18.06zm.358-.179c.06 0 .12-.06.12-.06s-.06.06-.12.06zm.358-.18c.06 0 .12-.059.12-.059-.06.06-.12.06-.12.06zm.3-.178c.06 0 .119-.06.119-.06s-.06.06-.12.06zM52.178 51.94a7.755 7.755 0 0 0-7.77 7.77c0 4.124 3.288 7.531 7.352 7.71h.418-.12c-8.546 0-15.48-6.933-15.48-15.48s6.934-15.48 15.48-15.48h.479c4.064.239 7.352 3.586 7.352 7.71 0 4.304-3.467 7.77-7.71 7.77zm7.83 13.27c.06-.06.12-.06.12-.06s-.06.06-.12.06zm.359-.18c.06-.06.12-.06.12-.12l-.12.12zm.299-.18c.06-.06.12-.06.12-.119 0 .06-.06.06-.12.12zm.299-.239c.06-.06.12-.06.12-.119 0 .06-.06.12-.12.12zm.298-.239c.06-.06.12-.06.12-.12 0 .06-.06.12-.12.12zm.3-.179c.059-.06.119-.06.119-.12 0 .06-.06.06-.12.12zm.298-.239c.06-.06.12-.06.12-.12l-.12.12zm.299-.24l.12-.119c-.06.06-.12.06-.12.12zm.239-.238l.12-.12c0 .06-.06.06-.12.12zm.299-.24l.12-.119c-.06 0-.06.06-.12.12zm.239-.298l.12-.12c0 .06-.06.12-.12.12zm.299-.24l.12-.119c-.06.06-.12.06-.12.12zm.239-.298l.12-.12-.12.12zm.239-.24l.12-.119c-.06 0-.06.06-.12.12zm.239-.298c.06-.06.06-.12.12-.12l-.12.12zm.24-.299c.059-.06.059-.12.119-.12-.06.06-.06.12-.12.12zm.238-.239c.06-.06.06-.12.12-.12-.06 0-.12.06-.12.12zm.18-.299c.06-.06.06-.12.119-.12l-.12.12zm.239-.358c.06-.06.06-.12.12-.12-.06.06-.06.12-.12.12zm.179-.3c.06-.059.06-.119.12-.178 0 .119-.06.179-.12.179zm.239-.298c.06-.06.06-.12.12-.18-.06.06-.12.12-.12.18zm.18-.299c0-.06.059-.12.059-.18 0 .06-.06.12-.06.18zm.179-.359c0-.06.06-.119.06-.179 0 .12 0 .12-.06.18zm.179-.298c0-.06.06-.12.06-.18 0 .06-.06.12-.06.18zm.18-.359c0-.06.059-.12.059-.18 0 .12-.06.12-.06.18zm.179-.299c0-.06.06-.12.06-.18-.06.06-.06.12-.06.18zm.12-.358c0-.06.059-.12.059-.18 0 .06 0 .12-.06.18zm.178-.36c0-.059.06-.119.06-.178-.06.06-.06.12-.06.179zm.12-.358c0-.06.06-.12.06-.179 0 .06-.06.12-.06.18zm.12-.358c0-.06.06-.12.06-.18 0 .06-.06.12-.06.18zm.119-.359c0-.06.06-.12.06-.18 0 .06-.06.12-.06.18zm.12-.359c0-.06.06-.12.06-.179-.06.06-.06.12-.06.18zm.12-.358c0-.06.059-.12.059-.18-.06.06-.06.12-.06.18zm.059-.359c0-.06 0-.12.06-.18 0 .06-.06.12-.06.18zm.12-.358c0-.06 0-.12.06-.18-.06.06-.06.12-.06.18zm.06-.419c0-.06 0-.12.059-.18-.06.06-.06.12-.06.18zm.059-.358v-.18.18zm.06-.359v-.18.18zm.06-.418v-.18.18zm0-.419v-.18c.06.12.06.12 0 .18zm.06-.358v-.18.18zm0-.598v0z')
                            path(d='M71.007 52.598c0 10.639-8.607 19.305-19.306 19.305-10.639 0-19.306-8.606-19.306-19.305 0-10.64 8.607-19.306 19.306-19.306a19.26 19.26 0 0 1 19.306 19.306z')
                            path(d='M71.067 54.331c-1.793 9.025-9.743 15.78-19.306 15.78-9.683 0-17.752-6.994-19.366-16.198')
                            g(fill='#CB2026')
                                path(d='M36.22 63.775l1.136 1.733v.06c-.06 0-.12.06-.179.06h-.06c-.06-.06-.06-.12-.12-.18l-.179-.179c-.06-.06-.179-.12-.239-.06-.06 0-.179 0-.239.06l-3.646 1.375h-.06s-.06 0-.06.06c-.06 0-.06.06-.119.119 0 .06-.06.06 0 .12 0 .06 0 .12.06.179 0 .06.06.12.06.18v.059c-.06 0-.12.06-.18.06h-.06L31.2 65.687v-.06c.06 0 .12-.06.18-.06h.06c.059.06.059.12.119.18l.179.18c.06.06.18.06.239.06.06 0 .18 0 .24-.06l1.792-.718-1.375-2.032-1.793.657h-.06s-.06 0-.06.06c-.059 0-.059.06-.119.12 0 .06-.06.12-.06.12 0 .06 0 .119.06.179 0 .06.06.12.06.179v.06c-.06 0-.12.06-.18.06h-.059l-1.136-1.734v-.06c.06 0 .12-.06.18-.06h.06c.06.06.06.12.119.18l.18.18c.06.059.179.059.238.059.06 0 .18 0 .24-.06l3.645-1.374h.06s.06 0 .06-.06l.12-.12c0-.06.06-.12 0-.18 0-.059 0-.119-.06-.238 0-.06-.06-.12-.06-.12s0-.06.06-.12c.06 0 0 0 .06-.059h.119l1.136 1.674s.06.06 0 .12c-.06 0-.06.059-.12.059s-.12 0-.12-.06l-.119-.12-.18-.179c-.059-.06-.179-.12-.238-.06-.06 0-.18 0-.24.06l-1.613.598 1.375 2.032 1.554-.598h.06s.06 0 .06-.06l.119-.119c0-.06.06-.12 0-.18 0-.059 0-.119-.06-.238 0-.06-.06-.12-.06-.18v-.06c.06 0 .06-.06.12-.06.239.24.239.3.239.3zM39.687 72.98c-.298.06-.597.06-.777.06-.239 0-.478-.12-.657-.24a.93.93 0 0 1-.359-.478c-.06-.18 0-.359.12-.538.06-.06.06-.12.12-.18s.119-.179.238-.298l.837-.837c.06-.06.12-.18.18-.24.06-.059.119-.119.119-.178.06-.12.12-.18.06-.3 0-.059-.06-.119-.18-.179-.06 0-.119-.06-.179-.06s-.12 0-.12-.06c0 0-.06-.059 0-.059l.12-.12h.06c.18 0 .359.06.478.12.12.06.24.06.359.12.18.12.299.239.299.358.06.12 0 .24-.06.419 0 .06-.06.06-.12.12l-.179.179-1.016.956c-.06.06-.12.12-.18.239-.06.06-.119.12-.119.18-.06.119-.12.298-.12.418s.12.239.24.298c.179.12.298.12.538.18.179 0 .418 0 .597-.06l1.913-1.972s.06-.06.12 0 .418.239.478.239c.06.06 0 .12 0 .12l-2.033 2.15a4.714 4.714 0 0 1-.896.718c-.299.18-.538.299-.837.359a1.7 1.7 0 0 1-.777 0c-.24-.06-.478-.18-.777-.3-.18-.119-.299-.238-.418-.298-.06-.12-.18-.18-.18-.239-.06-.06-.06-.18-.06-.24 0-.059.06-.119.06-.178.06-.12.12-.18.24-.18.119-.06.179 0 .298.06l.18.18c0 .06.06.179.06.238v.479l.06.06c.119.06.238.119.417.119.18 0 .36 0 .538-.06.18-.06.419-.18.658-.299.18-.299.418-.538.657-.777zM48.533 76.028s-.06 0 0 0l-.358.179c-.12.06-.24.12-.359.12-.12.06-.239.06-.359.06H47.1c-.24-.06-.419-.12-.538-.3-.12-.179-.12-.358-.12-.538 0-.06 0-.12.06-.179 0-.06.06-.18.12-.359l.478-1.135c.06-.12.06-.18.12-.299 0-.06.06-.18.06-.24v-.298c-.06-.06-.12-.06-.24-.12h-.359s-.06 0 0-.06c0-.059.06-.119.06-.119 0-.06.06-.06.06-.06.18-.06.359-.06.478-.12h.359c.18 0 .358.12.418.18.06.12.12.24.06.419 0 .06 0 .12-.06.179 0 .06-.06.12-.06.239l-.538 1.315c-.06.12-.06.18-.12.299-.059.06-.059.18-.059.18 0 .178 0 .298.06.418.06.119.18.179.299.179.18 0 .299 0 .478-.06.18-.06.359-.18.538-.299l1.016-2.57s.06-.12.18-.12c.119 0 .358.06.477.06.12 0 .06.12.06.12l-.896 2.211c-.06.12-.06.18-.12.3-.06.119-.06.179-.06.179 0 .119 0 .239.06.298.06.06.12.12.299.12h.359s.06 0 0 .06c0 .06 0 .06-.06.12 0 .059-.06.059-.12.059-.179.06-.358.06-.478.12h-.359c-.179-.06-.358-.12-.418-.24-.06 0-.12-.179-.06-.298zM57.08 75.669c0 .06 0 .12.06.12 0 .06.06.06.12.119.06 0 .12 0 .239.06h.18s.059 0 .059.06v.179c0 .06-.06.06-.06.06l-2.032.299s-.06 0-.06-.06v-.12c0-.06.06-.06.06-.06.06 0 .12 0 .18-.06.119 0 .179-.06.238-.06l.18-.178c.06-.06.06-.12.06-.24l.358-4.363-1.315.18c-.06.896-.18 1.673-.299 2.33-.179.658-.358 1.196-.538 1.674-.179.419-.418.777-.657 1.016-.24.24-.478.359-.717.419-.18 0-.3 0-.419-.06-.12-.06-.18-.18-.239-.359 0-.12 0-.239.06-.358.06-.12.18-.18.299-.18h.239c.06 0 .12.06.18.12.059.06.119.06.119.12l.12.119c.238-.18.418-.478.597-.837.18-.358.359-.777.478-1.255.12-.478.24-.897.299-1.315.06-.418.06-.717 0-.956 0-.06 0-.12-.06-.18l-.12-.12c-.06 0-.179-.059-.298-.059h-.18s-.06 0-.06-.06v-.12c0-.059.06-.059.06-.059l4.005-.598s.06 0 .06.06v.12c0 .06-.06.06-.06.06-.06 0-.12.06-.18.06-.119.059-.179.059-.238.059-.12.06-.18.12-.18.18-.06.06-.06.179-.06.238l-.298 3.885v.06c-.24 0-.18.06-.18.06z')
                                path(fill-rule='nonzero', d='M63.834 71.366c.12.298.18.537.24.836 0 .3 0 .598-.06.837-.06.299-.24.538-.419.777-.179.24-.418.418-.717.538-.358.18-.717.18-1.016.06-.299-.12-.598-.419-.777-.837-.06-.06-.06-.12-.06-.18s-.06-.119-.06-.238l-.717.298.3 1.674s.059.12-.06.18c-.12.06-.3.119-.419.179-.12.06-.18-.06-.18-.06l-.478-2.271c0-.06-.06-.18-.06-.3 0-.119-.059-.179-.059-.238-.06-.12-.12-.18-.18-.24-.06 0-.179 0-.298.06-.06 0-.12.06-.18.12l-.12.12h-.059v-.12-.06l.359-.358c.12-.12.239-.18.299-.18.179-.06.358-.12.478-.06s.239.12.299.3c0 .06.06.119.06.179s.06.179.06.239l.119.657.717-.299c-.06-.239-.06-.478 0-.717s.12-.478.18-.657c.119-.18.238-.419.418-.538.179-.18.358-.3.597-.419.359-.179.718-.179 1.076-.06.24.06.538.36.717.778zm-.777.179c-.12-.359-.298-.538-.478-.658-.179-.12-.358-.12-.597 0a.933.933 0 0 0-.479.479c-.12.179-.12.418-.12.717 0 .239.06.538.12.777s.12.478.24.657c.179.359.298.538.478.658.179.12.358.12.597 0 .18-.06.359-.24.419-.419.12-.179.12-.418.18-.657 0-.24 0-.478-.06-.777-.12-.299-.18-.538-.3-.777zM67.241 68.616c.18.24.359.538.419.837.12.299.12.598.12.896 0 .3-.06.598-.24.837-.12.24-.299.478-.597.717-.18.12-.3.18-.479.24s-.358.06-.538.06c-.179-.06-.358-.12-.537-.24a2.282 2.282 0 0 1-.538-.538c-.24-.299-.419-.657-.598-1.076-.18-.418-.299-.836-.419-1.255-.06-.18-.06-.358-.06-.538 0-.179 0-.358.06-.538.06-.179.12-.358.18-.478s.239-.299.418-.478c.12-.12.24-.239.419-.359.12-.12.239-.179.298-.298.06-.06.12-.18.18-.24s.06-.239.06-.358c0 0 0-.06.06-.06h.179c.06 0 .06.06.06.06v.717c0 .18-.12.299-.12.359-.06.06-.12.18-.24.299-.119.06-.179.179-.238.239l-.24.239c-.119.12-.239.239-.298.418-.06.12-.12.299-.12.478-.06.24 0 .478.06.777.06.3.18.598.299.897h.06c-.06-.359 0-.717.06-1.016.119-.3.298-.538.537-.777.359-.3.718-.359 1.076-.359.18 0 .478.18.717.538zm0 1.793c-.06-.239-.12-.478-.239-.717-.12-.24-.239-.478-.418-.717-.24-.3-.418-.419-.598-.478-.18-.06-.418 0-.597.12-.18.119-.3.358-.36.537-.059.24-.059.478 0 .717.06.24.12.478.24.718.12.239.239.478.359.657.239.299.418.418.657.478.24.06.418 0 .598-.12a.87.87 0 0 0 .358-.537c.06-.18.06-.419 0-.658zM69.513 65.21c.179.179.298.358.298.597s-.06.538-.239.837v.06c.18-.18.419-.3.598-.36.24-.059.419 0 .538.18.299.24.418.598.359 1.016-.06.419-.24.837-.598 1.255-.299.359-.598.538-.956.538-.3 0-.598-.12-.957-.418-.239-.24-.478-.478-.657-.777-.18-.299-.299-.538-.299-.837-.06-.299-.06-.538.06-.837.06-.298.239-.538.478-.836.12-.12.239-.24.359-.3l.358-.179c.12-.06.24-.06.359-.06.06 0 .18.06.299.12zm-.479.597c-.12-.12-.239-.18-.418-.12-.12 0-.299.12-.418.24-.12.119-.18.298-.24.418 0 .18 0 .299.06.478.06.18.12.359.18.478.12.18.179.299.299.478l.418-.538c.12-.179.239-.358.299-.478s.06-.299.06-.358c0-.12-.06-.18-.06-.3 0-.119-.06-.238-.18-.298zm1.196 1.255c-.12-.12-.299-.18-.478-.12-.18 0-.359.18-.538.36-.06.119-.18.238-.3.358-.119.12-.178.239-.238.299l.18.179.178.18c.12.119.3.238.419.298.12.06.239.06.358.06.12 0 .18 0 .3-.06.06-.06.179-.12.238-.18.12-.119.18-.238.24-.418.06-.12.06-.239 0-.418 0-.12-.06-.24-.12-.359-.06 0-.12-.12-.24-.179z')
                            g(fill='#CB2026')
                                path(d='M30.841 49.848c.06.658.479 7.412.479 7.412s0 .06-.06.06h-.12s-.06 0-.06-.06 0-.12-.06-.18c0-.12-.06-.179-.06-.239-.059-.06-.119-.179-.178-.179-.06-.06-.12-.06-.24-.06l-3.825-.657h-.06-.06c-.06 0-.119 0-.119.06-.06 0-.06.06-.12.12 0 .059-.06.119-.06.238v.18s0 .06-.059.06h-.18s-.059 0-.059-.06-.12-1.794-.12-2.033v-.06s.18 0 .18.06c0 0 .06 0 .06.06s0 .12.06.24c0 .119.06.179.06.238.059.12.119.18.178.18.06.06.12.06.24.06l3.885.657h.239c.12 0 .179-.06.179-.12v-.239-.299-.358-.3-.298c0-.12-.06-.239-.12-.239-.06-.06-.179-.06-.298-.06l-3.886-.657h-.06-.06c-.059 0-.119 0-.119.06-.06 0-.06.06-.12.119 0 .06-.059.12-.059.24v.178s0 .06-.06.06H26s-.06 0-.06-.06-.12-1.673-.12-2.032c0-.06 0-.06.06-.06H26c.06 0 .06.06.06.06 0 .06 0 .12.06.18 0 .12.06.179.06.239.06.12.119.179.179.179.06.06.12.06.239.06l3.885.657h.239c.06 0 .12-.06.18-.06 0-.06.059-.12 0-.239v-.299-.358V52v-.299c0-.06 0-.12-.06-.18 0-.059-.06-.059-.06-.119-.06 0-.06-.06-.12-.06h-.18l-3.884-.657h-.06-.06c-.06 0-.12 0-.18.06-.059 0-.059.06-.119.12 0 .06-.06.119-.06.238v.18s0 .06-.06 0c-.059 0-.179 0-.179-.06 0 0-.06 0-.06-.06s-.119-1.853-.119-2.092l.18.06c0 .06 0 .12.06.24 0 .119.059.178.059.238.06.12.12.18.18.18.06.06.119.06.238.06l3.885.657h.12c.06 0 .12 0 .12-.06.06 0 .06-.06.12-.12 0-.06.059-.12.059-.239v-.179c0-.06 0-.06.06-.06h.12c-.12-.06-.12-.06-.06 0zM28.69 44.529c.12 0 .179.06.239.179.06.06.06.18.06.299 0 .06-.06.12-.12.239-.06.06-.18.12-.299.24 0 .059.06.119.18.178.119.06.179.12.298.24.12.06.18.179.3.298.119.12.178.24.238.419h.06c.12-.12.24-.24.359-.3.12-.059.298-.059.478-.059h.418c.18 0 .299 0 .359-.06.12-.06.18-.179.18-.358v-.24-.119c0-.06 0-.12.059-.06.06 0 .06 0 .12.06.06 0 .06.12.06.12.059.239.059.418.059.478 0 .12 0 .239-.06.358-.06.18-.12.3-.239.359-.12.12-.299.12-.538.12h-.478c-.24 0-.418 0-.538.06-.12.06-.18.179-.18.358-.059.12-.059.239-.059.239s1.375.657 1.434.657c.06.06.12.06.12.18s-.06.418-.12.418c0 .06-.06.12-.12.06-.059-.06-2.091-1.016-2.091-1.016-.06-.06-.18-.06-.24-.12-.119-.06-.178-.06-.238-.06-.12-.06-.24 0-.299 0-.06.06-.12.12-.12.24v.299c0 .06 0 .119-.12.119h-.059c-.06 0-.06-.06-.06-.12 0-.12-.06-.298-.06-.418v-.359c.06-.179.12-.298.24-.418.12-.06.239-.06.418-.06.06 0 .12 0 .18.06.06 0 .179.06.238.12l.718.358.06-.239v-.239c0-.06-.06-.18-.06-.239-.06-.12-.12-.18-.18-.24-.06-.059-.179-.178-.298-.238-.12-.06-.18-.18-.3-.24l-.298-.298-.18-.359v-.418c0-.12.06-.24.18-.299.06-.18.18-.18.299-.18z')
                                path(fill-rule='nonzero', d='M31.2 41.122c.299.12.538.299.777.478.24.18.418.418.538.717.12.24.239.538.239.837 0 .299-.06.598-.18.956-.179.359-.418.658-.776.777-.359.12-.718.12-1.136-.06-.299-.119-.538-.298-.777-.478-.239-.239-.418-.418-.538-.717-.12-.239-.18-.538-.239-.837 0-.298.06-.597.18-.896.179-.419.418-.658.776-.777.359-.18.718-.18 1.136 0zm-.418.657c-.3-.12-.598-.179-.777-.12-.24.06-.359.18-.479.42-.06.178-.12.418-.06.597.06.239.18.418.36.657.179.18.358.359.597.478.24.12.418.24.657.36.3.119.598.178.837.119.24-.06.359-.18.478-.419.06-.179.12-.418.06-.597-.06-.24-.18-.419-.299-.598-.179-.18-.358-.359-.538-.478-.358-.18-.597-.359-.836-.419z')
                                path(d='M35.205 38.432l.06.06c.06.06.06.12 0 .12-.06.179-.06.358-.12.478s-.06.239-.18.358c-.119.18-.239.24-.358.3-.12 0-.299 0-.418-.06-.06 0-.12-.06-.12-.12l-.18-.18-1.015-1.075-.419-.419-.239-.239h-.18c-.059.06-.179.12-.238.18-.12.179-.12.418 0 .657.12.299.358.657.717 1.136.12.179.299.358.418.597.12.24.24.419.359.598.12.24.18.418.18.598 0 .179 0 .299-.12.478-.06.12-.18.18-.24.18-.119 0-.179 0-.298-.06a.825.825 0 0 1-.18-.24c-.06-.12 0-.239.06-.299s.06-.12.18-.12c.06-.059.12-.059.239-.119-.06-.179-.12-.358-.3-.597-.179-.24-.298-.478-.418-.598-.12-.18-.239-.359-.418-.538-.12-.18-.24-.418-.299-.598-.06-.179-.12-.418-.12-.657 0-.24.12-.419.24-.658.12-.239.299-.358.478-.478.18-.06.299-.06.418 0l.24.24.298.298.897 1.016.179.18.18.179c.119.06.238.12.298.06.06 0 .18-.12.24-.24 0-.06.06-.119.119-.179 0-.06.06-.06.06-.12-.06-.179 0-.179 0-.119z')
                                path(fill-rule='nonzero', d='M36.938 36.4c0 .06 0 .18-.06.299 0 .12 0 .239-.06.299 0 .12-.06.239-.12.358-.059.12-.119.24-.238.3a1.18 1.18 0 0 1-.837.358c-.299-.06-.657-.18-.956-.538a2.81 2.81 0 0 1-.538-.717c-.12-.3-.18-.598-.24-.897 0-.299 0-.598.12-.837.06-.299.24-.538.419-.717.12-.12.239-.239.418-.299.12-.06.24-.12.299-.12.06 0 .12-.06.12-.119 0-.06.238-.478.298-.478 0-.06.06-.06.12 0s1.255 2.032 1.255 2.032c.06.06.12.12.18.24.059.119.119.179.179.179.12.12.179.12.239.12s.179-.06.239-.18c.06-.06.06-.06.12-.18.059-.06.059-.06.059-.12h.06c0 .06.06.06.06.12s.06.06 0 .12c-.06.18-.12.359-.18.418-.06.12-.12.24-.239.3-.12.119-.239.179-.418.179 0 .06-.18 0-.3-.12zm-.18-.299l-1.075-1.733c-.06-.06-.12-.12-.18-.12-.06-.06-.12-.06-.239-.06-.06 0-.179 0-.239.06s-.179.12-.299.18c-.12.12-.179.298-.239.478s0 .418 0 .657c.06.24.12.478.24.717.119.24.298.479.478.658.12.12.179.18.298.239.12.06.18.12.3.18.119.06.179.06.298 0 .12 0 .18-.06.299-.18.12-.12.18-.24.24-.418.059-.12.119-.359.119-.658 0 .06 0 0 0 0z')
                                path(d='M42.437 33.172c-.24.12-.478.18-.717.24-.24 0-.479 0-.718-.06s-.478-.24-.657-.419a1.632 1.632 0 0 1-.538-.717c-.24-.418-.359-.837-.359-1.255-.06-.418 0-.837.06-1.255.12-.419.299-.777.538-1.076.24-.359.538-.598.897-.777.298-.12.537-.24.777-.299.239-.06.418-.06.597 0h.06l.06-.24s0-.059.06-.059.12-.06.179-.12h.06l.478 1.734v.06c-.06 0-.18.12-.18.12h-.06c0-.06-.06-.12-.06-.12-.119-.18-.178-.359-.298-.478-.12-.12-.239-.3-.418-.359-.12-.06-.3-.12-.478-.12-.18 0-.36.06-.598.18-.299.12-.478.358-.658.597-.179.24-.239.538-.298.897-.06.299-.06.657.06 1.076.06.418.179.777.358 1.135.239.479.538.777.956.957.359.18.777.18 1.136-.06.299-.18.598-.418.717-.717.18-.3.24-.658.299-1.076 0-.06.06-.06.06-.06h.179c.06 0 .06.06.06.06-.06.598-.18 1.076-.419 1.434a7.612 7.612 0 0 1-1.135.777z')
                                path(fill-rule='nonzero', d='M47.457 28.81c.06.298.12.597.12.896 0 .299-.06.597-.18.837-.119.298-.298.478-.537.717-.24.18-.478.358-.837.478-.418.12-.777.06-1.076-.12-.299-.179-.538-.478-.657-.896-.12-.299-.12-.598-.12-.956 0-.3.12-.598.24-.837.119-.24.298-.478.537-.658.24-.179.478-.358.777-.418.419-.12.777-.06 1.076.12.359.119.538.418.657.836zm-.777.059c-.12-.359-.239-.598-.418-.717-.18-.12-.359-.18-.598-.12a.93.93 0 0 0-.478.359c-.12.18-.239.418-.299.717a1.7 1.7 0 0 0 0 .777c0 .24.06.478.12.717.12.359.239.598.418.718.18.12.359.179.598.12.24-.06.359-.18.478-.36.12-.179.24-.358.24-.597.059-.24.059-.478.059-.777 0-.3 0-.538-.12-.837zM51.402 27.674c0 .239-.06.478-.179.657-.12.18-.359.359-.717.478v.06c.239 0 .478.06.657.18.18.119.3.298.3.477.059.36-.12.718-.42.957-.298.299-.717.418-1.314.478-.478.06-.777 0-1.016-.24-.24-.178-.359-.537-.419-.955-.06-.36 0-.658.06-.957.06-.299.18-.598.299-.837.12-.239.358-.418.598-.597.239-.18.538-.24.896-.3h.478c.12 0 .24.06.359.12.12.06.18.12.299.18.06.06.12.179.12.299zm-.657 1.852c0-.179-.12-.298-.24-.418-.119-.12-.358-.12-.657-.12-.12 0-.299.06-.418.06-.18.06-.299.06-.359.12v.478c0 .18.06.359.12.478.06.12.12.24.18.299.059.06.178.12.238.12.12 0 .18.06.299 0 .18 0 .299-.06.418-.12.12-.06.18-.18.3-.299.06-.12.119-.239.119-.358v-.24zm-.06-1.733c0-.18-.06-.299-.239-.359-.12-.06-.299-.12-.418-.12-.18 0-.3.06-.419.18-.12.12-.239.24-.299.419s-.12.298-.179.478c-.06.18-.06.358-.06.538l.658-.12c.239-.06.418-.12.538-.18.12-.059.239-.178.299-.238s.12-.18.12-.299v-.299zM55.407 27.913c0 .239-.12.478-.299.657-.18.18-.418.299-.717.419l-.717.179c-.24.06-.479.06-.777.06 0 .418 0 .717.179.896.12.24.358.359.598.359.239 0 .478 0 .657-.12.18-.12.359-.239.538-.478.06-.06.06 0 .06 0l.12.12c.059 0 0 .06 0 .06-.24.238-.479.478-.778.597-.299.18-.597.24-.956.18-.418 0-.777-.18-.956-.419-.24-.24-.3-.598-.3-1.076 0-.299.12-.598.18-.896a2.15 2.15 0 0 1 .478-.718c.18-.239.419-.358.717-.538.3-.12.598-.179.897-.179.359 0 .598.12.777.299.24.18.299.359.299.598zm-.658-.12v-.239c0-.06-.06-.12-.12-.12-.059-.06-.059-.06-.119-.06h-.179c-.299 0-.598.12-.837.42-.299.298-.478.716-.538 1.195.18 0 .359-.06.598-.06.24-.06.418-.06.538-.12.239-.12.359-.239.478-.358.06-.24.12-.479.18-.658zM59.71 29.586c-.06.3-.239.598-.418.897-.18.239-.418.478-.658.657-.239.18-.537.3-.836.359a1.7 1.7 0 0 1-.777 0c-.18-.06-.359-.12-.478-.18a.72.72 0 0 1-.3-.298l-.477.896c0 .06-.06.12-.06.18s-.06.12-.06.12c0 .059 0 .119.06.178.06.06.06.12.12.12.06.06.119.06.179.12.06 0 .12.06.179.06 0 0 .06 0 0 .059l-.06.12c0 .06-.06 0-.06 0l-1.853-.479s-.06 0-.06-.06.06-.119.06-.119c0-.06.06-.06.06 0h.359c.06 0 .12 0 .18-.06l.179-.179 1.613-3.108c.06-.06.06-.18.12-.24.06-.059.06-.178.06-.238.06-.12.06-.24 0-.299-.06-.06-.12-.12-.24-.12h-.359s-.059 0 0-.06c0-.06.06-.119.06-.119 0-.06.06-.06.06-.06.18-.06.36-.06.479-.06h.418c.18.06.299.12.359.24s.06.239.06.418h.06c.178-.12.418-.18.597-.239.239-.06.418-.06.598 0 .358.12.597.299.777.598.12.12.179.478.06.896zm-1.494 1.196c.18-.18.299-.359.478-.598.12-.24.24-.478.3-.777.059-.12.059-.24.059-.418v-.36c0-.119-.06-.178-.18-.298-.06-.06-.179-.12-.358-.18h-.418c-.12.06-.36.12-.598.24l-.956 1.912c0 .12 0 .3.12.419.119.18.238.239.417.299.18.06.36.06.598 0 .18 0 .359-.12.538-.24z')
                                path(d='M61.743 32.395c-.12 0-.3.06-.419.06-.18 0-.299.06-.418.06-.12 0-.24 0-.359-.06-.12 0-.239-.06-.358-.12-.18-.119-.36-.238-.36-.418-.059-.18 0-.358.12-.538 0-.06.06-.12.12-.179.06-.06.12-.18.239-.299l.837-.896c.06-.06.12-.18.18-.24.059-.06.119-.119.119-.179.06-.12.12-.239.06-.299 0-.06-.06-.12-.24-.179-.06 0-.12-.06-.179-.06-.06 0-.12 0-.12-.06 0 0-.06 0 0-.06 0 0 .06-.119.12-.119h.06c.18 0 .358.06.478.06.18.06.24.06.359.12.179.119.298.179.298.358.06.12 0 .24-.06.419 0 .06-.06.12-.119.179-.06.06-.12.12-.12.18l-1.015.955c-.06.06-.12.18-.18.24s-.12.12-.12.179c-.06.12-.119.299-.119.418 0 .12.12.24.24.3.119.059.238.119.418.119.179 0 .358 0 .657-.12l1.853-2.092h.06c.12.06.478.24.538.24 0 0 .06.059 0 .059l-1.554 1.733c-.06.06-.12.12-.18.24-.06.06-.12.119-.12.179-.059.12-.119.299-.119.418 0 .12.12.24.24.299.119.06.238.12.418.12.179 0 .418 0 .717-.12 0 0 1.793-2.032 1.853-2.092.06-.06.06 0 .06 0l.538.24s.06.059 0 .059l-1.614 1.853c-.06.06-.12.179-.18.239s-.12.12-.12.18c-.059.119-.059.238-.059.298s.12.12.24.239c.059 0 .119.06.178.06.06 0 .12.06.12.06s.06.06 0 .06l-.12.119-.06.06c-.179 0-.358-.06-.477-.06-.12 0-.24-.06-.36-.12-.178-.12-.298-.239-.298-.358-.06-.12 0-.3.06-.478-.12 0-.24.06-.419.06-.12 0-.239.06-.358 0-.12 0-.24 0-.359-.06-.12-.06-.239-.06-.358-.12-.18-.12-.3-.239-.359-.418 0-.359.06-.538.12-.718z')
                                path(fill-rule='nonzero', d='M69.034 34.786a1.18 1.18 0 0 1-.657.359c-.24.06-.538 0-.837-.12-.239-.12-.418-.179-.657-.299a4.02 4.02 0 0 1-.658-.418c-.239.299-.418.538-.418.837 0 .239.06.478.299.657.18.18.358.24.597.3.18.059.479 0 .718-.06 0 0 .06 0 .06.06 0 0 0 .119.06.178 0 .06 0 .06-.06.06-.36.06-.658.12-1.017.06-.358-.06-.657-.18-.896-.418-.299-.3-.478-.598-.478-.957 0-.358.12-.657.418-1.016.18-.239.418-.418.717-.598.24-.119.538-.239.837-.298.299-.06.598-.06.897.06.298.06.538.238.777.418.239.239.418.478.418.657a.39.39 0 0 1-.12.538zm-.418-.478c.06-.06.12-.12.12-.18v-.179c0-.06-.06-.12-.06-.12l-.12-.119c-.239-.179-.538-.239-.956-.179-.418.06-.777.299-1.136.598.12.12.3.179.479.299s.358.179.537.239c.24.06.419.06.598 0 .24-.06.359-.18.538-.359z')
                                path(d='M69.692 36.878l.897 1.136 1.374-.658s.12-.06.18.06l.358.359c.06.06 0 .12 0 .12L70.29 38.91c-.06.06-.18.06-.24.12-.119.06-.179.12-.239.12-.119.06-.179.179-.179.239s.06.179.12.298c0 .06.06.06.12.12l.119.12v.06l-.12.059h-.06c-.179-.12-.358-.18-.418-.24-.12-.059-.18-.178-.299-.238-.12-.18-.18-.299-.18-.419s.06-.239.18-.358c.06-.06.12-.06.18-.12s.12-.06.239-.12l.836-.418-.896-1.135-1.554.717s-.12.06-.18-.06c-.119-.12-.179-.239-.239-.299-.12-.12.06-.179.06-.179l2.092-1.016c.06-.06.18-.06.24-.12.119-.06.179-.12.238-.12.12-.059.18-.178.18-.238s-.06-.18-.12-.24-.06-.119-.18-.119c-.059-.06-.059-.06-.119-.06 0 0-.06-.06 0-.06s.12-.06.12-.06h.06c.179.12.298.18.418.24s.239.18.299.239c.12.18.18.299.18.418 0 .12-.12.24-.24.359-.06 0-.06.06-.18.12-.059.06-.119.06-.238.12l-.598.238zM70.41 41.78a1.725 1.725 0 0 1-.18-1.077c.12-.358.359-.597.777-.836.299-.12.538-.24.837-.3.299-.059.597-.059.836 0 .3.06.538.12.777.3.24.179.479.358.598.657.18.299.24.598.18.837a.87.87 0 0 1-.36.538c-.119.06-.298.12-.477.12-.18 0-.24-.06-.359-.24-.06-.12-.06-.239-.06-.299s.06-.179.12-.179c.06-.06.18-.06.299-.06.12 0 .239-.06.358-.06.06-.06.06-.119.06-.238 0-.12-.06-.18-.12-.3-.179-.298-.478-.477-.956-.477s-.956.12-1.434.358c-.3.18-.538.359-.598.598-.12.239-.12.478.06.717.12.24.299.359.478.478.18.12.418.18.717.18 0 0 .06 0 .06.06v.179c0 .06-.06.06-.06.06-.299 0-.597-.12-.896-.24-.3-.299-.478-.478-.658-.777z')
                                path(fill-rule='nonzero', d='M76.446 52.538c-.24 0-.478-.06-.657-.18-.18-.179-.36-.418-.419-.717h-.06c0 .24-.06.479-.179.658-.12.18-.299.299-.478.299-.359 0-.717-.12-.956-.419-.24-.299-.419-.717-.479-1.315-.06-.478.06-.777.3-1.016.238-.239.537-.358.956-.358.358 0 .657 0 .956.06.299.06.598.179.837.358.239.18.418.359.597.658.18.239.24.537.24.896v.478c0 .12-.06.24-.12.359-.06.12-.12.18-.24.239-.059-.06-.178 0-.298 0zm-1.853-.717c.18 0 .299-.06.418-.24.12-.119.12-.358.12-.657 0-.12-.06-.299-.06-.478-.06-.18-.06-.299-.06-.359h-.478c-.179 0-.358.06-.478.12s-.239.12-.299.18c-.06.059-.12.179-.179.238-.06.12-.06.18-.06.3 0 .178.06.298.12.418s.18.239.299.298c.12.06.239.12.358.12.06.06.18.06.3.06zm1.733 0c.18 0 .3-.06.419-.18.06-.12.12-.239.12-.418 0-.18-.06-.299-.18-.418-.12-.12-.239-.24-.418-.3-.18-.059-.3-.179-.478-.179-.18-.06-.36-.06-.538-.12l.12.658c.059.24.119.419.178.538.06.12.12.24.24.3.06.059.179.119.239.119h.298z')
                            g(fill='#CB2026', fill-rule='nonzero')
                                path(d='M37.894 80.032c-1.195 0-2.51-.358-3.765-1.255a7.787 7.787 0 0 0-.897-.598c-2.39-1.613-3.347-2.271-5.439-1.613l-.418.12.06-.42c.657-2.21-.06-3.287-1.674-5.558-.18-.239-.299-.478-.478-.717-1.973-2.75-1.315-5.798-.24-7.053l.36.299c-.36.418-.837 1.374-.897 2.57-.06.956.12 2.39 1.135 3.825.18.24.359.478.479.717 1.554 2.212 2.33 3.407 1.852 5.559 2.033-.538 3.168.24 5.44 1.793.298.18.597.419.896.598 1.435 1.016 2.869 1.195 3.825 1.135 1.256-.06 2.152-.537 2.57-.896l.3.359c-.479.657-1.674 1.135-3.109 1.135zm28.391-.06c-1.375 0-2.57-.478-3.228-1.016l.3-.358c.418.418 1.374.836 2.57.896.956.06 2.39-.12 3.825-1.135.299-.24.597-.419.896-.598 2.272-1.554 3.407-2.331 5.44-1.793-.479-2.152.298-3.347 1.852-5.559.18-.239.3-.478.478-.717 1.076-1.494 1.196-2.929 1.136-3.825-.06-1.256-.478-2.152-.897-2.57l.36-.3c1.075 1.196 1.732 4.304-.24 7.054-.18.239-.359.478-.478.717-1.614 2.271-2.331 3.347-1.674 5.558v.36l-.358-.06c-2.092-.718-3.049-.06-5.44 1.613-.298.18-.597.418-.896.598-1.076.777-2.45 1.135-3.646 1.135zm12.91-39.03l-.358-.298c.358-.419.837-1.375.896-2.57.06-.957-.12-2.391-1.135-3.826-.18-.239-.359-.478-.478-.717-1.554-2.211-2.331-3.407-1.853-5.559-2.033.538-3.168-.239-5.44-1.793-.298-.179-.597-.418-.896-.597-1.434-1.016-2.869-1.196-3.825-1.136-1.255.06-2.152.538-2.57.897l-.3-.36c1.196-1.075 4.304-1.732 7.054.18.299.24.597.419.896.598 2.391 1.614 3.347 2.271 5.44 1.614l.358-.06v.359c-.658 2.211.06 3.287 1.673 5.558.18.24.3.478.479.717 1.733 2.75 1.075 5.798.06 6.994zm-54.151 0c-1.076-1.195-1.734-4.303.239-7.052.18-.24.358-.479.478-.718 1.554-2.27 2.331-3.347 1.673-5.558l-.06-.419.42.12c2.091.717 3.047.06 5.438-1.614.299-.18.598-.418.897-.598 2.75-1.912 5.797-1.255 6.993-.179l.06.06.06.06-.3.358-.06-.06c-.836-.776-3.645-1.733-6.395.24-.298.239-.597.418-.896.597-2.271 1.554-3.407 2.331-5.44 1.793.479 2.152-.298 3.348-1.852 5.559-.18.24-.299.478-.478.717-1.076 1.495-1.196 2.929-1.136 3.826.06 1.255.478 2.151.897 2.57l-.538.299z')
                                path(d='M52.18 86.846l-.24-.299c-1.135-2.032-2.39-2.271-5.08-2.75l-.897-.179c-3.347-.538-5.02-3.167-5.14-4.781l.478-.06c.06.598.359 1.554 1.196 2.45a5.947 5.947 0 0 0 3.526 1.913l.897.18c2.63.478 4.064.717 5.2 2.63 1.016-1.794 2.39-2.093 5.08-2.57.359-.06.657-.12 1.076-.18a5.947 5.947 0 0 0 3.526-1.913c.837-.956 1.136-1.912 1.196-2.45l.478.06c-.12 1.613-1.793 4.303-5.08 4.84l-1.076.18c-2.81.538-4.005.717-4.961 2.69l-.18.239zm26.776-23.61l-.06-.477c.598-.06 1.555-.359 2.451-1.196.717-.597 1.614-1.733 1.913-3.526l.18-1.076c.477-2.75.776-4.064 2.57-5.08-1.854-1.196-2.153-2.57-2.63-5.2-.06-.3-.12-.538-.18-.897-.299-1.793-1.195-2.929-1.913-3.527-.896-.836-1.853-1.195-2.45-1.195l.06-.478c1.613.12 4.243 1.793 4.781 5.14l.18.897c.478 2.75.717 4.004 2.749 5.08l.299.24-.3.179c-1.972.956-2.21 2.151-2.689 4.96-.06.36-.12.658-.18 1.076-.477 3.288-3.167 5.021-4.78 5.08zm-53.793 0c-1.614-.119-4.243-1.792-4.781-5.14l-.18-.896c-.478-2.75-.717-4.005-2.75-5.08l-.358-.24.359-.179c1.972-.956 2.211-2.152 2.69-4.96.06-.36.12-.658.179-1.077.299-1.912 1.315-3.108 2.032-3.765 1.016-.897 2.092-1.255 2.75-1.315l.06.478c-.598.06-1.555.359-2.451 1.195-.718.598-1.614 1.734-1.913 3.527l-.18 1.076c-.477 2.75-.776 4.064-2.57 5.08 1.853 1.196 2.152 2.57 2.63 5.2.06.3.12.538.18.897.299 1.793 1.195 2.929 1.912 3.526.897.837 1.853 1.196 2.451 1.196l-.06.478zm16.138-38.073l-.478-.06v-.06-.06c.06-.657.418-1.732 1.315-2.749.657-.777 1.853-1.733 3.765-2.032l1.076-.179c2.81-.538 4.005-.717 4.961-2.69l.18-.299.239.3c1.135 2.032 2.39 2.27 5.08 2.749l.897.18c3.347.537 5.02 3.167 5.14 4.78l-.478.06c-.06-.597-.359-1.554-1.196-2.45a5.947 5.947 0 0 0-3.526-1.913l-.897-.18c-2.63-.477-4.064-.716-5.2-2.629-1.016 1.793-2.39 2.092-5.08 2.57-.359.06-.658.12-1.076.18-2.989.478-4.602 2.868-4.722 4.363v.12c0-.06 0 0 0 0z')
                            path(stroke='#CB2026', stroke-width='.444', d='M95.333 51.94c0 23.908-19.365 43.274-43.273 43.274-23.908 0-43.274-19.366-43.274-43.274S28.152 8.667 52.06 8.667 95.333 28.032 95.333 51.94z')
                            path(stroke='#CB2026', stroke-width='.444', d='M7.292 33.172c-1.315 3.228-2.39 6.695-2.989 10.221-.12.777.24 1.435.957 1.614.777.12 1.374-.359 1.494-1.136 3.347-18.887 18.23-33.83 37.117-37.237.777-.12 1.255-.717 1.136-1.494-.12-.777-.717-1.135-1.494-1.016h-.06c-3.467.598-6.754 1.614-9.862 2.929-.06 0-.24.06-.24.06-.896.239-1.852-.18-2.091-1.016-.24-.837.239-1.734 1.135-2.092h-.06C38.493 1.435 45.008.06 52.12.06c7.172 0 13.986 1.494 20.142 4.064.837.359 1.195 1.255.837 2.092-.359.777-1.136 1.195-2.032.956-.06 0-.24-.06-.24-.06a52.422 52.422 0 0 0-10.16-2.988c-.777-.12-1.495.18-1.614.956-.12.777.358 1.375 1.136 1.495C79.195 9.982 94.138 24.984 97.366 43.99c.12.777.717 1.255 1.494 1.135.777-.12 1.076-.836.956-1.613a45.304 45.304 0 0 0-2.988-10.28c0-.06-.06-.24-.06-.24-.24-.896.12-1.673.956-2.032.837-.359 1.733 0 2.092.837a52.123 52.123 0 0 1 4.005 20.082c0 7.113-1.495 13.867-4.005 20.023-.359.837-1.255 1.256-2.092.897-.777-.359-1.195-1.136-.956-2.032 0-.06.06-.24.06-.24a51.789 51.789 0 0 0 2.988-10.22c.12-.777-.18-1.494-.956-1.614-.777-.12-1.375.359-1.494 1.136-3.288 19.067-18.41 34.129-37.476 37.416-.777.12-1.256.717-1.136 1.494.12.777.837 1.076 1.614.957 3.646-.598 7.112-1.674 10.46-3.049.06 0 .239-.06.239-.06.896-.239 1.673.12 2.032.957.358.837 0 1.733-.837 2.092-6.216 2.57-13.03 4.064-20.202 4.064-7.113 0-13.867-1.494-20.023-4.004-.837-.36-1.196-1.256-.837-2.092.359-.777 1.136-1.196 2.032-.957.06 0 .24.06.24.06 3.287 1.375 6.694 2.331 10.28 2.989.777.12 1.494-.18 1.614-.957.12-.777-.36-1.374-1.136-1.494-19.007-3.287-34.07-18.23-37.416-37.237-.12-.777-.717-1.255-1.494-1.135-.777.12-1.076.836-.957 1.613.598 3.527 1.614 6.874 2.929 10.102 0 .06.06.239.06.239.239.896-.12 1.673-.957 2.032-.836.358-1.733 0-2.092-.837C1.673 65.867.24 59.053.24 51.94c0-7.112 1.375-13.926 4.064-20.083.36-.836 1.256-1.255 2.092-.896.777.359 1.196 1.136.957 2.032.06 0 0 .18-.06.18z')
                            path(stroke='#CB2026', stroke-width='.444', d='M86.906 51.94c0 19.246-15.6 34.846-34.846 34.846-19.246 0-34.846-15.6-34.846-34.846 0-19.246 15.6-34.846 34.846-34.846 19.246 0 34.846 15.6 34.846 34.846z')
                            path(stroke='#CB2026', stroke-width='.444', d='M81.048 51.94c0 16.019-12.97 28.989-28.988 28.989-16.019 0-28.989-12.97-28.989-28.989 0-16.018 12.97-28.988 28.989-28.988 16.018 0 28.988 12.97 28.988 28.988z')
                            path(fill='#CB2026', d='M75.55 45.903c.119.06.239.18.358.24.12.12.24.179.299.239.12.12.18.179.239.298.06.06.12.18.12.36.06.238.06.417-.06.597s-.24.299-.478.358c-.06 0-.12.06-.18.06s-.179 0-.358.06l-1.196.06h-.299c-.06 0-.179 0-.239.06-.12.06-.239.06-.239.119-.06.06 0 .18 0 .299 0 .06.06.12.06.18.06.059.06.119.06.119v.06h-.24c-.119-.12-.238-.3-.298-.419-.06-.12-.12-.239-.18-.299-.06-.18-.06-.358 0-.478s.18-.18.36-.239c.059 0 .119 0 .178-.06h.24l1.434-.06h.299c.12 0 .18 0 .18-.06.179-.06.298-.119.358-.238.06-.12.06-.24.06-.359-.06-.12-.12-.24-.24-.359-.119-.12-.298-.239-.537-.418l-2.81.18s-.06 0-.06-.06c-.06-.12-.179-.538-.238-.538 0 0 0-.06.06-.06s2.27-.12 2.27-.12h.3c.119 0 .179 0 .238-.06.18-.06.3-.119.36-.239.059-.12.059-.239.059-.358-.06-.12-.12-.24-.24-.359a2.1 2.1 0 0 0-.537-.418l-2.75.18c-.06 0-.06-.06-.06-.06s-.179-.539-.238-.539c0 0 0-.06.06-.06l2.45-.119h.299c.12 0 .18 0 .239-.06.12-.06.239-.12.239-.179.06-.06 0-.18 0-.299 0-.06-.06-.12-.06-.18 0-.059-.06-.119-.06-.119v-.06h.12c.06 0 .06 0 .06.06.12.18.239.3.299.419l.179.358c.06.18.06.359-.06.478-.06.12-.18.24-.359.24.12.06.24.12.36.239.119.06.178.179.298.239.12.12.18.179.239.299.06.12.12.239.12.358.06.24.06.419 0 .538-.18 0-.3.12-.479.18z')
                            path(fill='#CB2026', fill-rule='nonzero', d='M73.398 55.347s0-.06 0 0c0-.06-.06-.18-.12-.239a.457.457 0 0 1-.12-.299c-.06-.12-.06-.239-.119-.358v-.359c.06-.359.24-.598.538-.777.299-.18.657-.18 1.076-.12.299.06.598.18.837.359.239.18.478.359.657.598.18.239.299.478.419.777.06.299.12.538.06.837-.06.179-.06.358-.18.478-.06.12-.12.179-.18.299-.06.06-.06.12-.06.179 0 .06.06.538.06.598 0 .06-.06.06-.119.06-.06 0-2.211-.957-2.211-.957-.06-.06-.18-.06-.24-.12-.119-.06-.179-.06-.239-.06-.12 0-.239 0-.298.06-.06.06-.12.12-.12.3v.299s0 .059-.06.059-.06 0-.12-.06c-.059 0-.059-.06-.059-.06-.06-.179-.06-.358-.06-.478v-.418c.06-.18.12-.299.24-.359.119-.239.238-.299.418-.239zm.358.12l1.853.836h.24c.059 0 .179 0 .238-.06l.18-.179c.06-.06.12-.179.12-.298.059-.18 0-.36-.06-.538-.06-.18-.24-.359-.36-.538a2.147 2.147 0 0 0-.597-.419c-.239-.12-.478-.239-.777-.299-.12 0-.299-.06-.418-.06-.12 0-.24 0-.359.06-.12 0-.18.06-.239.18-.06.06-.12.179-.12.299s0 .298.06.478c-.06.12.06.299.24.538-.06-.06 0 0 0 0zM35.623 70.05h-.299c-.12 0-.239 0-.299-.06-.12 0-.239-.059-.358-.119-.12-.06-.24-.12-.3-.179a1.18 1.18 0 0 1-.358-.837c0-.299.18-.657.478-.956.18-.24.479-.419.718-.538.298-.12.597-.24.896-.24.299-.059.598 0 .837.06.299.06.538.24.717.419.12.12.24.24.299.418.06.12.12.24.12.3 0 .059.06.119.12.119.059 0 .477.239.477.299.06 0 .06.06 0 .12-.06.059-1.972 1.314-1.972 1.314-.06.06-.12.12-.24.18-.119.06-.179.119-.179.179-.12.12-.12.179-.12.299 0 .06.06.179.18.239.06.06.06.06.18.12.06.059.12.059.12.059v.06c-.06 0-.06.06-.12.06s-.06.06-.12 0c-.18-.06-.359-.12-.418-.18-.12-.06-.24-.12-.359-.239a.543.543 0 0 1-.18-.418c.06-.18.12-.3.18-.478zm.299-.179l1.673-1.135c.06-.06.12-.12.12-.18.06-.06.06-.12.06-.239 0-.06 0-.18-.06-.239-.06-.06-.12-.18-.18-.239-.119-.12-.298-.18-.478-.239-.179-.06-.418 0-.657.06-.24.06-.478.12-.717.299-.24.12-.478.298-.658.538-.12.12-.179.239-.239.298-.06.12-.12.18-.12.3v.298c.06.12.12.18.18.299.12.12.24.18.418.239.18-.06.359-.06.658-.06z')
                            path(fill='#CB2026', d='M46.322 72.92c-.06.12-.12.179-.18.239-.119.06-.179.06-.298 0-.06 0-.12-.06-.18-.18-.06-.06-.12-.179-.179-.299-.06 0-.12.06-.18.18-.059.12-.179.18-.238.239-.12.12-.18.18-.359.299a.646.646 0 0 1-.418.179v.06c.12.12.179.239.239.358.06.12.06.3 0 .479v.179c0 .06 0 .12-.06.239v.359c.06.12.12.179.299.239.06 0 .12.06.239.06h.06c.06 0 .12 0 .06.06-.06.059-.06.059-.06.119s-.12.06-.12.06h-.478c-.12 0-.24-.06-.359-.06a.797.797 0 0 1-.358-.3c-.06-.119-.12-.298-.06-.537 0-.06.06-.18.06-.24 0-.119.06-.178.06-.238.06-.24.06-.419 0-.538-.06-.12-.12-.18-.3-.24-.119-.059-.179-.059-.238-.059 0 0-.837 1.255-.837 1.315-.06.06-.06.12-.18.06s-.358-.12-.418-.18c-.06 0-.12-.06-.06-.12.06-.059 1.255-1.972 1.255-1.972.06-.06.12-.12.12-.239.06-.06.12-.179.12-.239.06-.12.06-.239 0-.299 0-.06-.12-.12-.24-.179-.06 0-.12-.06-.179-.06h-.06c-.06 0-.12-.06-.06-.12l.06-.059c.06-.06.12-.06.18-.06h.418c.18 0 .299 0 .359.06.179.06.299.18.358.299.06.12.06.239 0 .418 0 .06-.06.12-.06.18-.06.06-.06.12-.119.239l-.418.657.239.06c.06 0 .179.06.239.06s.18 0 .239-.06c.12-.06.18-.12.299-.18.06-.06.179-.179.299-.238l.239-.24c.12-.06.179-.179.358-.239.12-.06.24-.12.359-.12.12 0 .239 0 .359.06s.179.12.239.24c0 .06 0 .179-.06.299zM73.159 64.133V64.91c0 .12-.06.24-.06.359-.06.12-.06.18-.18.359a.93.93 0 0 1-.478.358c-.179.06-.358 0-.538-.12-.06-.06-.12-.06-.179-.119-.06-.06-.18-.12-.299-.239l-.836-.897a.825.825 0 0 0-.24-.179c-.06-.06-.12-.12-.179-.12-.12-.06-.18-.119-.299-.119-.06 0-.12.06-.179.18 0 .06-.06.119-.06.179s-.06.12-.06.12 0 .059-.06 0l-.119-.12c-.06-.06 0-.06 0-.06 0-.18.06-.359.12-.478.06-.12.06-.24.12-.359.119-.18.238-.239.358-.299.12 0 .239 0 .418.12.06 0 .06.06.12.12l.179.179.956 1.016c.06.06.12.12.24.18.06.059.119.119.179.119.12.06.299.12.418.12.12 0 .24-.06.299-.24.06-.12.12-.299.18-.478 0-.18 0-.418-.06-.598l-1.913-1.972s-.06-.06 0-.18c.06-.119.18-.298.239-.418.06-.12.12 0 .12 0l1.673 1.733.24.24c.059.06.119.12.178.12.12.059.24.119.3.059.06 0 .179-.12.238-.24 0-.059.06-.119.06-.179s.06-.12.06-.12 0-.059.06 0l.06.06c.06.06.06.06.06.12-.06.18-.06.359-.12.478-.06.12-.06.24-.18.359-.12.18-.239.24-.358.299-.18-.06-.3-.06-.478-.12z')
            .header__logo__text Школа Совершенства <br> Науки Любви

    button.header-mobmenu__btn.js-mob-menu
    .header-mobmenu
        a.header-mobmenu__logo(href="index.html")
        ul
            li
                a(href="programms-events.html") Программы и Мероприятия
            li
                a(href="calendar.html") Календарь
            li
                a(href="about.html") О школе
            li
                a(href="blog.html") Блог
            li
                a(href="contact.html") Контакты

    //- .header__content
    .header__contacts
        ul
            li.email
                a(href="#") info@loveperfectionschool.com
            li.phone
                a(href="#") +38 093 522 78 16
            li.fb
                a(href="#")
            li.instagram
                a(href="#")
    .header__nav
        ul
            li
                a(href="programms-events.html") Программы и Мероприятия
            li
                a(href="calendar.html") Календарь
            li
                a(href="about.html") О школе
            li
                a(href="blog.html") Блог
            li
                a(href="contact.html") Контакты
