.section-about {
    padding: 60px 24px;
    background-color: #fef5f5;
    background-image: url(../images/required/back-layout.svg);
    & .section__title {
        margin-bottom: 36px;
    }
    & .section-subtitle {
        max-width: 800px;
        margin: 0 auto 60px;
        font-size: 15px;
        line-height: 1.87;
        text-align: center;
        color: @color6;
    }
}

.advantages-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item {
        flex: 0 0 240px;
        padding: 0 4px;
        &:nth-last-of-type(n+3) {
            margin-bottom: 36px;
        }
    }
    &__title {
        position: relative;
        padding: 80px 0 12px;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.28;
        text-align: center;
        color: @mainColor;
        &:before {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            content: '';
            margin: 0 auto;
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: translateX(-50%);
        }
        &--love::before {
            background-image: url(../images/svg/love.svg);
        }
        &--money::before {
            background-image: url(../images/svg/money.svg);
        }
        &--health::before {
            background-image: url(../images/svg/health.svg);
        }
        &--harmony::before {
            background-image: url(../images/svg/harmony.svg);
        }
    }
    & p {
        display: -webkit-box;
        max-height: calc(13px * 21px * 3);
        font-size: 13px;
        line-height: 1.62;
        text-align: center;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

@media screen and (min-width: 768px) {
    .advantages-block {
        padding: 0 74px;
    }
}
@media screen and (min-width: 1024px) {
    .section-about {
        padding-right: 8px;
        padding-left: 8px;
    }
    .advantages-block {
        padding: 0;
        &__item {
            &:nth-last-of-type(n+3) {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .section-about {
        padding: 120px 62px;
    }
    .advantages-block {
        &__item {
            flex-basis: 360px;
        }
    }
}