.event-block {
    &__heading {
        display: flex;
    }
    &__date {
        flex: 0 0 180px;
        padding: 3px 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.53;
        color: #fff;
        background-color: @mainColor;
        span {
            vertical-align: middle;
            &:first-of-type {
                margin-right: 15px;
            }
        }
    }
    &__type {
        flex: 0 0 100px;
        padding: 4px 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: @color2;
        background-color: @color1;
        span {
            vertical-align: middle;
        }
    }
    &__slag {
        flex: 0 0 auto;
        padding: 8px 16px;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: @color1;
        span {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-of-type) {
                margin-right: 32px;
            }
        }
    }
    &__img {
        display: none;
        width: 280px;
        height: auto;
    }
    &__content {
        padding: 16px 19px 19px;
    }
    &__title {
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 1.89;
        color: @color6;
    }
    &__text {
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 1.62;
        color: #000;
    }
    &__footer {
        span {
            font-size: 12px;
            line-height: 1.92;
            color: @mainColor;
        }
        p {
            margin: 0;
            font-size: 12px;
            line-height: 1.92;
            color: #000;
            span {
                margin-left: 4px;
            }
        }
    }
    &__action {
        display: none;
        padding: 0 8px;
        visibility: hidden;
        p {
            margin: 0;
            font-size: 13px;
            line-height: 1.62;
            color: @color4;
        }
    }
}

.event-registration {
    padding: 0 16px 14px;
    border-right: 1px solid @color4;
    border-left: 1px solid @color4;

    p.event-registration__tel {
        margin: 2px 0 4px;
        font-weight: 500;
        color: @mainColor;
    }
    button {
        display: block;
        width: 100%;
        padding: 22px 48px;
        margin-top: 12px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        text-align: center;
        color: #fff;
        background-color: @color4;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
        0 2px 4px 0 rgba(99, 71, 77, 0.2);
        cursor: pointer;
    }
}

.event-calendar {
    padding: 0 16px;
    p {
        margin-bottom: 16px;
    }
    button {
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-image: url(../images/svg/google_calengar_list.svg);
        background-position: center;
        background-size: contain;
        border: none;
        cursor: pointer;
    }
}


@media screen and (min-width: 768px) {
    .event-block {
        &__date {
            flex-basis: 280px;
        }
        &__type {
            flex-basis: 176px;
        }
        &__footer {
            display: flex;
            p {
                margin-left: 36px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .event-block {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        &__heading {
            flex: 0 0 100%;
        }
        &__img {
            display: block;
        }
        &__content {
            flex: 1 0;
            padding: 8px 18px 8px 24px;
        }

    }
}
@media screen and (min-width: 1440px) {
    .event-block {
        &:hover {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 30;
            width: 100vw;
            background-color: @color2;
            box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.2),
            0 2px 4px 0 rgba(0, 0, 0, 0.2);
            & .event-block__action {
                display: flex;
                visibility: visible;
            }
        }
        &__img {
            height: 174px;
        }
        &__content {
            flex: 0 0 680px;
            padding-right: 16px;
        }
        &__action {
            flex: 1 0;
        }
    }
    .event {
        &-registration {
            flex: 0 0 64%;
        }
        &-calendar {
            flex: 0 0 36%;
        }
    }
}
@media screen and (min-width: 1920px) {}