.footer {
    position: relative;
    background-color: @color1;
    background-image: url(../images/required/back.png);
    background-repeat: no-repeat;
    background-position: 0 96%;
    background-size: 150%;
    &__container {
        padding: 36px 48px 60px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 62px;
        & img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    &__contacts {
        margin-bottom: 36px;

        & ul {
            padding: 0;
            margin: 0;
            list-style: none;
            & li {
                text-align: center;
                margin-bottom: 36px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .email a, .phone a {
            display: block;
            font-size: 16px;
            line-height: 0.81;
            color: @color2;
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 14px;
                height: 12px;
                margin-right: 12px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .email {
            margin-bottom: 36px;
            a {
                &::before {
                    background-image: url(../images/svg/ficon-mail.svg);
                }
            }
        }
        .phone a {
            &:first-of-type::before {
                background-image: url(../images/svg/ficon-phone.svg);
            }
            &:nth-of-type(n+2) {
                margin-top: 20px;
            }
        }
        .social {
            & a {
                display: inline-block;
                width: 14px;
                height: 14px;
                background-size: contain;
            }
            & .fb {
                margin-right: 36px;
                background: url(../images/svg/ficon-fb.svg) no-repeat;
            }
            & .instagram {
                background: url(../images/svg/ficon-insta.svg) no-repeat;
            }
        }
    }
    &__content {
        padding: 0 58px;
    }
    &__nav {
        ul {
        margin: 0;
        padding: 0;
        list-style: none;
            li {
                margin-top: 24px;
                text-align: center;
                &:first-of-type {
                    margin-top: 0;
                }
                a {
                    font-size: 13px;
                    color: #fff;
                }
                &.footer__privacy-policy {
                    margin-top: 36px;
                    & a {
                        color: @color2;
                    }
                }
            }
        }
    }
    &__subscription {
        & p {
            font-size: 15px;
            color: @color2;
        }
        & form {
            display: flex;
            & input[type='email'] {
                flex-grow: 1;
                padding: 10px 16px;
                font-size: 13px;
                line-height: 1.85;
                color: @color2;
                background-color: @color1;
                border: 1px solid @color2;
                border-radius: 3px 0 0 3px;
                &::placeholder {
                    color: @color2;
                }
            }
            & input[type='submit'] {
                padding: 14px 32px;
                font-size: 14px;
                text-transform: uppercase;
                color: #c67335;
                background-color: @color2;
                border: 1px solid @color2;
                border-radius: 0 3px 3px 0;
                cursor: pointer;
            }
        }
    }
    &__rights {
        padding: 7px 45px 10px;
        margin: 0;
        font-size: 12px;
        line-height: 1.92;
        color: #fff;
        background-color: #ac292e;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        background-position: 0 92%;
        background-size: 165%;
        &__container {
            padding-right: 20px;
            padding-left: 20px;
        }
        &__info {
            display: flex;
            align-items: flex-start;
            margin-bottom: 52px;
        }
        &__logo {
            padding-right: 25px;
            margin-bottom: 0;
            flex: 0 0 50%;
        }
        &__contacts {
            margin-bottom: 0;
            & ul {
                & li {
                    text-align: left;
                } 
            }
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
        }
        &__nav {
            & ul {
                & li {
                    text-align: left;
                }
            } 
        }
        &__form {
            flex: 0 0 50%;
        }
        &__subscription {
            flex: 0 0 100%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        background-position: 0 84%;
        background-size: 130%;
        &__container {
            display: flex;
            padding: 36px 26px 25px;
        }
        &__info {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 0;
        }
        &__logo {
            flex-basis: auto;
        }
        &__content {
            flex: 0 0 55%;
            padding-left: 35px;
        }
        &__form {
            flex-basis: 58%;
        }
    }
}
@media screen and (min-width: 1440px) {
    .footer {
        background-position: 0 58%;
        background-size: 100%;
        &__container {
            justify-content: flex-end;
        }
        &__info {
            align-items: center;
        }
        &__form {
            flex-basis: 60%;
        }
        &__subscription {
            display: flex;
            align-items: center;
            & p {
                margin-right: 24px;
            }
            & form {
                flex-grow: 1;
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .footer {
        &__container {
            justify-content: space-between;
            width: 65%;
            padding: 60px 0 36px;
            margin: 0 auto;
        }
        &__content {
            flex-basis: 60%;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .footer {
        background-image: url(../images/required/back@2x.png);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .footer {
        background-image: url(../images/required/back@3x.png);
    }
}