// Main form
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: fade(@color1, 78%);
    background-image: linear-gradient(to bottom, rgba(182, 133, 103, 0.78), rgba(182, 133, 103, 0.78)),
    url(../images/required/bg.jpg);
    .bg-img();
    .section__title {
        margin-bottom: 36px;
        font-size: 73px;
        line-height: 0.67;
        color: @color2;
    }
    &__wrap {
        width: 85%;
        padding: 26px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 1.61;
        background-color: fade(@color2, 20%);
        border: 1px solid @color2;
        border-radius: 3px;
    }
    &__text {
        margin-bottom: 16px;
        font-size: 18px;
        text-align: center;
        line-height: 1.28;
        color: #fff;
        span {
            display: inline-block;
            margin-left: 12px;
            text-align: center;
            color: @mainColor;
        }
    }
    &__desc {
        margin: 12px;
        font-size: 15px;
        text-align: center;
        line-height: 1.87;
        color: @color7;
    }
    &__content {
        &.form-feedback {
            padding: 0;
            input[type="submit"] {
                padding: 36px;
            }
            label.label-select {
                display: block;
                font-size: 13px;
                line-height: 1.62;
                letter-spacing: -0.24px;
                color: @color2;
            }
            input[type="checkbox"]+label {
                &::before {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        select {
            display: block;
            width: 100%;
            padding: 16px;
            font-size: 13px;
            line-height: 1.62;
            letter-spacing: -0.2px;
            color: @color1;
            background-color: @color2;
            border: none;
            border-radius: 3px;
        }
    }
}

// Form for comments
.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
        position: relative;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.34;
        color: @color6;

        &::after {
            .icon-after();
            top: unset;
            bottom: 0;
            background-image: url(../images/svg/testimonial.svg);
        }
    }

    &__subtitle {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 1.89;
        color: @color6;
    }

    & div {
        position: relative;
        margin-bottom: 10px;

        &:nth-of-type(-n+2) {
            flex: 0 0 48%;
        }

        &:nth-of-type(n+3) {
            flex: 0 0 100%;
        }
    }

    & input:not([type="submit"]),
    textarea {
        display: block;
        width: 100%;
        padding: 10px 16px;
        font-size: 13px;
        line-height: 1.85;
        color: @color2;
        background-color: @color1;
        border: none;
        border-radius: 3px;

        &::placeholder {
            color: @color2;
        }
    }

    & label {
        position: relative;
        font-size: 12px;
        line-height: 1.92;
        color: @color1;
    }

    & input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        filter: opacity(0);

        &+label {
            padding-left: 22px;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                width: 14px;
                height: 14px;
                border-radius: 3px;
                border: 1px solid @color1;
            }
        }

        &:checked+label::before {
            background: url(../images/svg/form_contacts_checked.svg) no-repeat;
            background-position: center;
            background-size: contain;
            border-color: transparent;
        }
    }

    & textarea {
        resize: none;
    }

    & input[type="submit"] {
        width: 100%;
        padding: 18px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: @color4;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
            0 2px 4px 0 rgba(99, 71, 77, 0.2);
    }
}

@media screen and (min-width: 768px) {
    .comment-form {
        & div:last-of-type {
            flex-basis: auto;
        }

        input[type="submit"] {
            flex: 0 0 298px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .form {
        &__wrap {
            width: 825px;
            padding: 28px 0 36px;
        }
        &__content {
            width: 408px;
            margin: 0 auto;
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
            }
            div {
                flex: 0 0 100%;
                &:nth-of-type(-n+2) {
                    flex-basis: 48%;
                }
            }
        }
    }
    .comment-form {
        & div {
            margin-bottom: 16px;
        }
    }
}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1920px) {}