.form-feedback {
    padding: 36px 0;
    & p {
        margin: 0 0 12px;
        font-size: 15px;
        text-align: center;
        color: @color2;
    }
    & div {
        position: relative;
        margin-bottom: 10px;
    }
    & input:not([type="submit"]),
    textarea {
        display: block;
        width: 100%;
        padding: 16px;
        font-size: 13px;
        line-height: 1.62;
        letter-spacing: -0.2px;
        color: @color1;
        background-color: @color2;
        border: none;
        border-radius: 3px;
        &::placeholder {
            color: @color1;
        }
    }
    & label {
        position: relative;
        font-size: 12px;
        line-height: 1.92;
        color: #fff;
    }
    & input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        filter: opacity(0);
        &+label {
            padding-left: 22px;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                content: '';
                width: 14px;
                height: 14px;
                border-radius: 3px;
                border: 1px solid #ffdec7;
            }
        }
        &:checked+label::before {
            background: url(../images/svg/form_footer_checked.svg) no-repeat;
            background-position: center;
            background-size: contain;
            border-color: transparent;
        }
    }

    & textarea {
        resize: none;
        &::placeholder {
            transform: translateY(300%);
        }
    }
    & input[type="submit"] {
        width: 100%;
        padding: 18px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background-color: @color4;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: 0 0 14px 0 rgba(99, 71, 77, 0.2),
         0 2px 4px 0 rgba(99, 71, 77, 0.2);
    }
}

@media screen and (min-width: 768px) {
    .form-feedback {
        padding: 0 0 60px;
        & p {
            text-align: left;
        }
    }
}
@media screen and (min-width: 1440px) {
    .form-feedback {
        & form {
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           align-items: flex-start;
        }
        & div {
            flex: 0 0 100%;
            &:nth-of-type(-n+2) {
                flex-basis: 48%;
            }
        }
    }
}