.founder-block {
  padding: 0 24px 30px 94px;
  & .section__title {
    margin-bottom: 56px;
    text-align: left;
    color: @color2;
  }

  &__image {
    display: block;
    max-width: 100%;
    width: 388px;
    height: auto;
    margin-right: 42px;
    box-shadow: @imgShadow;
    position: relative;
    top: -50px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 1.34;
    color: #fff;
  }
  &__text {
    margin: 0 0 60px;
    font-size: 15px;
    line-height: 1.87;
    color: rgba(255, 255, 255, 0.87);
  }
}

@media screen and (min-width: 768px) {
  .founder-block {
    display: flex;
    align-items: flex-start;
    padding: 72px 20px 0;

    & .section__title {
      margin-bottom: 36px;
    }

    &__image {
      width: 365px;
      top: -110px;
    }

    & .section__title {
      margin-bottom: 36px;
    }

    & .founder-block__text {
      margin-bottom: 36px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .founder-block {
    padding: 60px 26px 0;

    &__image {
      width: 388px;
    }

    & .section__title {
      margin-bottom: 56px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .founder-block {
    max-width: 1070px;
    padding: 60px 0 10px;
    margin: 0 auto;
  }
}
