.header {
  width: 100%;
  max-width: 1920px;
  padding-top: 16px;
  padding-right: 5%;
  padding-left: 2.5%;
  padding-bottom: 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 2.5%;
  z-index: 100;
  transition: 0.2s ease;

  &.scroll {
    // position: fixed;
    box-shadow: 0 2px 14px 0 rgba(234, 155, 103, 0.3);
    background-color: @color2;
    top: 0;
  }

  &__logo {
    //width: 429px;
    height: 73px;
    position: relative;
    display: flex;
    align-items: center;

    &__image {
      margin-right: 10px;

      svg {
        position: relative;
        width: 73px;
        height: 73px;
        transition: transform ease;

        .logo-image-circle {
          transform-origin: center center;
        }
      }
    }

    &__text {
      font-family: @otherFont;
      color: @mainColor;
      font-size: 36px;
      line-height: 1;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &-mobmenu {
    display: none;
    padding: 62px 24px;
    visibility: hidden;
    transform: translateX(100vw);
    transition: all .3s ease;
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 102;
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: #fef5f5;
      background-image: url(../images/required/slogan-back.svg);
      background-size: cover;
      visibility: visible;
      transform: translateX(0);
    }
    &__btn {
      width: 40px;
      height: 20px;
      background-color: transparent;
      background-image: url(../images/svg/menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      cursor: pointer;
      transition: all .2s ease-out;

      &.active {
        position: absolute;
        top: 62px;
        right: 24px;
        z-index: 103;
        background-image: url(../images/svg/menu_close.svg);
        transform: translateY(50%);
      }
    }
    &__logo {
      display: block;
      width: 278px;
      height: 73px;
      margin-bottom: 74px;
      background-image: url(../images/svg/logo.svg);
      background-size: cover;
    }
    & ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        text-align: center;
        &:nth-last-of-type(n+2) {
          margin-bottom: 36px;
        }
        a {
          font-size: 18px;
          color: @mainColor;
          &:hover {
            font-weight: 500;
            border-bottom: 1px solid @mainColor;
          }
        }
      }
    }
  }

  &__contacts {
    flex: 0 0 100%;
    order: -1;
    margin-bottom: 25px;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        margin-right: 40px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: @color1;
          display: inline-block;
        }
      }
    }

    .email {
      a {
        &:before {
          content: '';
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-right: 12px;
          background: url(../images/svg/icon-mail.svg) no-repeat;
          background-size: contain;
        }
      }

    }

    .phone {
      a {
        &:before {
          content: '';
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-right: 12px;
          background: url(../images/svg/icon-phone.svg) no-repeat;
          background-size: contain;
        }
      }
    }

    .fb {
      width: 12px;
      height: 12px;
      background: url(../images/svg/icon-fb.svg) no-repeat;
      background-size: contain;

      a {
        width: 100%;
        height: 100%;
      }
    }

    .instagram {
      width: 12px;
      height: 12px;
      background: url(../images/svg/icon-insta.svg) no-repeat;
      background-size: contain;

      a {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__nav {
    display: none;
    visibility: hidden;
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        margin-right: 50px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: @mainColor;
          &:hover {
            font-weight: 500;
            border-bottom: 1px solid @mainColor;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .header {
    &__logo {
      margin-bottom: 26px;
    }
    &-mobmenu {
      display: none;
      visibility: hidden;
      &__btn {
        display: none;
        visibility: hidden;
      }
    }
    &__contacts {
      order: 0;
      flex-basis: 44%;
      ul {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        li.phone {
          order: 1;
          margin-top: 18px;
        }
      }
    }
    &__nav {
      flex: 0 0 100%;
      display: block;
      text-align: center;
      visibility: visible;
    }
  }
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: column;
    align-content: space-between;
    align-items: flex-end;
    max-height: 105px;
    &__logo {
      flex: 0 0 100%;
      margin-bottom: 0;
    }
    &__contacts {
      flex-basis: auto;
      margin-bottom: 36px;
      ul {
        display: block;
        li.phone {
          margin-top: 0;
        }
      }
    }
    &__nav {
      flex-basis: auto;
      text-align: right;
    }
  }
}
@media screen and (min-width: 1440px) {
  .header {
    align-items: unset;
    max-height: 136px;
    &__logo {
      height: 104px;
      svg {
        width: 104px;
        height: 104px;
      }
      &__text {
        font-size: 46px;
      }
    }
    &__contacts {
      padding-top: 14px;
      margin-bottom: 38px;
      ul {
        text-align: right;
      }
    }
  }
}
