.section-news {
    padding-top: 120px;
    background-color: @color3;

    & .section__title {
        margin-bottom: 76px;
        color: @color2;
    }

    &__btn {
        display: block;
        padding: 24px 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
}

.news-block {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        position: relative;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid @color3;
        &:nth-of-type(n+3) {
            display: none;
        }

        & img {
            display: block;
            max-width: 100%;
            height: auto;
        }

    }
    &__content {
        padding: 16px;
    }

    &__slag {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 8px 18px;
        font-size: 12px;
        text-transform: uppercase;
        color: @color2;
        background-color: @color1;
    }

    &__desc {
        display: -webkit-box;
        max-height: calc(18px * 1.33 * 2);
        margin: 0 0 6px;
        font-size: 18px;
        line-height: 1.33;
        color: @color6;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__date {
        margin: 0;
        font-size: 12px;
        line-height: 1.92;
        color: @color4;
    }
}

@media screen and (min-width: 768px) {
    .news-block {
        display: flex;
        flex-wrap: wrap;
        &__item {
            flex-basis: 50%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .news-block {
        &__item {
            flex-basis: 100%/3;
            &:nth-of-type(n+3) {
                display: block;
            }
        }
        &__desc {
            font-size: 15px;
            line-height: 1.6;
        }
    }
}