.section-offer {
  padding: 80px 24px 36px;
  background-color: rgba(255, 236, 188, 0.2);
  background: linear-gradient(to top, rgba(182, 133, 103, 0.78) 0%, rgba(182, 133, 103, 0.78) 100%),
  url(../images/required/bg.jpg);
  .bg-img();
  background-position: top center;
  background-attachment: fixed;

  & .section__title {
    margin-bottom: 36px;
    font-size: 73px;
    line-height: .67;
    color: @color2;

  }
  & .section__subtitle {
    margin: 0 0 24px;
    font-size: 15px;
    line-height: 1.87;
    text-align: center;
    color: #fff;
  }
}

.offer-block {
  padding: 36px;
  text-align: center;
  border: 1px solid @color2;
  border-radius: 3px;

  & p {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1.28;
    color: @color2;
  }

  & div {
    margin-bottom: 16px;
  }

  & a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.28;
    color: @mainColor;
  }

  & span {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 1.87;
    color: #fff;
  }

  & button {
    display: block;
    padding: 30px 46px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
    color: @mainColor;
    background-color: @color2;
    border: 1px solid transparent;
    border-radius: 3px;
    &:hover {
      color: @color2;
      background-color: @mainColor;
    }
  }
}

@media screen and (min-width: 768px) {
  .section-offer {
    padding: 80px 20px 70px;
  }

  .offer-block {
    width: auto;
    & p {
      display: inline-block;
      margin: 0 8px 16px 0;
    }
    & div {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .section-offer {
    padding-right: 0;
    padding-left: 0;
  }

  .offer-block {
    width: 825px;
    margin: 0 auto;
  }
}
