.section-progress {
    padding: 62px 24px 60px;
    background-color: rgba(209, 187, 145, 0.66);
    background-image: linear-gradient(to top, rgba(255, 236, 188, 0.6) 0%, rgba(60, 27, 5, 0.16) 100%),
        url(../images/example/programs-slide-2.jpg);
    .bg-img();

    & .section__title {
        margin-bottom: 60px;
        font-size: 73px;
        line-height: 49px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        & li {
            position: relative;
            width: 360px;
            padding-top: 110px;
            margin: 0 auto 60px;
            font-size: 21px;
            line-height: 33px;
            color: #fff;

            &:last-of-type {
                margin-bottom: 0;
            }

            & p {
                margin: 0;
                text-align: center;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    display: block;
                    content: '';
                    margin: 0 auto;
                    width: 104px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transform: translateX(-50%);
                }
            }

            &:nth-of-type(1) p::before {
                background-image: url(../images/svg/benefits-1.svg);
            }

            &:nth-of-type(2) p::before {
                background-image: url(../images/svg/benefits-2.svg);
            }

            &:nth-of-type(3) p::before {
                background-image: url(../images/svg/benefits-3.svg);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section-progress {
        padding: 62px 34px 90px;
    }
}
@media screen and (min-width: 1024px) {
    .section-progress {
        padding: 62px 26px;

        &__list {
            display: flex;
            justify-content: space-between;

            & li {
                flex: 0 0 30%;
                width: auto;
                margin: 0;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .section-progress {
        padding: 108px 60px 82px;

        & li {
            flex-basis: 360px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .section-progress {
        padding-right: 140px;
        padding-left: 140px;
    }
}
