.tabs {
    background-color: @color2;
    &__wrapper {
        position: relative;
    }
    &__header {
        padding: 60px 20px 36px;

        & .section__title {
            text-align: left;
        }
    }

    &__buttons {
        position: relative;
        z-index: 22;
        text-align: right;

        & button {
            width: 40px;
            height: 32px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .button();
            &:nth-of-type(2) {
                margin-left: 26px;
            }
            &.active {
                width: 60px;
                height: 60px;
            }
        }

        & .list-btn {
            background-image: url(../images/svg/list_calm.svg);
            visibility: hidden;

            &.active {
                background-image: url(../images/svg/list_hover.svg);
            }
        }

        & .grid-btn {
            visibility: hidden;
        }

        & .grid-btn,
        & .calendar-btn {
            background-image: url(../images/svg/grid_calm.svg);

            &.active {
                background-image: url(../images/svg/grid_hover.svg);
            }
        }
    }

    &-block {
        & ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
            }
        }
        &__nav {
            overflow: hidden;
        }
        &__inner {
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                display: block;
                content: '';
                width: 160px;
                height: 100%;
                background-image: linear-gradient(to left, #ffecbc, #ffecbc 16%, rgba(255, 236, 188, 0));
            }
        }
        &__list {
            display: flex;
            align-items: center;
            overflow-x: auto;

            li {
                padding: 32px 30px;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                text-transform: uppercase;
                white-space: nowrap;
                color: @mainColor;
                cursor: pointer;

                &.active {
                    color: #fff;
                    background-color: @color4;
                }
            }
        }

        &__filter {
            padding: 16px 30px;
            margin-top: -1px;
            background-color: @color4;

            & .filter-type {
                margin-right: -24px;
                margin-bottom: -24px;

                li {
                    display: inline-block;
                    padding: 12px;
                    margin-right: 24px;
                    margin-bottom: 24px;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    color: @color1;
                    background-color: @color2;
                }
            }

            & .filter-person {
                margin-top: 36px;

                li {
                    display: inline-block;
                    margin-right: 24px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: @color2;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &-list {
        display: none;

        &.active {
            display: block;
        }

        &__tab {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            visibility: hidden;

            &.active {
                position: relative;
                z-index: 20;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-grid {
        display: none;
        &.active {
            display: block;
        }
        &__tab {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 10;
            opacity: 0;
            visibility: hidden;

            &.active {
                position: relative;
                z-index: 20;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .tabs {
        &__header {
            & .section__title {
                font-size: 95px
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .tabs {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 58px 5% 58px 60px;

            .section__title {
                margin-bottom: 0;
            }
        }

        &__buttons {
            display: flex;
            align-items: center;

            & .calendar-btn {
                display: none;
                visibility: hidden;
            }

            & .grid-btn,
            & .list-btn {
                visibility: visible;
            }
        }

        &-block {
            &__list {
                &::after {
                    display: none;
                }

                li {
                    padding: 26px 26px 36px;
                    font-size: 16px;
                }
            }

            &__filter {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 25px 26px 24px;

                & .filter-type {
                    flex: 0 0 55%;
                    margin-right: -16px;
                    margin-bottom: -16px;

                    li {
                        padding: 8px;
                        margin-right: 16px;
                        margin-bottom: 16px;
                        font-size: 12px;
                    }
                }

                & .filter-person {
                    margin-top: 0;
                }

            }
        }

    }
}

@media screen and (min-width: 1440px) {
    .tabs {
        &-block {
            &__list {
                li {
                    padding: 34px 40px;
                    font-size: 18px;
                }
            }

            &__filter {
                align-items: center;
                padding-right: 5%;
                padding-left: 36px;

                .filter-type {
                    flex-basis: auto;
                    margin: 0;

                    li {
                        padding: 12px;
                        margin: 0 24px 0 0;
                        font-size: 14px;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .tabs {
        &-block {
            &__list {
                li {
                    padding: 34px 82px;
                }
            }
        }
    }
}