.section-team {
    background-color: @color3;
    & .section__title {
        color: @color2;
    }
    &__link {
        position: relative;
        display: block;
        padding-left: 32px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: @color2;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 16px;
            height: 12px;
            background: url(../images/svg/link_arrow_hover.svg) no-repeat;
            background-size: contain;
            transform: translateY(50%);
        }
    }
}

.team-block {
    position: relative;
    width: 100%;
    overflow: hidden;

    & .section__title {
        font-size: 73px;
    }
    &__container {
        background-color: @color2;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        width: ~'calc(100% - 60px)'!important;
        margin-right: 60px;
        padding: 32px 50px;
        background-color: @color2;
        & a {
            display: none;
        }

        & img {
            float: left;
            display: block;
            max-width: 100%;
            width: 36%;
            height: auto;
            transform: translate(-36px, -36px);
        }

        & .line-separation:first-of-type {
            width: ~'calc(100% - 180px)';
            margin: 24px  0  24px auto;
        }
    }

    &__content {
        position: relative;
        border: 1px solid transparent;
        &::after {
            .icon-after();
            background-image: url(../images/svg/aromatherapy-2.svg);
        }
    }

    &__title {
        margin: 0 0 8px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        color: @color6;
    }

    &__subtitle {
        margin: 0;
        font-size: 12px;
        line-height: 1.92;
        color: @color4;
    }

    & .line-separation {
        display: none;
        margin-top: 90px;
    }

    &__desc {
        display: none;
        margin: 0;
        font-size: 13px;
        line-height: 2.15;
        color: @color2;
        &-last {
            margin-bottom: 74px;
        }
    }
    
    &__excerpt {
        position: relative;
        display: none;
        max-height: calc(15px * 28px * 3);
        margin: 0;
        font-size: 15px;
        line-height: 1.87;
        color: rgba(255, 255, 255, 0.87);
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__nav {
        position: absolute;
        bottom: 24px;
        right: 0;
        z-index: 1;
        display: flex;
    }
    &__btn {
        display: block;
        width: 60px;
        height: 60px;
        .button();
        svg {
            width: 16px;
        }
        &-prev {
            svg {
                fill: @color2;
            }
            &:hover {
                background-color: @color2;
                svg {
                    fill: @color4;
                }
            }
        }
        &-next {
            svg {
                fill: @color4;
            }
            &:hover {
                background-color: @color4;

                svg {
                    fill: @color2;
                }
            }
        }
    }
}

.team-block__item.swiper-slide-active {
    padding: 60px 36px 44px;
    background-color: @color4;
    & img {
        width: 180px;
        height: 248px;
        transform: translate(-36px, -60px);
    }
    & .team-block__title {
        font-size: 32px;
        line-height: 1.34;
        color: #fff;
    }

    & .team-block__subtitle {
        color: @color2;
    }

    & .team-block__desc {
        display: block;
    }
    & .team-block__excerpt {
        display: block;
    }

    & .line-separation {
        display: block;
    }

    & .section-team__link {
        display: -webkit-box;
    }
    .team-block__inner {
        position: relative;

        &::before,
        &::after {
            position: absolute;
            display: block;
            content: ',,';
            font-family: @quoteFont;
            font-size: 135px;
            color: @color3;
            opacity: .4;
        }

        &::before {
            top: -100%;
            left: 0;
            transform: rotate(180deg);
        }

        &::after {
            right: 0;
            bottom: -100%;
        }
    }
}


@media screen and (min-width: 768px) {
    .team-block {
        &__item {
            img {
                float: none;
            }
            .line-separation:first-of-type {
                width: 100%;
            }
        }
        &__content {
            flex: 0 0~'calc(100% - 304px)';
        }
        &__desc {
            &-last {
                margin-bottom: 68px;
            }
        }
        & .line-separation {
            flex: 0 0 100%;
            margin-top: 0;
        }
    }
    .team-block__item.swiper-slide-active {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 304px;
            height: 418px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .team-block {
        &__item {
            width: 32% !important;
            margin-right: 0;
            img {
                width: 220px;
                height: 302px;
                margin-bottom: 32px;
                transform: none;
            }
        }
        &__title {
            margin-bottom: 12px;
        }
        &__nav {
            right:~'calc(32% - 60px)';
        }
    }
    .team-block__item.swiper-slide-active {
        width: 68% !important;
        &:nth-of-type(n+2) {
            margin-left: 68%;
        }
        img {
            float: left;
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 1440px) {
    .team-block {
        &__title {
            font-size: 32px;
        }
        &__content {
           flex-basis:~'calc(100% - 392px)';
        }
        &__desc {
            &-last {
                margin-bottom: 60px;
            }
        }
        & .line-separation {
            flex-basis:~'calc(100% - 392px)';
            margin-top: 90px;
        }
    }
    .team-block__item.swiper-slide-active {
        position: relative;
        display: block;
        height: 538px;
        padding-left: 428px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 392px;
            height: 538px;
            transform: none;
        }
    }
}