.section-testimonial {
    padding-top: 60px;
    background-color: #fef5f5;
    background-image: url(../images/required/back-layout.svg);
    & .section__title {
        margin-bottom: 60px;
    }
}

.comment-block {
    position: relative;
    padding: 36px 24px 132px;
    background-color: @color2;
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        background-color: @color2;
        border-bottom: 1px solid @color4;
        filter: opacity(0);
        &.swiper-slide-active {
            filter: opacity(1);
        }
    }
    &__heading {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 0 36px;

        &::after {
            .icon-after();
            background-image: url(../images/svg/testimonial.svg);
        }

        & img {
            display: block;
            width: 120px;
            height: 120px;
            border: 5px solid @color4;
            border-radius: 50%;
        }

        & div {
            padding-left: 36px;
            color: @color4;

            & p {
                margin: 0 0 8px;
                font-size: 32px;
                line-height: 42px;
            }

            & span {
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 23px;
            }
        }
    }
    &__content {
        padding-bottom: 36px;
        & p {
            font-size: 15px;
            line-height: 28px;
            color: @color6;
        }
    }
    &__nav {
        position: absolute;
        bottom: 36px;
        left: 24px;
        z-index: 1;
        display: flex;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: none;
        & svg {
            width: 10px;
            height: 16px;
            fill: @mainColor;
        }
        &:hover {
            background-color: @mainColor;
            & svg {
                fill: @color2;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section-testimonial {
        padding: 60px 20px 0;
    }
    .comment-block {
        padding: 42px 60px 136px;
        &__content {
            padding-bottom: 28px;
        }
        &__nav {
            bottom: 40px;
            left: 60px;   
        }
    }
}
@media screen and (min-width: 1024px) {
    .section-testimonial {
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 26px;
        & .section__title {
            transform: translateY(120px)
        }
    }
    .comment-block {
        flex: 0 0 68%;
        margin: 0;
        transform: translateY(60px);
    }
}
@media screen and (min-width: 1440px) {
    .section-testimonial {
        padding-left: 10%;
    }
    .comment-block {
        padding-right: 60px;
         &__content {
            padding-right: 140px;
         }
    }
}
@media screen and (min-width: 1920px) {
    .comment-block {
        flex-basis: 1280px;
        padding-right: 380px;
    }
}