@font-face {
  font-family: 'MarkizDeSad';
  src: url('../fonts/MarkizDeSadScript.woff') format('woff'),
  url('../fonts/MarkizDeSadScript.woff2'),
  url('../fonts/MarkizDeSadScript.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'AppleChancery';
  src: url('../fonts/AppleChancery.woff2') format('woff2'),
    url('../fonts/AppleChancery.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-300.woff') format('woff'),
//  url('../fonts/MuseoSans-300.woff2'),
//  url('../fonts/MuseoSans-300.otf');
//  font-style: normal;
//  font-weight: 300;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-500.woff') format('woff'),
//  url('../fonts/MuseoSans-500.woff2'),
//  url('../fonts/MuseoSans-500.otf');
//  font-style: normal;
//  font-weight: 500;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-700.woff') format('woff'),
//  url('../fonts/MuseoSans-700.woff2'),
//  url('../fonts/MuseoSans-700.otf');
//  font-style: normal;
//  font-weight: 700;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-900.woff') format('woff'),
//  url('../fonts/MuseoSans-900.woff2'),
//  url('../fonts/MuseoSans-900.otf');
//  font-style: normal;
//  font-weight: 900;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-100Italic.woff') format('woff'),
//  url('../fonts/MuseoSans-100Italic.woff2'),
//  url('../fonts/MuseoSans-100Italic.otf');
//  font-style: italic;
//  font-weight: 100;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-300Italic.woff') format('woff'),
//  url('../fonts/MuseoSans-300Italic.woff2'),
//  url('../fonts/MuseoSans-300Italic.otf');
//  font-style: italic;
//  font-weight: 300;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-500Italic.woff') format('woff'),
//  url('../fonts/MuseoSans-500Italic.woff2'),
//  url('../fonts/MuseoSans-500Italic.otf');
//  font-style: italic;
//  font-weight: 500;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-700Italic.woff') format('woff'),
//  url('../fonts/MuseoSans-700Italic.woff2'),
//  url('../fonts/MuseoSans-700Italic.otf');
//  font-style: italic;
//  font-weight: 700;
//}
//
//@font-face {
//  font-family: 'Museo Sans';
//  src: url('../fonts/MuseoSans-900Italic.woff') format('woff'),
//  url('../fonts/MuseoSans-900Italic.woff2'),
//  url('../fonts/MuseoSans-900Italic.otf');
//  font-style: italic;
//  font-weight: 900;
//}
