@font-family: 'Roboto', sans-serif;
@text: rgba(0, 0, 0, 0.87);

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box
  }
}

body {
  font-size: 10px;
  font-family: @font-family;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: @text;
  line-height: normal;
}

body.fix {
  overflow: hidden;
  position: relative;
  height: 100%;
}

html.fix {
  overflow: hidden;
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.4s ease;

  &:hover {
    outline: none;
    text-decoration: none;
  }

  &:active {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  cursor: pointer;
}

.main-wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  height: auto;
  width: 100%;
}

button {
  font-family: @font-family;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

mark {
  background-color: transparent;
  color: @mainColor;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.section__title {
  padding: 0;
  margin: 0;
  font-family: @otherFont;
  font-size: 85px;
  font-weight: 400;
  line-height: .75;
  text-align: center;
  color: @mainColor;

  @media screen and (max-width: 767px) {
    line-height: .92;
  }
}

.line-separation {
  margin: 22px 0;
  height: 1px;
  background-color: @color2;
}