.icon-after() {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: '';
    width: 60px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-img() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button() {
    background-color: transparent;
    border: none;
    cursor: pointer;
}