@otherFont: 'MarkizDeSad', sans-serif;
@quoteFont: 'AppleChancery', sans-serif;
@mainColor: #ca2026;
@color1: #b68567;
@color2: #ffecbc;
@color3: #ea9b67;
@color4: #c35c2f;
@color5: #ffdc7f;
@color6: rgba(0, 0, 0, 0.87);
@color7: rgba(255, 255, 255, 0.87);
@commonTransition: 0.4s ease;
@imgShadow: 0 1px 34px 0 rgba(99, 71, 77, 0.4);