svg(xmlns='http://www.w3.org/2000/svg', width='16', height='11', viewBox='0 0 16 11' fill="currentColor")
    path(fill-rule='nonzero', d='M0 4.444h12.622l-3.2-3.2L10.667 0 16 5.333l-5.333 5.334-1.245-1.245 3.2-3.2H0z')
