svg(width='10px' height='16px' viewBox='0 0 10 16' fill='currentColor' version='1.1')
    g(stroke='none', stroke-width='1', fill-rule='evenodd')
        g(transform='translate(-25.000000, -22.000000)', fill-rule='nonzero')
            g
                g
                    polygon(transform='translate(29.933333, 30.000000) rotate(90.000000) translate(-29.933333, -30.000000) ', points='23.8 25.0666667 29.9333333 31.2000523 36.0666667 25.0666667 37.9333333 26.9333856 29.9333333 34.9333333 21.9333333 26.9333856')

