doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .notfound
            .main-wrap
                .notfound__title 404
                .notfound__content
                    p.notfound__text Извините, такой страницы не существует.
                    .notfound__desc
                        span Надеемся, вы найдете нужную информацию на странице
                        a(href="#") Мероприятия,
                        span или начните с
                        a(href="#") Главной страницы
                        span сайта.
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")