doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .about
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                    .about-banner
                        .about-banner__text
                            p.about-banner__subtitle.wow.fadeInUpSmall.animated(data-wow-delay="0.2s") Школа Совершенства Науки любви — это не только образовательный центр, но и Дом, в который Вы приходите за Собой.
                            p.section__title.wow.fadeInUpSmall.animated(data-wow-delay="0.4s") Авторские техники, которые меняют жизнь к лучшему
                        .about-banner__video.wow.fadeInRightSmall.animated
                            div
                                iframe.js-about-banner-video(width="560" height="315" src="https://www.youtube.com/embed/RgxBQP6FcRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                //- video.js-about-banner-video(controls)  Sorry, your browser doesn't support embedded videos.
                                .about-banner__poster
                                    button.js-about-banner-play
                main
                    include ./partials/components/about-school
                    .about__team
                        include ./partials/components/founder
                        include ./partials/components/team
                    include ./partials/components/progress
                    include ./partials/components/testimonial
                    include ./partials/components/offer
                    include ./partials/components/news
                include ./partials/footer/footer

        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/team.js")
        script(src="js/testimonial.js")
        script(src="js/about.js")
