doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .article
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                    .article-header
                        .article-header__slogan статьи
                        .article-header__title Сексолог Светлана Пашкевич: половое воспитание должны дать ребенку в семье
                        .article-header__date 12.04.2019
                    .article__desc
                        p Интервью для:
                            span Postimees
                        p Журналист:
                            span Виктория Жигулина
                        p Фото:
                            span SANDER ILVEST
                
                main.article__content
                    .article-main
                        .article-main__about
                            p Светлана Пашкевич (Украина) – сексолог, парапсихолог, телесно-ориентированный психотерапевт, мастер международной категории по ВУМ-билдингу, преподаватель Украинской Академии Целительства, президент Школы Совершенства Науки Любви, мама троих детей, любящая и любимая жена. Для тех, кто не смог посетить семинар, Светлана рассказала в интервью нашему порталу немного о себе и своей деятельности.
                            img(src="images/example/master1.jpg", alt="")
                        .article-main__interview
                            p.article-main__title Светлана, расскажите, какие женщины приходят на ваш семинар?
                            p Я точно не могу сказать, местные ли приходят, или кто-то специально приезжает, но моя аудитория очень обширна. Ко мне на семинары приходят и замужние, и незамужние, и подростки, и дети. Самой юной ученице, которая приходила на практикумы, было 16 лет. Самой взрослой ученице – 69 лет. Что касается слушателей модулей, то здесь диапазон еще шире – от самых маленьких внутриутробных слушателей, до женщин в возрасте 86 лет. У нас нет никаких ограничений по возрасту и религии, к нам приходят те женщины, кто резонируют на знания, которые я даю, именно те, которым нужно включить механизмы восприятия себя женщиной. Даже мужчины иногда приходят.
                            p.article-main__subtitle Секс как табу
                            p.article-main__title Давайте поговорим о вас. Как вы стали сексологом?
                            ul
                                li Оргазмическая техника.
                                li Техника благодарения.
                                li Техника укоренения.
                                li Техника постановки желания на нефриты.
                            p Я точно не могу сказать, местные ли приходят, или кто-то специально приезжает, но моя аудитория очень обширна. Ко мне на семинары приходят и замужние, и незамужние, и подростки, и дети. Самой юной ученице, 
                                ins которая приходила на практикумы, было 16 лет.
                            blockquote Я считаю, что  важное  в жизни Женщины - это сделать первый шаг на пути к своему счастью…
                            p Я точно не могу сказать, местные ли приходят, или кто-то специально приезжает, но моя аудитория очень обширна.
                        .article-main__contacts
                            span Поделиться:
                            a.facebook(href="#")
                            a.instagram(href="#")
                            a.telegram(href="#")

                    include ./partials/components/article-testimonial
                    .article-nav
                        button.article-nav__btn.article-nav__btn-prev предыдущая статья
                        button.article-nav__btn все статьи
                        button.article-nav__btn.article-nav__btn-next следующая статья
                    
                    .article-aside
                        .article-aside__title Вам может быть инетерсно
                        include ./partials/components/news
                        .article-aside__gallery.article-gallery
                            .article-gallery__btn
                                div новости
                                div библиотека
                                div школа
                                div статьи
                                div статьи
                            .article-gallery__img
                                img(src="images/example/vidjet.png", alt="")

                include ./partials/footer/footer 
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/article.js")