doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .blog
            .main-wrap
                header.main-header__content
                    include ./partials/header/header

                main
                    .blog__header
                        .section__title Статьи и новости
                        .blog-nav
                            ul.blog-nav__slag
                                li новости
                                li библиотека
                                li школа
                                li статьи
                                li вумбилдинг
                            .select-tag
                                select#select-tags(name="select-tags")
                                    option(value="recent") Сначала самые свежие
                                    option(value="oldest") Сначала самые старые
                                    option(value="commented") Сначала самые комментируемые
                    .blog__content
                        .news-block
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/couple1.jpg", alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/pregnant.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/engagement.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/couple1.jpg", alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/pregnant.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/engagement.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/couple1.jpg", alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/pregnant.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                            .news-block__item
                                .news-block__slag школа
                                img(src="images/example/engagement.jpg" alt="")
                                .news-block__content
                                    p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                                    p.news-block__date 12.09.2019
                        a.blog__btn(href="#") все статьи тут
                                    
                include ./partials/footer/footer 
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/blog.js")