doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .calendar
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                main
                    .calendar__wrapper
                        .calendar__header
                            h2.section__title Календарь мероприятий
                            .calendar__buttons
                                button.list-btn.js-list-btn.active
                                button.grid-btn.js-grid-btn
                                button.calendar-btn.js-calendar-btn
                        .calendar-block
                            .calendar-block__nav.js-calendar-block__tabs
                                .tabs-block__inner
                                    ul.calendar-block__tabs
                                        li(data-tab="ctab-1").active курсы
                                        li(data-tab="ctab-2") Мастер-классы
                                        li(data-tab="ctab-3") фестивали
                                        li(data-tab="ctab-4") семинары
                                        li(data-tab="ctab-5") консультации
                                        li(data-tab="ctab-6") интенсив
                                        li(data-tab="ctab-7") услуги
                                .calendar-block__filter
                                    ul.filter-type
                                        li вумбилдинг
                                        li фелляция
                                        li сексуальное образование
                                        li дополнительные программы
                                    ul.filter-person
                                        li для нее
                                        li для пар
                                        li для всех
                                        li для беременных
                            
                            .calendar-block__content
                                .calendar-list.js-calendar-list.active
                                    .calendar-list__date.js-calendar-list__date Calenadr
                                    .calendar-list__content
                                        .calendar-list__tab.active#ctab-1
                                            div
                                                include ./partials/components/event
                                            div
                                                include ./partials/components/event
                                        .calendar-list__tab#ctab-2
                                            div Мастер-классы
                                        .calendar-list__tab#ctab-3
                                            div фестивали
                                        .calendar-list__tab#ctab-4
                                            div семинары
                                        .calendar-list__tab#ctab-5
                                            div консультации
                                        .calendar-list__tab#ctab-6
                                            div интенсив
                                        .calendar-list__tab#ctab-7
                                            div услуги
                                .calendar-grid.js-calendar-grid
                                    .calendar-grid__tab.ctab-1.active
                                        .calendar-grid__heading
                                            button
                                                include ./partials/elements/left-arrow
                                            .section__title Апрель, 2019
                                            button
                                                include ./partials/elements/right-arrow
                                        table.calendar-grid__table
                                            tr
                                                th Понедльник
                                                th Вторник
                                                th Среда
                                                th Четверг
                                                th Пятница
                                                th Суббота
                                                th Воскресенье
                                            tr
                                                td
                                                    .grid-item
                                                        .grid-item__header
                                                            span 01
                                                            span курсы
                                                            span вумбилдинг
                                                        .grid-item__content
                                                            span.grid-item__slag для нее
                                                            p.grid-item__title Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                            p.grid-item__text Программа глубокого изучения себя и трансформационной работы над собой на всех уровнях.
                                                            .grid-item__info
                                                                span II уровень
                                                                p Продолжительность курса:
                                                                span 4 дня
                                                            .grid-item__btns
                                                                button подробнее
                                                                button записаться
                                                                button.calendar
                                                        span.grid-item__counter +3

                                                td
                                                    .grid-item.grid-item-empty
                                                        .grid-item__header
                                                            span 02
                                                        .grit-item__content
                                                td
                                                    .grid-item.grid-item-inactive
                                                        .grid-item__header
                                                            span 03
                                                            span курсы
                                                            span вумбилдинг
                                                        .grid-item__content
                                                            span.grid-item__slag для нее
                                                            p.grid-item__title Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                            p.grid-item__text Программа глубокого изучения себя и трансформационной работы над собой на всех уровнях.
                                                            .grid-item__info
                                                                span II уровень
                                                                p Продолжительность курса:
                                                                span 4 дня
                                                            .grid-item__btns
                                                                button подробнее
                                                                button записаться
                                                                button C
                                                td
                                                    .grid-item.grid-item-empty
                                                td
                                                    .grid-item.grid-item-empty
                                                td
                                                    .grid-item.grid-item-empty
                                                td
                                                    .grid-item
                                            tr
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                            tr
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                            tr
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                            tr
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                                td
                                                    .grid-item
                                    .calendar-grid__tab.ctab-2
                                        div G Мастер-классы
                                    .calendar-grid__tab.ctab-3
                                        div G фестивали
                                    .calendar-grid__tab.ctab-4
                                        div G семинары
                                    .calendar-grid__tab.ctab-5
                                        div G консультации
                                    .calendar-grid__tab.ctab-6
                                        div G интенсив
                                    .calendar-grid__tab.ctab-7
                                        div G услуги

                    include ./partials/components/progress
                include ./partials/footer/footer 
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/calendar.js")