doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .contact
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                main
                    .contacts
                        .section__title Контакты Школы
                        .contacts__item
                            .contact-block
                                p.contact-block__text Мы на связи каждый день:
                                    span 11:00-20:00
                                .contact-block__content
                                    .contact-block__title Светлана Пашкевич
                                    .contact-block__position Основатель школы, президент школы, мастер
                                    ul.contact-block__links
                                        li.email
                                            a(href="#") sp@loveperfectionschool.com
                                        li.phone
                                            a(href="#") +38 093 522 78 16
                                        li.fb
                                            a(href="#")
                                        li.instagram
                                            a(href="#")
                                .contact-block__content
                                    .contact-block__title Леся Берест
                                    .contact-block__position Мастер школы
                                    ul.contact-block__links
                                        li.email
                                            a(href="#") sp@loveperfectionschool.com
                                        li.phone
                                            a(href="#") +38 093 522 78 16
                                        li.fb
                                            a(href="#")
                                        li.instagram
                                            a(href="#")
                        .contacts__item.contacts__item-address
                            .contact-block
                                .contact-block__address
                                    .contact-block__title Адрес Школы:
                                    .contact-block__desc пр-т. И.Мазепы, 8а, Вышгород, 07301
                                    .contact-block__btn проложить маршрут
                                .contact-block__form
                                    .contact-block__title Напишите нам
                                    form.comment-form(action="#")
                                        div
                                            input(type="text" value="" name="name" placeholder="Ваше Имя")
                                        div
                                            input(type="email" value="" name="email" placeholder="Ваш E-mail")
                                        div
                                            textarea(name="message" rows="4" placeholder="Текст сообщения")
                                        div
                                            input(type="checkbox")
                                            label Вы согласны с политикой конфеденциальности
                                        input(type="submit" value="отправить")
                            .contacts__map#map

                include ./partials/footer/footer

        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/contacts.js")
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA3kwseTmVs0kxzyS3w0bfjds8X8BPG7t8&callback=initMap', async='', defer='')


