doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .form
            .form__wrap
                .section__title Стань земной Богиней
                .form__text Запись по номеру
                    span +38 0ХХ ХХХ-ХХ-ХХ
                .form__desc или запишитесь онлайн:
                .form__content.form-feedback
                    form(action="#")
                        div
                            label.label-select Ближайшая дата консультации
                            select#date(name="date")
                                option(value="1") 24.05.2019
                                option(value="2") 28.05.2019
                        div
                            label.label-select Выберите время
                            select#time(name="time")
                                option(value="1") 16:00
                                option(value="2") 18:00
                        div
                            input(type="text" value="" name="name" placeholder="Как вас зовут?")
                        div
                            input(type="email" value="" name="email" placeholder="E-mail для связи")
                        div
                            input(type="text" value="" name="tel" placeholder="Контактный номер телефона")
                        div
                            input(type="checkbox")
                            label Вы согласны с политикой конфеденциальности
                        input(type="submit" value="отправить")

        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")