doctype html
html(lang="en")
    include ./partials/head/head
    body
        .main
            .main-wrap
                .main-header__content
                    include ./partials/header/header
                    .main-header__content__image(style="background-image: url('images/required/main-bg.jpg')")
                        //img(src="images/required/main-bg.jpg")
                    .head-slider__container
                        .head-slider.js-head-slider.swiper-container
                            .swiper-wrapper
                                .swiper-slide.head-slider__slide
                                    .head-slider__tags
                                        ul
                                            li
                                                a(href="#") Семинар
                                            li
                                                a(href="#") Сексуальное образование
                                            li
                                                a(href="#") Для нее
                                    .head-slider__title Мистический путь к оргазму
                                    .head-slider__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
                                    .head-slider__descr Продолжительность курса: <mark> 2 недели </mark>
                                    button.head-slider__btn Подробнее о программе
                                .swiper-slide
                                    .head-slider__tags
                                        ul
                                            li
                                                a(href="#") Тест
                                            li
                                                a(href="#") Тест тест
                                    .head-slider__title Lorem ipsum
                                    .head-slider__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
                                    .head-slider__descr Продолжительность курса: <mark> 10 недели </mark>
                                    button.head-slider__btn Подробнее о программе
                            .swiper-pagination.js-head-slider-pagination
                include ./partials/components/programs-slider
                .slogan
                    .slogan__content
                        .slogan__title.wow.fadeInUpSmall.animated(data-wow-delay="0.2s") Школа Совершенства Науки Любви - это образовательный центр,
                        .slogan__text.wow.fadeInUpSmall.animated(data-wow-delay="0.4s") в котором представлены все интересующие Мужчину и Женщину курсы для становления интимного здоровья и гармонизации сексуальных отношений
                        .slogan__other.wow.fadeInUpSmall.animated(data-wow-delay="0.6s") Дом, в который вы приходите за собой
                .events
                    .events__list
                        .events__list__title Наши мероприятия
                        .events__list__tabs.js-events-list-tabs.swiper-container
                            ul.swiper-wrapper
                                li.swiper-slide(data-tab="tab-1").active курсы
                                li.swiper-slide(data-tab="tab-3") фестивали
                                li.swiper-slide(data-tab="tab-2") Мастер-классы
                                li.swiper-slide(data-tab="tab-4") семинары
                                li.swiper-slide(data-tab="tab-5") консультации
                                li.swiper-slide(data-tab="tab-6") интенсив
                                li.swiper-slide(data-tab="tab-7") услуги
                        .events__list__tabs-content
                            .tab-content#tab-1.active
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            .events__list__slide
                                                .events__list__slide__image
                                                    img(src="images/example/event-image.jpg")
                                                .events__list__slide__overlay
                                                .events__list__slide__content
                                                    .events__list__slide__tag
                                                        ul
                                                            li
                                                                a(href="#").active сексуальное образование
                                                            li
                                                                a(href="#") для нее
                                                    .events__list__slide__title Сила интеллекта и мистика сексуальности: где мост между мирами?
                                                    .events__list__slide__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
                                                    .events__list__slide__btn
                                                        a(href="#") подробнее
                                                        button записаться

                                        .swiper-slide
                                            .events__list__slide
                                                .events__list__slide__image
                                                    img(src="images/example/event-image2.jpg")
                                                .events__list__slide__overlay
                                                .events__list__slide__content
                                                    .events__list__slide__tag
                                                        ul
                                                            li
                                                                a(href="#").active образование
                                                            li
                                                                a(href="#") для него
                                                    .events__list__slide__title Тестовый заголовок
                                                    .events__list__slide__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aperiam consectetur culpa dolore ex fuga, iste laboriosam laborum maxime mollitia porro quam quasi quod recusandae reiciendis sapiente tempora voluptatibus?
                                                    .events__list__slide__btn
                                                        a(href="#") подробнее
                                                        button записаться
                            .tab-content#tab-2
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB МАСТЕР-КЛАССЫ ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB МАСТЕР-КЛАССЫ ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB МАСТЕР-КЛАССЫ ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB МАСТЕР-КЛАССЫ ТЕST SLIDE 4
                            .tab-content#tab-3
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB ФЕСТИВАЛИ ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB ФЕСТИВАЛИ ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB ФЕСТИВАЛИ ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB ФЕСТИВАЛИ ТЕST SLIDE 4
                            .tab-content#tab-4
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB СЕМИНАРЫ ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB СЕМИНАРЫ ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB СЕМИНАРЫ ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB СЕМИНАРЫ ТЕST SLIDE 4
                            .tab-content#tab-5
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB КОНСУЛЬТАЦИИ ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB КОНСУЛЬТАЦИИ ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB КОНСУЛЬТАЦИИ ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB КОНСУЛЬТАЦИИ ТЕST SLIDE 4
                            .tab-content#tab-6
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB ИНТЕНСИВ ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB ИНТЕНСИВ ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB ИНТЕНСИВ ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB ИНТЕНСИВ ТЕST SLIDE 4
                            .tab-content#tab-7
                                .swiper-container.js-tabs-slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            h1 TAB УСЛУГИ - ТЕST SLIDE 1
                                        .swiper-slide
                                            h1 TAB УСЛУГИ - ТЕST SLIDE 2
                                        .swiper-slide
                                            h1 TAB УСЛУГИ - ТЕST SLIDE 3
                                        .swiper-slide
                                            h1 TAB УСЛУГИ - ТЕST SLIDE 4
                        .events__list__bottom-content
                            a(href="").events__list__link
                                include ./partials/elements/arrow
                                span все семинары
                            .events__list__slider__nav
                                .events__list__slider-btn.events__list__slider-prev.js-list-events-slider-prev
                                    include partials/elements/left-arrow
                                .events__list__slider-btn.events__list__slider-next.js-list-events-slider-next
                                    include partials/elements/right-arrow
                    .events__closest
                        .events__closest__title Ближайшие
                        .events__closest__slider
                            .swiper-container.js-closest-events-slider
                                .swiper-wrapper
                                    each val in ['Исскуство поцелуя - Сакральное Почитание Мужского Достоинства', 'тестовый текст 1', 'тестовый текст 2']
                                        .swiper-slide.events__closest__slide
                                            .events__closest__date-section
                                                .events__closest__date 23.02, 24.02.2019
                                                .events__closest__date-content
                                                    .events__closest__time 12:00 - 18:00
                                                    .events__closest__loc Киев
                                            .events__closest__event-section
                                                .events__closest__tags
                                                    ul
                                                        li
                                                            a(href="#") курсы
                                                        li
                                                            a(href="#") фелляция
                                                        li
                                                            a(href="#") для нее
                                                .events__closest__theme=val
                                                .events__closest__level II уровень
                                            .events__closest__section
                                                .events__closest__user
                                                    .events__closest__user-photo
                                                        img(src="images/example/user-photo.jpg")
                                                    .events__closest__user-name Яна Восканян
                                                        a.events__closest__user-link(href="#") подробнее о мастере
                                                button.events__closest__btn записаться
                        .events__closest__calendar-section
                            a(href="#").events__closest__calendar-link
                                span.arrow
                                span Календарь мероприятий
                            .events__closest__slider__nav
                                .events__closest__slider-btn.events__closest__slider-prev.js-closest-events-slider-prev
                                    include partials/elements/left-arrow
                                .events__closest__slider-btn.events__closest__slider-next.js-closest-events-slider-next
                                    include partials/elements/right-arrow

                include ./partials/components/about-school
                .founder-block__container
                    include ./partials/components/founder
                .video-about-school__container
                    .video-about-school__content
                        .video-about-school__title Авторские техники, которые меняют жизнь к лучшему
                    .video-about-school__video.js-video-about-school__video.wow.fadeInRightSmall.animated
                        // video(src="")
                        iframe(width='100%', height='100%', src='https://www.youtube-nocookie.com/embed/RK1K2bCg4J8?controls=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                        .about-banner__poster.js-video-about-school__poster
                            button.js-video-about-school__video-play

                    .video-about-school__btn
                        button Подробнее о школе
                include ./partials/components/parthners
                include ./partials/components/offer
                include ./partials/components/testimonial
                include ./partials/components/news
                include ./partials/footer/footer

                //.test(style="height: 9999px")

        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/main.js")
        script(src="js/testimonial.js")
