doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .master
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                main
                    .master-about
                        img(src="images/founder.jpg", alt="").wow.fadeInUpSmall.animated
                        div
                            p.master-about__subtitle.wow.fadeInUpSmall.animated(data-wow-delay="0.2s") Основатель школы
                            p.master-about__title.wow.fadeInUpSmall.animated(data-wow-delay="0.4s") Светлана Пашкевич
                            p.master-about__text.wow.fadeInUpSmall.animated(data-wow-delay="0.6s") Президент Школы Совершенства Науки Любви Сексолог Психотерапевт Парапсихолог Духовный акушер Мастер международной категории по: ВУМ-билдингу, ИМ-билдингу, РИМ-билдингу Телесно-ориентированный психотерапевт Перинатальный психолог Эксперт телепрограмм, печатных и интернет-изданий.
                    .master-desc
                        p.master-desc__quote Я считаю, что  важное  в жизни Женщины - это сделать первый шаг на пути к своему счастью…
                        .master-desc__content
                            img(src="images/example/master1.jpg", alt="")
                            .master-desc__info
                                p Автор уникальных программ сексуального образования.
                                p И что самое главное — Женщина, Жена, а также Мама троих прекрасных деток.
                                ul.master-desc__contacts
                                    li.email
                                        a(href="#") info@loveperfectionschool.com
                                    li.phone
                                        a(href="#") +38 093 522 78 16
                                    li.social
                                        a.fb(href="#")
                                        a.instagram(href="#")
                    .master-programs
                        .section__title Программы Светланы Пашкевич
                        include ./partials/components/programs-slider
                    include ./partials/components/offer
                    .master-team
                        include ./partials/components/team
                include ./partials/footer/footer
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/team.js")
        script(src="js/testimonial.js")
        script(src="js/main.js")
