ul
    li
        a(target="_blank" href="index.html") INDEX
    li
        a(target="_blank" href="404.html") 404
    li
        a(target="_blank" href="about.html") ABOUT
    li
        a(target="_blank" href="article.html") ARTICLE
    li
        a(target="_blank" href="blog.html") BLOG
    li
        a(target="_blank" href="calendar.html") CALENDAR
    li
        a(target="_blank" href="contact.html") CONTACT
    li
        a(target="_blank" href="form.html") FORM
    li
        a(target="_blank" href="master.html") MASTER
    li
        a(target="_blank" href="privacy-policy.html") PRIVACY-POLICY
    li
        a(target="_blank" href="programm.html") PROGRAMM
    li
        a(target="_blank" href="programms-events.html") PROGRAMMS-EVENTS
    li
        a(target="_blank" href="thanks.html") THANKS
