doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .privacy-policy
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                main
                    .policy
                        .section__title Политика конфиденциальности
                        .policy__content
                            p Пользуясь сервисами, Вы доверяете нам свою личную информацию. Мы делаем все для обеспечения ее безопасности и в то же время предоставляем Вам возможность управлять своими данными. Внимательно изучите нашу Политику конфиденциальности, чтобы знать, какие сведения мы собираем, в каких целях их используем и как Вы можете их изменять, экспортировать или удалять.
                            p Мы предлагаем множество сервисов, которые помогают миллионам людей ежедневно узнавать что-то новое, решать различные задачи и просто общаться друг с другом. Вот лишь несколько примеров наших продуктов:
                            ul
                                li Упражнения и телесные практики.
                                li Освоение грамотной работы мышц тазового дна и глубоких мышц вагины.
                                li Различение работы мышц тазового дна и глубоких мышц вагины.
                                li Освоение комплекса упражнений (индивидуально для каждой Ученицы).
                            p Чтобы наши правила были как можно более понятными, мы добавили в них примеры, видеоролики и определения основных терминов. Если у Вас появятся вопросы в отношении Политики конфиденциальности,
                                a(href="#") свяжитесь с нами
                            h3 Типы информации
                            p Если Вы не выполнили вход в аккаунт Google, мы регистрируем информацию, которую собираем с помощью уникальных идентификаторов, связанных с браузерами, приложениями и устройствами. Это позволяет нам запоминать Ваши настройки и другие данные, чтобы Вам не приходилось указывать их заново при новом сеансе.
                            img(src="images/example/master1.jpg", alt="")
                            p.policy__slogan За четыре дня Вы получаете новый пласт собственного образования, который берете с собой в Жизнь, и применяете далее по своему выбору.
                include ./partials/footer/footer 
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")