doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .programms-events
            .main-wrap
                header.main-header__content
                    include ./partials/header/header
                main
                    .programms-events__container.tabs__wrapper
                        .programms-events__header
                            h2.section__title Наши мероприятия
                            p.programms-events__subtitle Уникальные авторские методики и курсы разработанные нашими учителями помогут вам достичь счастливой и сбалансированной жизни.
                            .tabs__buttons
                                button.list-btn.js-programms-list-btn
                                button.grid-btn.js-programms-grid-btn.active
                        .tabs-block
                            .tabs-block__nav.js-programms-block__tabs
                                .tabs-block__inner
                                    ul.tabs-block__list.js-programms-tabs
                                        li(data-tab="ptab-1").active курсы
                                        li(data-tab="ptab-2") Мастер-классы
                                        li(data-tab="ptab-3") фестивали
                                        li(data-tab="ptab-4") семинары
                                        li(data-tab="ptab-5") консультации
                                        li(data-tab="ptab-6") интенсив
                                        li(data-tab="ptab-7") услуги
                                .tabs-block__filter
                                    ul.filter-type
                                        li вумбилдинг
                                        li фелляция
                                        li сексуальное образование
                                        li дополнительные программы
                                    ul.filter-person
                                        li для нее
                                        li для пар
                                        li для всех
                                        li для беременных
                                                        .calendar-block__content
                            
                            .tabs-block__content
                                .tabs-grid.js-programms-grid.active
                                    .tabs-grid__content
                                        .tabs-grid__tab.js-tabs-grid__tab.active.ptab-1
                                            .programms-events-grid.programms-events-grid--first
                                                .events__list__slide
                                                    .events__list__slide__image
                                                        img(src="images/example/event-image.jpg")
                                                    .events__list__slide__content
                                                        .events__list__slide__tag
                                                            ul
                                                                li
                                                                    a(href="#").active сексуальное образование
                                                                li
                                                                    a(href="#") для нее
                                                        .events__list__slide__title Программа обучения нумерологии «Дух и Материя чисел»
                                                        .events__list__slide__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
                                                        .events__list__slide__other I ступень, II ступень, III ступень, IV ступень
                                                        .events__list__slide__descr Продолжительность курса:
                                                            mark каждая ступень 5 дней по 4 часа
                                                .programs-slider
                                                    .programs-slider__slide
                                                        .programs-slider__tag вумбилдинг
                                                        .programs-slider__image
                                                            img(src="images/example/programs-slide-1.jpg")
                                                        .programs-slider__content
                                                            .programs-slider__title
                                                                span для нее
                                                            .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                            .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                            .programs-slider__other II ступень
                                                            .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                        .programs-slider__actions
                                                            a(href="").btn.btn-white подробнее
                                                            a(href="").btn.btn-red записаться
                                                    .programs-slider__slide
                                                        .programs-slider__tag вумбилдинг
                                                        .programs-slider__image
                                                            img(src="images/example/programs-slide-1.jpg")
                                                        .programs-slider__content
                                                            .programs-slider__title
                                                                span для нее
                                                            .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                            .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                            .programs-slider__other II ступень
                                                            .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                        .programs-slider__actions
                                                            a(href="").btn.btn-white подробнее
                                                            a(href="").btn.btn-red записаться
                                            .programms-events-grid.programs-slider
                                                .programs-slider__slide
                                                    .programs-slider__tag вумбилдинг
                                                    .programs-slider__image
                                                        img(src="images/example/programs-slide-1.jpg")
                                                    .programs-slider__content
                                                        .programs-slider__title
                                                            span для нее
                                                        .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                        .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                        .programs-slider__other II ступень
                                                        .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                    .programs-slider__actions
                                                        a(href="").btn.btn-white подробнее
                                                        a(href="").btn.btn-red записаться
                                                .programs-slider__slide
                                                    .programs-slider__tag вумбилдинг
                                                    .programs-slider__image
                                                        img(src="images/example/programs-slide-1.jpg")
                                                    .programs-slider__content
                                                        .programs-slider__title
                                                            span для нее
                                                        .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                        .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                        .programs-slider__other II ступень
                                                        .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                    .programs-slider__actions
                                                        a(href="").btn.btn-white подробнее
                                                        a(href="").btn.btn-red записаться
                                                .programs-slider__slide
                                                    .programs-slider__tag вумбилдинг
                                                    .programs-slider__image
                                                        img(src="images/example/programs-slide-2.jpg")
                                                    .programs-slider__content
                                                        .programs-slider__title
                                                            span для нее
                                                            span для беременных
                                                        .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                        .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                        .programs-slider__other II ступень
                                                        .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                    .programs-slider__actions
                                                        a(href="").btn.btn-white подробнее
                                                        a(href="").btn.btn-red записаться
                                                .programs-slider__slide
                                                    .programs-slider__tag вумбилдинг
                                                    .programs-slider__image
                                                        img(src="images/example/programs-slide-1.jpg")
                                                    .programs-slider__content
                                                        .programs-slider__title
                                                            span для нее
                                                        .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                        .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                        .programs-slider__other II ступень
                                                        .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                    .programs-slider__actions
                                                        a(href="").btn.btn-white подробнее
                                                        a(href="").btn.btn-red записаться
                                                .programs-slider__slide
                                                    .programs-slider__tag вумбилдинг
                                                    .programs-slider__image
                                                        img(src="images/example/programs-slide-1.jpg")
                                                    .programs-slider__content
                                                        .programs-slider__title
                                                            span для нее
                                                        .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                                                        .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                                                        .programs-slider__other II ступень
                                                        .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                                                    .programs-slider__actions
                                                        a(href="").btn.btn-white подробнее
                                                        a(href="").btn.btn-red записаться

                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-2
                                            div G Мастер-классы
                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-3
                                            div G фестивали
                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-4
                                            div G семинары
                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-5
                                            div G консультации
                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-6
                                            div G интенсив
                                        .tabs-grid__tab.js-tabs-grid__tab.ptab-7
                                            div G услуги
                                .tabs-list.js-programms-list
                                    .tabs-list__content
                                        .tabs-list__tab.js-tabs-list__tab.active#ptab-1
                                            .programs-list.clearfix
                                                img(src="images/example/event-image.jpg", alt="")
                                                .programs-list__content
                                                    .programs-list__inner
                                                        .programs-list__slag
                                                            span.type дополнительные программы
                                                            span для всех
                                                        .programs-list__title Программа обучения нумерологии «Дух и Материя чисел»
                                                        .programs-list__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
                                                        .programs-list__level I ступень, II ступень, III ступень, IV ступень
                                                        .programs-list__time Продолжительность курса:
                                                            span каждая ступень 5 дней по 4 часа
                                                    .programs-list__action
                                                        p Регистрация по номеру
                                                            span +38 0ХХ ХХХ-ХХ-ХХ
                                                        p или онлайн:
                                                        button записаться на курс
                                            .programs-list.clearfix
                                                img(src="images/example/programs-slide-1.jpg", alt="")
                                                .programs-list__content
                                                    .programs-list__inner
                                                        .programs-list__slag
                                                            span.type дополнительные программы
                                                            span для всех
                                                        .programs-list__title Программа обучения нумерологии «Дух и Материя чисел»
                                                        .programs-list__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
                                                        .programs-list__level I ступень, II ступень, III ступень, IV ступень
                                                        .programs-list__time Продолжительность курса:
                                                            span каждая ступень 5 дней по 4 часа
                                                    .programs-list__action
                                                        p Регистрация по номеру
                                                            span +38 0ХХ ХХХ-ХХ-ХХ
                                                        p или онлайн:
                                                        button записаться на курс
                                        .tabs-list__tab.js-tabs-list__tab#ptab-2
                                            div G Мастер-классы
                                        .tabs-list__tab.js-tabs-list__tab#ptab-3
                                            div G фестивали
                                        .tabs-list__tab.js-tabs-list__tab#ptab-4
                                            div G семинары
                                        .tabs-list__tab.js-tabs-list__tab#ptab-5
                                            div G консультации
                                        .tabs-list__tab.js-tabs-list__tab#ptab-6
                                            div G интенсив
                                        .tabs-list__tab.js-tabs-list__tab#ptab-7
                                            div G услуги
                            a.programs-slider__link(href="#")
                                span загрузить еще

                    include ./partials/components/testimonial
                    include ./partials/components/offer

                include ./partials/footer/footer 
                
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/programms-events.js")
        script(src="js/testimonial.js")