doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .programs
            .main-wrap
                .programs__header__content.main-header__content
                    include ./partials/header/header
                    .programs__header__content__image(style="background-image: url(images/required/main-bg.jpg)")
                        // img(src="images/required/main-bg.jpg")
                    .head-slider__container
                        .head-slider
                            .head-slider__slide
                                .head-slider__tags
                                    ul
                                        li
                                            a(href="#") Семинар
                                        li
                                            a(href="#") Сексуальное образование
                                        li
                                            a(href="#") Для нее
                                .head-slider__title Сексуальная гармонизация, ВУМ-билдинг и основы тантры
                                .head-slider__text Программа глубокого изучения себя и трансформационной работы над собой на всех уровнях. В рамках семинара вы получаете гармоничное соединение знаний и инструментария: все то, что понадобится женщине ежедневно, что касается понимания тела и владения телом, а также обретения и поддержания природного женского здоровья.
                                .head-slider__additional
                                    .head-slider__additional__title Регистрация по номеру <br> или онлайн:
                                    .head-slider__additional__text +38 0ХХ ХХХ-ХХ-ХХ

                                button.head-slider__btn Подробнее о программе
                    .programs__info.wow.fadeInRightSmall.animated(data-wow-offset="100")
                        .programs__info__list
                            div
                                .programs__info__item
                                    .programs__info__title Уровень:
                                    .programs__info__info II ступень
                                .programs__info__item
                                    .programs__info__title Продолжительность курса:
                                    .programs__info__info 4 дня
                                    .programs__info__descr Занятия проходят каждый вторник в 18:00

                                .programs__info__item
                                    .programs__info__title Старт курса:
                                    .programs__info__info 24 ноября 2019 г.
                                    .programs__info__link
                                        a(href="#") Другие даты
                            div
                                .programs__info__item
                                    .programs__info__title Место проведения:
                                    .programs__info__info пр-т. И.Мазепы, 8а, Вышгород
                                    .programs__info__link
                                        a(href="#") Открыть карту
                                .programs__info__item
                                    .programs__info__title Мастер курса:
                                    .programs__info__user
                                        .programs__info__user__photo
                                            img(src="images/example/programs-info-image.jpg")
                                        .programs__info__user__name Светлана Пашкевич
                                            a.programs__info__user__link(href="#") подробнее о мастере

                .programs__course
                    .programs__course__title Что вы узнаете на семинаре
                    .programs__course__list
                        .programs__course__list__item
                            .programs__course__list__title 1. Объемный информационный курс
                            ul
                                li Физиология и метафизиология сексуальности.
                                li Физиология и метафизиология соития.
                                li Метафизиология и психоэмоциональная составляющая женского оргазма (все мифы и правда о женском оргазме).
                                li Точка G — мифы или реальность?
                                li Психология сексуальных взаимоотношений мужчины и женщины.
                                li Психосоматика и метафизика мужского и женского здоровья.
                                li Основы психогинекологии и практические рекомендации по самообследованию, профилактике заболеваний и поддержанию природного женского здоровья.
                                li Физиологические, психологические и метафизические аспекты зачатия, беременности и родов.
                                li Энергетическое взаимодействие в паре, энергетическое поле пары, канализация сексуальной энергии.

                        .programs__course__list__item
                            .programs__course__list__title 2. Освоение первой ступени системы ВУМ-билдинга
                            ul
                                li Упражнения и телесные практики.
                                li Освоение грамотной работы мышц тазового дна и глубоких мышц вагины.
                                li Различение работы мышц тазового дна и глубоких мышц вагины.
                                li Освоение комплекса упражнений (индивидуально для каждой Ученицы).

                        .programs__course__list__item
                            .programs__course__list__title 3. Глубокая терапевтическая работа над собой
                            ul
                                li Знакомство и присвоение своих страхов как огромного ресурса энергии.
                                li Осознавание табу и родовых блоков, которые мешают циркуляции жизненной энергии.
                                li Вскрытие внутренних зажимов и отработка их на уровне органики, психоэмоциональном и энергетическом уровнях.

                        .programs__course__list__item
                            .programs__course__list__title 4. Техники соитий
                            p Ученицы изучают разнообразные техники соитий и обретают телесные навыки для использования их в реальном диалоге с партнером. (Используется пневматический тренажер Муранивского).

                        .programs__course__list__item
                            .programs__course__list__title 5. Энергетические практики
                            ul
                                li Оргазмическая техника.
                                li Техника благодарения.
                                li Техника укоренения.
                                li Техника постановки желания на нефриты.

                        .programs__course__list__text За четыре дня Вы получаете новый пласт собственного образования, который берете с собой в Жизнь, и применяете далее по своему выбору.

                .programs__lessons
                    .programs__title-section Программа занятий
                    .programs__lessons__slider.js-programs-lessons-slider.swiper-container
                        .programs__lessons__slides.swiper-wrapper
                            .programs__lessons__slide.swiper-slide
                                .programs__lessons__title День 1
                                .programs__lessons__content
                                    ul
                                        li Основы психогинекологии и сексологии.
                                        li Физиология сексуальности.
                                        li Основы психологии секса: телесные взаимоотношения Мужчины и Женщины.
                                        li Таинство соития. Физиология и метафизика секса: что происходит с Мужчиной и Женщиной на всех уровнях во время соития.
                                        li Ответ на извечный вопрос: что чувствует Мужчина во время секса с Женщиной?
                                        li Самообследование: практические навыки для повседневной жизни.
                            .programs__lessons__slide.swiper-slide
                                .programs__lessons__title День 2
                                .programs__lessons__content
                                    ul
                                        li Терапевтическое поле согласно групповой динамике.
                                        li Физиология женского оргазма.
                                        li Мифы и реальность: эрогенные зоны и легендарная точка G.
                                        li Психосоматика и физиология женского здоровья.
                                        li Практические рекомендации по поддержанию женского здоровья и профилактике женских заболеваний.
                                        li ВУМ-билдинг.
                                        li Ознакомление с пневматическим тренажером Муранивского.
                                        li Ознакомление с автономным тренажером Никитиной.
                                        li Освоение базовых упражнений по развитию вагинальных мышц.
                                        li Освоение навыков работы мышцами тазового дна и глубокими мышцами
                        .team-block__nav
                            button.team-block__btn.team-block__btn-prev.js-team-block__btn-prev
                                include ./partials/elements/left-arrow
                            button.team-block__btn.team-block__btn-next.js-team-block__btn-next
                                include ./partials/elements/right-arrow

                .programs__registration
                    div
                        .programs__registration__descr Также Вас ожидают подарки, приятные сюрпризы и чудеса :)
                        blockquote Будьте крылаты и творите!
                        p Регистрация по номеру
                            span +38 0ХХ ХХХ-ХХ-ХХ
                        p или запишитесь онлайн:
                        button записаться на курс
                include ./partials/components/article-testimonial
                .programs__offer
                    .section__title Курсы, которые могут вас заинтересовать
                    include ./partials/components/programs-slider

                include ./partials/footer/footer

        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")
        script(src="js/main.js")
        script(src="js/programm.js")
        script(src="js/article.js")
