doctype html
html(lang="ru")
    include ./partials/head/head

    body
        .thanks
            .main-wrap
                .thanks__content
                    p Благодарим за запись на консультацию к Светлане Пашкевич!
                    .thanks__date
                        span Дата консультации:
                        span 24.05.2019
                    .thanks__date
                        span Время:
                        span 16:00
                    p В ближайшее время на указанный вами адрес придет письмо с подтверждением записи.
                    p Ждем вас!
                    a(href="#") 
                        include ./partials/elements/arrow
                        span вернуться на сайт
        include ./scripts/scripts
        script(src="js/vendor.js")
        script(src="js/custom.js")