footer.footer
    .footer__container
        .footer__info
            a.footer__logo(href="index.html")
                img(src="images/svg/logo.svg", alt="logo")
            .footer__contacts
                ul
                    li.email
                        a(href="#") info@loveperfectionschool.com
                    li.phone
                        a(href="#") +38 093 522 78 16
                        a(href="#") +38 093 522 78 16
                    li.social
                        a.fb(href="#")
                        a.instagram(href="#")
        .footer__content
            .footer__nav
                ul
                    li
                        a(href="programms-events.html") Программы и Мероприятия
                    li
                        a(href="calendar.html") Календарь
                    li
                        a(href="about.html") О школе
                    li
                        a(href="blog.html") Блог
                    li
                        a(href="contact.html") Контакты
                    li.footer__privacy-policy
                        a(href="privacy-policy.html") Политика конфеденциальности
            .footer__form 
                include ../components/form-feedback
            .footer__subscription
                p Подписка на рассылку
                form(action="#")
                    input(type="email" value="" name="email" placeholder="Ваш E-mail")
                    input(type="submit" value="подписаться")
    p.footer__rights Все права защищены
