.section-about
    h2.section__title О Школе
    p.section-subtitle Школа Совершенства Науки любви — это не только образовательный центр, но и Дом, в который Вы приходите за Собой, где вы найдете все интересующие Мужчину и Женщину курсы, программы для становления интимного здоровья и гармонизации сексуальных отношений.
    ul.advantages-block
        li.advantages-block__item
            h3.advantages-block__title.advantages-block__title--love Любовь
            p Короткое описание преимущества - буквально в одну-две, максимум в три строки
        li.advantages-block__item
            h3.advantages-block__title.advantages-block__title--money Деньги
            p Короткое описание преимущества - буквально в одну-две, максимум в три строки
        li.advantages-block__item
            h3.advantages-block__title.advantages-block__title--health Здоровье
            p Короткое описание преимущества - буквально в одну-две, максимум в три строки
        li.advantages-block__item
            h3.advantages-block__title.advantages-block__title--harmony Гармония
            p Короткое описание преимущества - буквально в одну-две, максимум в три строки