.article-testimonial
            .section__title Впечатления о курсе
            ul.article-testimonial__list
                li.article-testimonial__item.wow.fadeInUpSmall.animated
                    .testimonial-block
                        .testimonial-block__header
                            img(src="images/example/couple2.jpg" alt="")
                            div
                                p Андрей
                                span 3 дня назад
                        .testimonial-block__content.js-testimonial-block__content
                            p Здравствуйте!
                            p 25 февраля этого года прошел курс по МЕН-билдингу в вашей школе. До этого перенес разрыв с любимым человеком и на протяжении трех лет был одинок, случайные сексуальные связи и не более. Через два месяца после курса я встретил девушку неземной красоты, доброты и чувственности... Мы очень любим друг друга. Я поправил свое финансовое состояние, которое, к слову, не остановилось, а продолжает расти.
                            p Спасибо вам до глубины души за вашу щедрость.
                            p Искренне ваш ученик.
                        button.testimonial-block__btn.js-testimonial-block__btn
                    .comments-block
                        button.comments-block__btn.js-comments-block__btn Ответить
                        .comments-block__form
                            img(src="" alt="")
                            form(action="#")
                                input(type="text" value="" name="comment-name" placeholder="Ваше имя")
                                textarea(name="comment-message" rows="4" placeholder="Текст сообщения")
                                input(type="submit" value="отправить")
                        div
                            .comments-block__header
                                img(src="images/founder.jpg" alt="")
                                div
                                    p Светлана Пашкевич
                                    span 3 дня назад
                            .comments-block__content
                                p Здравствуйте!
                                p Андрей! Спасибо Вам за теплые слова!
                                button.comments-block__btn Ответить
                li.article-testimonial__item.wow.fadeInUpSmall.animated
                    .testimonial-block
                        .testimonial-block__header
                            img(src="images/example/couple2.jpg" alt="")
                            div
                                p Андрей
                                span 3 дня назад
                        .testimonial-block__content.js-testimonial-block__content
                            p Здравствуйте!
                            p 25 февраля этого года прошел курс по МЕН-билдингу в вашей школе. До этого перенес разрыв с любимым человеком и на протяжении трех лет был одинок, случайные сексуальные связи и не более. Через два месяца после курса я встретил девушку неземной красоты, доброты и чувственности... Мы очень любим друг друга. Я поправил свое финансовое состояние, которое, к слову, не остановилось, а продолжает расти.
                            p Спасибо вам до глубины души за вашу щедрость.
                            p Искренне ваш ученик.
                        button.testimonial-block__btn.js-testimonial-block__btn
                    .comments-block
                        button.comments-block__btn.js-comments-block__btn Ответить
                        .comments-block__form
                            img(src="" alt="")
                            form(action="#")
                                input(type="text" value="" name="comment-name" placeholder="Ваше имя")
                                textarea(name="comment-message" rows="4" placeholder="Текст сообщения")
                                input(type="submit" value="отправить")
            .article-testimonial__form
                    .article-form__title Ваш отзыв
                    .article-form__subtitle Оставьте свой комментарий о курсе:
                    form.comment-form(action="#")
                        div
                            input(type="text" value="" name="name" placeholder="Ваше Имя")
                        div
                            input(type="email" value="" name="email" placeholder="Ваш E-mail")
                        div
                            textarea(name="message" rows="6" placeholder="Текст отзыва")
                        div
                            input(type="checkbox")
                            label Вы согласны с политикой конфеденциальности
                        input(type="submit" value="отправить")
