.event-block
    .event-block__heading
        .event-block__date
            span 01
            span Понедельник
        .event-block__type
            span семинар
        .event-block__slag
            span сексуальное образование
            span для нее
    img.event-block__img(src="images/example/event-image.jpg", alt="")
    .event-block__content
        .event-block__title Сила интеллекта и мистика сексуальности: где мост между мирами?
        .event-block__text Как перестать искать свое место или среди умных, или среди красивых и начать жить? Мастер-класс о сексуальности, телесности, интеллекте и о том, какими способами можно это всё соединить для проживания собственной жизни в гармонии.
        .event-block__footer
            span I ступень, II ступень, III ступень, IV ступень
            p Продолжительность курса:
                span каждая ступень 5 дней по 4 часа
    .event-block__action
        .event-registration
            p Регистрация по номеру
            p.event-registration__tel +38 0ХХ ХХХ-ХХ-ХХ
            p или онлайн:
            button записаться на курс
        .event-calendar
            p Добавить в Google Calendar
            button