.form-feedback
    p Форма обратной связи
    form(action="#")
        div
            input(type="text" value="" name="name" placeholder="Как вас зовут?")
        div
            input(type="email" value="" name="email" placeholder="E-mail для связи")
        div
            textarea(name="message" rows="4" placeholder="Текст сообщения")
        div
            input(type="checkbox")
            label Вы согласны с политикой конфеденциальности
        input(type="submit" value="отправить")