.founder-block
    .founder-block__image.wow.fadeInUpSmall.animated
        img(src="images/founder.jpg" alt="founder")
    .founder-block__content
        h2.section__title.wow.fadeInUpSmall.animated(data-wow-delay="0.2s") Основатель школы
        p.founder-block__subtitle.wow.fadeInUpSmall.animated(data-wow-delay="0.4s")  Светлана Пашкевич
        p.founder-block__text.wow.fadeInUpSmall.animated(data-wow-delay="0.6s")  Автор уникальных программ сексуального образования Президент Школы Совершенства Науки Любви Сексолог Психотерапевт Парапсихолог Духовный акушер Мастер международной категории по: ВУМ-билдингу, ИМ-билдингу, РИМ-билдингу Телесно-ориентированный психотерапевт Перинатальный психолог Эксперт телепрограмм, печатных и интернет-изданий.
        a.section-team__link.wow.fadeInUpSmall.animated(href="#" data-wow-delay="0.8s") больше о мастере
