section.section-news
    .section__title Новости школы
    .news-block
        .news-block__item
            .news-block__slag школа
            img(src="images/example/couple1.jpg", alt="")
            .news-block__content
                p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                p.news-block__date 12.09.2019
        .news-block__item
            .news-block__slag школа
            img(src="images/example/pregnant.jpg" alt="")
            .news-block__content
                p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                p.news-block__date 12.09.2019
        .news-block__item
            .news-block__slag школа
            img(src="images/example/engagement.jpg" alt="")
            .news-block__content
                p.news-block__desc Сексолог Світлана Пашкевич: «Оргазм жінки — це справа жінки, а не чоловіка»
                p.news-block__date 12.09.2019
    a.section-news__btn(href="#") все статьи тут
