.section-offer
    h2.section__title Стань земной Богиней
    p.section__subtitle Выбери программу и начни свой путь совершенной Женщины
    .offer-block
        p Позвоните нам по номеру
        div
            a(href="tel:#") +38 0ХХ ХХХ-ХХ-ХХ;
            a(href="tel:#") +38 0ХХ ХХХ-ХХ-ХХ
        span или запишитесь онлайн:
        button записаться на консультацию