.parthners
    .parthners__title Наши партнеры
    .parthners__slider
        .swiper-container.js-parthners-slider
            .swiper-wrapper
                each val in [1, 2, 3, 4, 5, 6, 7, 8]
                    .swiper-slide
                        .parthners__slide
                            img(src="")
        .parthners__slider__btn.parthners__slider__prev.js-parthners-slider-prev
            include ../elements/left-arrow
        .parthners__slider__btn.parthners__slider__next.js-parthners-slider-next
            include ../elements/right-arrow
