.section-progress
    h2.section__title Достижения, которыми гордимся
    ul.section-progress__list
        li 
            p Все мастера нашей школы имеют диплом сексолога и психолога
        li
            p 90% гостей побывавших хотя бы на одном мероприятии становятся постоянными учениками школы
        li
            p Мероприятия школы проводятся в пяти странах мира