.programs-slider
    .swiper-container.js-programs-slider
        .swiper-wrapper
            .programs-slider__slide.swiper-slide
                .programs-slider__tag вумбилдинг
                .programs-slider__image
                    img(src="images/example/programs-slide-1.jpg")
                .programs-slider__content
                    .programs-slider__title
                        span для нее
                    .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                    .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями. Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                    .programs-slider__other II ступень
                    .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                .programs-slider__actions
                    a(href="").btn.btn-white подробнее
                    a(href="").btn.btn-red записаться
            .programs-slider__slide.swiper-slide
                .programs-slider__tag вумбилдинг
                .programs-slider__image
                    img(src="images/example/programs-slide-2.jpg")
                .programs-slider__content
                    .programs-slider__title
                        span для нее
                        span для беременных
                    .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                    .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                    .programs-slider__other II ступень
                    .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                .programs-slider__actions
                    a(href="").btn.btn-white подробнее
                    a(href="").btn.btn-red записаться
            .programs-slider__slide.swiper-slide
                .programs-slider__tag вумбилдинг
                .programs-slider__image
                    img(src="images/example/programs-slide-1.jpg")
                .programs-slider__content
                    .programs-slider__title
                        span для нее
                    .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                    .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                    .programs-slider__other II ступень
                    .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                .programs-slider__actions
                    a(href="").btn.btn-white подробнее
                    a(href="").btn.btn-red записаться
            .programs-slider__slide.swiper-slide
                .programs-slider__tag вумбилдинг
                .programs-slider__image
                    img(src="images/example/programs-slide-2.jpg")
                .programs-slider__content
                    .programs-slider__title
                        span для нее
                        span для беременных
                    .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                    .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                    .programs-slider__other II ступень
                    .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                .programs-slider__actions
                    a(href="").btn.btn-white подробнее
                    a(href="").btn.btn-red записаться
            .programs-slider__slide.swiper-slide
                .programs-slider__tag вумбилдинг
                .programs-slider__image
                    img(src="images/example/programs-slide-1.jpg")
                .programs-slider__content
                    .programs-slider__title
                        span для нее
                    .programs-slider__text Сексуальная гармонизация, ВУМ-билдинг и основы тантры. Экстра DEEP
                    .programs-slider__about Двухмодульная интерактивная программа для родителей и для тех, кто готовится стать родителями.
                    .programs-slider__other II ступень
                    .programs-slider__descr Продолжительность курса: <mark> 4 дня </mark>
                .programs-slider__actions
                    a(href="").btn.btn-white подробнее
                    a(href="").btn.btn-red записаться

    a(href="#").programs-slider__link
        span Все программы тут
