.section-team
    .team-block
        h2.section__title Наши мастера
        .team-block__container.swiper-container.js-team-block__container
            ul.team-block__list.swiper-wrapper
                li.team-block__item.swiper-slide.clearfix
                    img(src="images/example/team-member1.jpg" alt="team-member")
                    .team-block__content
                        h3.team-block__title Яна Восканян
                        p.team-block__subtitle Мастер Школы Совершенства Науки Любви
                        .line-separation
                        p.team-block__desc Сексолог
                        p.team-block__desc.team-block__desc-last Телесно-ориентированный психотерапевт
                        .team-block__inner
                            p.team-block__excerpt Я считаю, что  важное  в жизни Женщины - это сделать первый шаг на пути к своему счастью…
                    .line-separation
                    a.section-team__link(href="#") больше о мастере
                li.team-block__item.swiper-slide.clearfix
                    img(src="images/example/team-member2.jpg" alt="team-member")
                    .team-block__content
                        h3.team-block__title Ольга Сафронова
                        p.team-block__subtitle Мастер-Гость «Школы Совершенства Науки Любви»
                        .line-separation
                        p.team-block__desc Сексолог
                        p.team-block__desc.team-block__desc-last Телесно-ориентированный психотерапевт
                        .team-block__inner
                            p.team-block__excerpt Я считаю, что  важное  в жизни Женщины - это сделать первый шаг на пути к своему счастью…
                    .line-separation
                    a.section-team__link(href="#") больше о мастере
            .team-block__nav
                button.team-block__btn.team-block__btn-prev.js-team-block__btn-prev
                    include ../elements/left-arrow
                button.team-block__btn.team-block__btn-next.js-team-block__btn-next
                    include ../elements/right-arrow
