.section-testimonial
    h2.section__title Истории
    .comment-block.swiper-container.js-comment-block
        ul.comment-block__list.swiper-wrapper
            li.comment-block__item.swiper-slide
                .comment-block__heading
                    img(src="images/example/couple2.jpg" alt="")
                    div
                        p Андрей
                        span Впечатления от МЕН-билдинга.
                .comment-block__content
                    p Здравствуйте!
                    p 25 февраля этого года прошел курс по МЕН-билдингу в вашей школе. До этого перенес разрыв с любимым человеком и на протяжении трех лет был одинок, случайные сексуальные связи и не более. Через два месяца после курса я встретил девушку неземной красоты, доброты и чувственности... Мы очень любим друг друга. Я поправил свое финансовое состояние, которое, к слову, не остановилось, а продолжает расти.
                    p Спасибо вам до глубины души за вашу щедрость.
                    p Искренне ваш ученик.
        .comment-block__nav
            .comment-block__btn.comment-block__btn-prev.js-comment-block__btn-prev
                include ../elements/left-arrow
            .comment-block__btn.comment-block__btn-next.js-comment-block__btn-next
                include ../elements/right-arrow