<!--[if IE 9]>
html.IExplorer
<![endif]-->
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    meta(name='description' content='')
    meta(name='Keywords', content='')
    link(href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet")
    //link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
    //link(rel="icon", href="favicon.ico", type="image/x-icon")
    //link(rel="icon", href="icon32.png", sizes="32x32")
    //link(rel="icon", href="icon192.png", sizes="192x192")
    //link(rel="apple-touch-icon", href="icon180.png", )
    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/main.css")

    title


